@use "../settings";
@use "../helpers/spacing";

$directions: (
  all: all,
  top: top,
  right: right,
  bottom: bottom,
  left: left,
);

@each $size, $map in settings.$kim-spacing {
  @each $key, $dir in $directions {
    .kim-\!-margin#{if($key != "all", "-" + $key, null)}-#{$size} {
      @include spacing.kim-responsive-margin(
        $spacing-point: $size,
        $direction: $dir,
        $important: true
      );
    }
    .kim-\!-padding#{if($key != "all", "-" + $key, null)}-#{$size} {
      @include spacing.kim-responsive-padding(
        $spacing-point: $size,
        $direction: $dir,
        $important: true
      );
    }
  }
}
