$_directions: (
  all: all,
  block: block,
  block-start: block-start,
  block-end: block-end,
  inline: inline,
  inline-start: inline-start,
  inline-end: inline-end,
);

@for $i from 0 through 9 {
  @each $key, $dir in $_directions {
    .kim-\!-margin#{if($key != "all", "-" + $key, null)}-#{$i} {
      margin#{if($key != "all", "-" + $key, null)}: if(
        $i == 0,
        0,
        var(--space-#{$i})
      ) !important;
    }
    .kim-\!-padding#{if($key != "all", "-" + $key, null)}-#{$i} {
      padding#{if($key != "all", "-" + $key, null)}: if(
        $i == 0,
        0,
        var(--space-#{$i})
      ) !important;
    }
  }
}
