@use "../settings";
@use "../helpers/typography";
@use "../helpers/colors";
@use "../helpers/media-queries";

@use "sass:math";

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

:root {
  --color-text: #{colors.kim-color("black")};
  --color-background: #{colors.kim-color("white")};
  --color-subtle: #{colors.kim-color("grey")};
  --color-accent: #{colors.kim-color("kimberly")};
}

@include media-queries.kim-dark {
  :root {
    --color-text: #{colors.kim-color("white")};
    --color-background: #{colors.kim-color("black")};
    --color-subtle: #{colors.kim-color("grey")};
    --color-accent: #{colors.kim-color("neon-magenta")};
  }
}

.kimPage {
  font-size: clamp(16px, 1.22vw, 30px);
  text-size-adjust: 100%;
  @if settings.$kim-font-sizes-root != 16px {
    font-size: settings.$kim-font-sizes-root;
  }
  &_body {
    @include typography.kim-typography-common;
    @include typography.kim-font-stack(body);
    @include typography.kim-font-size(19);
    min-height: 100vh;
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-background);
  }
}
