@use "../settings";
@use "../helpers/typography";
@use "../helpers/colors";
@use "../helpers/media-queries";

@use "sass:map";
@use "sass:math";

:root {
  @each $name, $map in settings.$kim-color-palette-semantic {
    --color-#{$name}: #{map.get($map, "light")};
  }
}

@include media-queries.kim-dark {
  :root {
    @each $name, $map in settings.$kim-color-palette-semantic {
      --color-#{$name}: #{map.get($map, "dark")};
    }
  }
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.kimPage {
  background-color: var(--color-background);
  font-size: clamp(16px, 1.22vw, 30px);
  text-size-adjust: 100%;
  @if settings.$kim-font-sizes-root != 16px {
    font-size: settings.$kim-font-sizes-root;
  }
  &_body {
    @include typography.kim-typography-common;
    @include typography.kim-font-stack(body);
    @include typography.kim-font-size(19);
    min-block-size: 100vh;
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-background);
  }
}
