@use "../settings";

@use "../helpers/colors";
@use "../helpers/media-queries";
@use "../helpers/typography";

@use "sass:map";
@use "sass:math";

:root {
  @each $name in map.keys(settings.$kim-color-palette-semantic) {
    --color-#{$name}: #{colors.kim-color($name, "dark")};
  }
}

@include media-queries.kim-light {
  :root {
    @each $name in map.keys(settings.$kim-color-palette-semantic) {
      --color-#{$name}: #{colors.kim-color($name, "light")};
    }
  }
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.kimPage {
  background-color: colors.kim-color-css("background");
  font-size: clamp(16px, 1.22vw, 22px);
  text-size-adjust: 100%;
  @if settings.$kim-font-sizes-root != 16px {
    font-size: settings.$kim-font-sizes-root;
  }
  &_body {
    @include typography.kim-typography-common;
    @include typography.kim-font-stack(body);
    @include typography.kim-font-size(19);
    min-block-size: 100vh;
    margin: 0;
    color: colors.kim-color-css("text");
    background-color: colors.kim-color-css("background");
  }
}
