@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";

code {
	@include spacing.kim-responsive-padding(1, $direction: inline);
	@include typography.kim-font-stack(code);
	color: settings.$kim-color-white;
	background-color: settings.$kim-color-grey;
	font-size: .9em;
}

pre code {
	@include spacing.kim-responsive-padding(1, $direction: block);
	display: block;
	overflow-x: auto;
}