{% macro kimBlogCard(post, options) %}
  {% set element = options.element if options.element else "li" %}
  <{{ element }}
    class="kimBlogCard {%- if options.inline %} kimBlogCard-inline{% endif %}"
    itemprop="blogPost"
    itemscope
    itemtype="https://schema.org/BlogPosting">
    <strong class="kimBlogCard_heading">
      {%- if options.prelabel %}{{ options.prelabel }}: {% endif -%}
      <a class="kimLink kimBlogCard_link" href="{{ post.url | absoluteUrl(site.domain) }}" itemprop="url" {%- if options.rel %} rel="{{ options.rel }}"{% endif %}>
        <span itemprop="name">
          {{- post.data.title | markdownInline | safe -}}
        </span>
      </a>
    </strong>
    <time class="kimBlogCard_date" datetime="{{ post.date | formatDate('iso') }}" itemprop="dateCreated">
      {{- post.date | formatDate('human') -}}
    </time>
    {%- if post.data.updated %}
      <time class="kimBlogCard_date" datetime="{{ post.data.updated | formatDate('iso') }}" itemprop="dateUpdated">
        Updated {{ post.data.updated | formatDate('human') -}}
      </time>
    {%- endif %}
  </{{ element }}>
{% endmacro %}