<nav aria-label="Blog navigation">
  <ul class="kimList" aria-label="Post tags">
    <li>
      <a class="kimLink{%- if page.url !== '/blog/' %}-plain{% endif %}" href="{{ '/blog/' | url }}" {%- if page.url === '/blog/' %} aria-current="true"{% endif %}>All posts</a>
    </li>
    {% for tag in collections.tags %}
      {% set tagUrl %}/blog/{{ tag | slugify }}/{% endset %}
      <li>
        <a class="kimLink{%- if page.url !== tagUrl %}-plain{% endif %}" href="{{ tagUrl | url }}" {%- if page.url === tagUrl %} aria-current="true"{% endif %}>{{ tag | tagify }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ '/feed.xml' | url }}" target="_blank">
    RSS feed
  </a>
</nav>

<hr class="kimRule kimRule-hairline">