{% macro kimBlogCard(post, options) %}
  {% set element = options.element if options.element else "li" %}
  <{{ element }}
    class="kimBlogCard {%- if options.inline %} kimBlogCard-inline{% endif %}"
    itemprop="blogPost"
    itemscope
    itemtype="https://schema.org/BlogPosting">
    <strong class="kimBlogCard_heading">
      <a class="kimLink kimBlogCard_link" href="{{ site.domain }}{{ post.url | url }}" itemprop="url" {%- if options.rel %} rel="{{ options.rel }}"{% endif %}>
        <span itemprop="name">
          {{- post.data.title | markdownInline | safe -}}
        </span>
      </a>
    </strong>
    <div class="kimBlogCard_date">
      <time datetime="{{ post.date | formatDate('iso') }}" itemprop="dateCreated">
        {{- post.date | formatDate('human') -}}
      </time>
      {%- if post.data.updated %}
        <span class="kim-!-margin-inline-start-3">
          Last updated
          <time datetime="{{ post.data.updated | formatDate('iso') }}" itemprop="dateUpdated">
            {{- post.data.updated | formatDate('human') -}}
          </time>
        </span>
      {%- endif %}
    </div>
  </{{ element }}>
{% endmacro %}