<fieldset class="kimColorSchemeSwitch" hidden>
	<legend class="kim-!-sr">Select colour scheme</legend>
	<div class="kimColorSchemeSwitch_inner">
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="auto" id="color-scheme-auto">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-auto">Auto</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="dark" id="color-scheme-dark">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-dark">Dark</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="light" id="color-scheme-light">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-light">Light</label>
		</div>
	</div>
</fieldset>
