<fieldset class="kimColorSchemeSwitch" hidden>
	<legend class="kim-!-sr">Select colour scheme</legend>
	<div class="kimColorSchemeSwitch_inner">
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="auto" id="color-scheme-auto">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-auto">Auto</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="ada" id="color-scheme-ada">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-ada">ADA</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="ash" id="color-scheme-ash">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-ash">Ash</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="alex" id="color-scheme-alex">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-alex">Alex</label>
		</div>
		<div class="kimColorSchemeSwitch_item">
			<input class="kimColorSchemeSwitch_input" type="radio" name="color-scheme" value="emy" id="color-scheme-emy">
			<label class="kimColorSchemeSwitch_label" for="color-scheme-emy">Emy</label>
		</div>
	</div>
</fieldset>
