{%- if site.environment == "dev" %}
  <details id="dev-tag">
    <summary id="dev-tag__label">
      <span>Development</span>
    </summary>
    <div>
      <code>page</code>
      <textarea>{{ page | dump }}</textarea>
      <code>site</code>
      <textarea>{{ site | dump }}</textarea>
      <code>eleventy</code>
      <textarea>{{ eleventy | dump }}</textarea>
    </div>
  </details>

  <style>
    #dev-tag {
      width: 100%;
    }
    #dev-tag[open] {
      background-color: red;
    }
    #dev-tag summary {
      padding: .25em 1em .25em .5em;
      color: white;
      background-color: red;
      font-size: smaller;
      font-weight: bold;
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;
    }
    #dev-tag summary::-webkit-details-marker { display: none; }
    #dev-tag div {
      display: grid;
      grid-template-columns: 8em 1fr;
      gap: .5em;
      padding: .5em;
    }
    #dev-tag textarea {
      width: 100%;
      height: 10em;
      resize: vertical;
    }
  </style>
{%- endif %}