{# Technical metadata #}
<meta charset="UTF-8">
<meta name="generator" content="{{ eleventy.generator }}">

{# Determine which OpenGraph image to use for things #}
{% set openGraphUrl = (page.url + 'opengraph/') %}
{%- if isBlogTagPage %}
  {% set openGraphUrl = '/blog/opengraph/' %}
{%- endif %}

{#- Content metadata / OpenGraph #}
<link rel="canonical" href="{{ page.url | absoluteUrl(site.domain) }}">
<meta property="og:url" content="{{ page.url | absoluteUrl(site.domain) }}">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{ metadata.title if metadata.title else title }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:image" content="{{ openGraphUrl | absoluteUrl(site.domain) | urlizeOpenGraphImage }}">
<meta property="og:type" content="{{ "article" if isBlogPost else "website" }}">
{%- if metadata.description %}
  <meta name="description" content="{{ metadata.description }}">
  <meta property="og:description" content="{{ metadata.description }}">
{%- endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitterUsername }}">
<meta name="twitter:creator" content="{{ site.twitterUsername }}">
{%- if metadata.noRobots %}
  <meta name="robots" content="noindex, nofollow">
{%- endif %}

{#- Theming/icons #}
<meta name="theme-color" content="#2a2536" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<link rel="icon" href="{{ '/assets/images/icons/favicon.ico' | url | cachebust }}" sizes="32x32">
<link rel="icon" href="{{ '/assets/images/icons/favicon.svg' | url | cachebust }}" sizes="any" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ '/assets/images/icons/icon-180.png' | url | cachebust }}">
<link rel="mask-icon" href="{{ '/assets/images/icons/icon-mask.svg' | url | cachebust }}" color="#786999">
<link rel="manifest" href="{{ '/assets/images/icons/site.webmanifest' | url | cachebust }}">