{%- macro _tocItem(item) %}
  <li>
    <a class="kimLink-plain" href="#{{ item.id }}">{{ item.html | safe }}</a>
    {%- if item.children | length > 0 %}
      <ul class="kimList kim-!-margin-inline-start-4 kim-!-margin-block-start-1 kim-!-margin-block-end-0">
        {%- for ci in item.children %}
          {{ _tocItem(ci) }}
        {%- endfor %}
      </ul>
    {%- endif %}
  </li>
{%- endmacro %}

<nav class="kimToc" aria-labelledby="toc-heading">
  <h2 class="kimHeading-2xs" id="toc-heading">Contents</h2>
  <ul class="kimList kimBody-s kimToc_list">
    {%- for i in toc %}
      {{ _tocItem(i) }}
    {%- endfor %}
  </ul>
</nav>