{%- if (content | toc) %}
  <nav class="kimToc" aria-labelledby="toc-heading">
    <h2 class="kimBody kimToc_heading" id="toc-heading">Contents</h2>
    {{ content | toc('{"tags": ["h2", "h3"], "wrapper": "div", "wrapperClass": "kimToc_inner"}') | safe }}
  </nav>
{%- endif %}