---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  order: 2
title: Kim Does Blog
permalink: "/blog/"
---

<hr class="kimRule kimRule--m kimRule--visible">
<div class="kim-!-padding-top-9 kim-!-padding-bottom-9 kim-!-background-color-white">
<div class="kimWrapper">
  <h1 class="kimHeading-xl">Kim Does Blog</h1>
  {% set postslistCounter = collections.blog | length %}
  <ol class="kimGrid">
  {% for post in collections.blog | reverse %}
    <li class="kim-!-padding-3">
      <a href="{{ post.url | url }}" {%- if post.url == url %} aria-current="page"{% endif %}>
        {%- if post.data.title -%}
          {{ post.data.title }}
        {%- else -%}
          {{ post.url }}
        {%- endif -%}
      </a>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </li>
  {% endfor %}
  </ol>
</div>
</div>