---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  order: 3
title: Kim Does Blog
permalink: "/blog/"
---

<div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
<div class="kimWrapper">
  <h1 class="kimHeading-xl">Kim Does Blog</h1>
  <p class="kimBody-l">This is my personal blog. To be honest, the stuff I write here is often vague and intended for my own future reference moreso than to be read by anyone else. I should probably work on that.</p>
  {% set postslistCounter = collections.blog | length %}
  <ol class="kimList kimList-spaced">
  {% for post in collections.blog | reverse %}
    <li>
      <a href="{{ post.url | url }}">
        {%- if post.data.title -%}
          {{ post.data.title }}
        {%- else -%}
          {{ post.url }}
        {%- endif -%}
      </a><br>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </li>
  {% endfor %}
  </ol>
</div>
</div>