---
title: My brand! - Kim-brand-ly Grey
description: Style guide for my personal projects.
---

{% extends '_layouts/layout.njk' %}

{% macro _swatch(colorHex, colorName) %}
  <div class="kimGrid_column kimGrid_column-full constitution:kimGrid_column-oneHalf defiant:kimGrid_column-oneThird">
    <div class="page-swatch">
      <div class="page-swatch__sample" aria-hidden="true" style="background-color:{{ colorHex }}"></div>
      <span><code>{{ colorName }}</code><br>{{ colorHex }}</span>
    </div>
  </div>
{% endmacro %}

{% macro _combo(textColor, backgroundColor, text) %}
  <div class="kimGrid_column kimGrid_column-full constitution:kimGrid_column-oneHalf defiant:kimGrid_column-oneThird">
    <div class="page-combo" aria-hidden="true" style="color:{{ textColor }};background-color:{{ backgroundColor }}">
      {{ text }}
    </div>
  </div>
{% endmacro %}

{% block main %}
<div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
  <div class="kimWrapper">
  
    <h1 class="kimHeading-xl">My brand!</h1>
    <p class="kimBody-l">A lot of famous individuals are well known for <a href="https://edition.cnn.com/2015/10/09/world/gallery/decision-fatigue-same-clothes/index.html">always wearing the same clothes</a>. Usually they credit this to reducing &ldquo;decision fatigue&rdquo; &ndash; not having to choose how to dress every day leaves time to mull over the more important decisions. I don&rsquo;t wear exactly the same clothes every day, but when it comes to building random pages and side projects, I usually spend more time thinking about how it looks than how it works.</p>
    <p class="kimBody-l">Since late-2021, I&rsquo;ve tried to cut down on decision fatigue by making my projects use the same set of basic rules.</p>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l">Typography</h2>
      <div class="page-row">
        <div class="page-typerun" aria-hidden="true" style="font-family: 'Space Mono'">
          UNIT-01 will trigger instrumentality. 
        </div>
        <p class="kimBody">
          <strong>Space Mono</strong> is used for headings and as a stylistic alternative for small amounts of body copy. It&rsquo;s best used with ligatures disabled: <code>font-feature-settings: "liga" 0;</code>
        </p>
      </div>
      <div class="page-row">
        <div class="page-typerun" aria-hidden="true" style="font-family: 'Space Grotesk'">
          Get in the damn robot, Shinji Ikari.
        </div>
        <p class="kimBody">
          <strong>Space Grotesk</strong> is used primary copy.
        </p>
      </div>
    </section>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l">Colours</h2>
      <div class="page-row">
        <div class="kimGrid">
          {{ _swatch("#786999", "kimberly") }}
          {{ _swatch("#4b5475", "grey") }}
          {{ _swatch("#1c1924", "bastille") }}
          {{ _swatch("#b9e587", "emy") }}
          {{ _swatch("#ff0090", "neon") }}
          {{ _swatch("#ffffff", "white") }}
        </div>
      </div>
    </section>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l">Colour combos</h2>
      <div class="page-row">
        <div class="kimGrid">
          {{ _combo("#786999", "#ffffff", "Con") }}
          {{ _combo("#4b5475", "#ffffff", "gra") }}
          {{ _combo("#1c1924", "#ffffff", "tul") }}
          {{ _combo("#ff0090", "#1c1924", "ati") }}
          {{ _combo("#b9e587", "#1c1924", "ons") }}
          {{ _combo("#ffffff", "#1c1924", "!!!") }}
        </div>
        <p class="kimBody">There are no hard and fast rules around how colours are used together, but these combinations tend to work well together (and are accessible!).</p>
      </div>
    </section>
    
  </div>
</div>
{% endblock %}

{% block head %}
<style>
  .page-row {
    border-bottom: 1px solid var(--color-subtle);
  }
  .page-typerun {
    white-space: nowrap;
    color: var(--color-accent);
    font-size: 1.375rem;
    font-size: max(22px, 5vw);
    overflow: hidden;
  }
  .page-swatch {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .page-swatch__sample {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    border: 1px solid var(--color-subtle);
    border-radius: 50%;
  }
  .page-combo {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--color-subtle);
    font-size: 1.375rem;
    font-size: max(22px, 5vw);
    font-weight: bold;
  }
</style>
{% endblock %}