---
title: My brand
description: Style guide for my personal projects.
---

{% extends '_layouts/layout.njk' %}

{% macro _swatch(colorName, colorHex) %}
  <li>
    <div class="page-swatch">
      <div class="page-swatch__sample" aria-hidden="true" style="background-color: var(--demo-color-{{ colorName }})"></div>
      <div>
        <span>{{ colorName }}</span><br>
        <code>{{ colorHex }}</code>
      </div>
    </div>
  </li>
{% endmacro %}

{% macro _combo(textColor, backgroundColor, text) %}
  <li>
    <div class="page-combo" aria-hidden="true" style="color: var(--demo-color-{{ textColor }});border-color: var(--demo-color-{{ textColor }});background-color:var(--demo-color-{{ backgroundColor }})">
      {{ text }}
    </div>
    <p class="kimBody">{{ textColor }} and {{ backgroundColor }}</p>
  </li>
{% endmacro %}

{% block main %}
<div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
  <div class="kimWrapper">
  
    <h1 class="kimHeading-xl">My brand</h1>
    <p class="kimBody-l">A lot of famous individuals are well known for <a href="https://edition.cnn.com/2015/10/09/world/gallery/decision-fatigue-same-clothes/index.html">always wearing the same clothes</a>. Usually they credit this to reducing &ldquo;decision fatigue&rdquo; &ndash; not having to choose how to dress every day leaves time to mull over the more important decisions.</p>
    <p class="kimBody">I don&rsquo;t wear exactly the same clothes every day, but when it comes to building random pages and side projects, I usually spend more time thinking about how it looks than how it works. Consequentially, since late-2021, I&rsquo;ve tried to cut down on decision fatigue by making my personal projects follow the same set of basic design rules.</p>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l" id="typography">Typography</h2>
      <p class="kimBody">Generally the italic forms are not used (Grotesk doesn&rsquo;t even have one). The bold weight is also used fairly sparingly.</p>
      <div class="page-row">
        <div class="page-typerun" aria-hidden="true" style="font-family: 'darkmode-mono-on'">
          <div style="font-weight: 900">
            And on the pedestal, these words appear:
          </div>
          <div style="font-weight: 700">
            My name is Ozymandias, King of Kings;
          </div>
          <div style="font-weight: 500">
            Look on my Works, ye Mighty, and despair!
          </div>
          <div style="font-weight: 400">
            Nothing beside remains. Round the decay
          </div>
        </div>
        <p class="kimBody">
          <a href="https://www.daltonmaag.com/library/darkmode-mono">Darkmode Mono</a> is used for headings, code snippets, and as a stylistic alternative for small amounts of text.
        </p>
      </div>
      <div class="page-row">
        <div class="page-typerun" aria-hidden="true" style="font-family: 'darkmode-on-cc'">
          <div style="font-weight: 700">
            Of that colossal Wreck, boundless and bare
          </div>
          <div style="font-weight: 400">
            The lone and level sands stretch far away.
          </div>
        </div>
        <p class="kimBody">
          <a href="https://www.daltonmaag.com/library/darkmode">Darkmode</a> is used for prose and other text.
        </p>
      </div>
    </section>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l" id="colours">Colours</h2>
      <div class="page-row">
        <p class="kimBody">Six colours. Shades and tints allowed but not provided.</p>
        <ul class="kimList kimList-columns">
          {{ _swatch("kimberly", "#786999") }}
          {{ _swatch("emy", "#B3FFB3") }}
          {{ _swatch("ketchup", "#DD6031") }}
          {{ _swatch("mustard", "#FFD447") }}
          {{ _swatch("black", "#334139") }}
          {{ _swatch("white", "#FFFFFF") }}
        </ul>
      </div>
    </section>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l" id="#colour-combinations">Colour combinations</h2>
      <div class="page-row">
        <p class="kimBody">There are no hard and fast rules around how colours are used together, but these combinations tend to work well together (and are accessible!).</p>
        <ul class="kimList kimList-columns">
          {{ _combo("black", "white", "bats!") }}
          {{ _combo("kimberly", "white", "bats!") }}
          {{ _combo("ketchup", "white", "bats!") }}
          {{ _combo("emy", "black", "bats!") }}
          {{ _combo("mustard", "black", "bats!") }}
          {{ _combo("white", "black", "bats!") }}
        </ul>
      </div>
    </section>
    
    <section class="kim-!-margin-top-9">
      <h2 class="kimHeading-l" id="logo">Logo?</h2>
      <div class="page-row">
        <p class="kimBody">This isn&rsquo;t used a whole lot, but in places where a logo or icon is needed—and the space is either too small or a dabbing robot bat would be inappropriate—there&rsquo;s an icon.</p>
        <p class="kimBody">This is a very recent addition, so will probably be tweaked and refined a bit before it settles down.</p>
        <div style="max-width:320px;background-color:white" class="kim-!-margin-bottom-6 kim-!-padding-6">
          <img src="{{ '/safari-pinned-tab.svg' | url }}" alt="Robot bat icon">
        </div>
      </div>
    </section>
    
  </div>
</div>
{% endblock %}

{% block head %}
<style>
  :root {
    --demo-color-kimberly: #786999;
    --demo-color-emy: #B3FFB3;
    --demo-color-ketchup: #DD6031;
    --demo-color-mustard: #FFD447;
    --demo-color-black: #334139;
    --demo-color-white: #ffffff;
  }
  .page-row {
    border-block-end: .25rem solid var(--color-furniture);
  }
  .page-typerun {
    margin-block-end: 1rem;
    white-space: nowrap;
    color: var(--color-accent);
    font-size: 1.375rem;
    font-size: max(22px, 5vw);
    overflow: hidden;
  }
  .page-swatch {
    display: flex;
    align-items: center;
    margin-block-end: 1.5rem;
  }
  .page-swatch__sample {
    display: inline-block;
    inline-size: 2.5em;
    block-size: 2.5em;
    margin-inline-end: 1em;
    border: .25rem solid var(--color-text);
    border-radius: 50%;
  }
  .page-combo {
    margin-block-end: 1.5rem;
    padding: 1rem;
    border: .25rem solid var(--color-text);
    font-size: 1.375rem;
    font-size: max(22px, 5vw);
    font-weight: bold;
  }
</style>
{% endblock %}