---
title: Kimberly Grey's Curriculum Vitae
description: Kimberly Grey's Curriculum Vitae
permalink: "/cv/"
---

{% extends '_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <h1 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-xl">
        Hi, I&rsquo;m Kimberly Grey
        </h1>
      </div>
      <div class="kimGrid">
        <dl class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters">
          <div>
            <dt>Pronouns</dt>
            <dd>she/her</dd>
          </div>
          <div>
            <dt>Location</dt>
            <dd>Bristol, UK</dd>
          </div>
          <div>
            <dt>Email</dt>
            <dd><a href="mailto:hi@berly.kim">hi@berly.kim</a></dd>
          </div>
          <div>
            <dt>Website</dt>
            <dd><a href="//berly.kim">berly.kim</a></dd>
          </div>
          <div>
            <dt>GitHub</dt>
            <dd><a href="//github.com/querkmachine">querkmachine</a></dd>
          </div>
          <div>
            <dt>LinkedIn</dt>
            <dd><a href="//linkedin.com/in/querkmachine">querkmachine</a></dd>
          </div>
        </dl>
      </div>
      <section class="kim-!-margin-top-8">
        <header class="kimGrid">
          <h2 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-l">Experience</h2>
        </header>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Front-end developer<br>
              Government Digital Service, Cabinet Office
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2022-03/">March 2022&ndash;present</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Front-end developer on the GOV.UK Design System, used across central government (and beyond) to build joined up, consistent, and accessible user-centred services.</p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Lead front-end developer &amp; accessibility and inclusivity advocate<br>
              at Felinesoft, Bristol
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2014-06/2022-02">June 2014&ndash;February 2022</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Felinesoft is a flat-hierarchy Microsoft .NET development agency. My primary role is to take designs and turn them into design systems whilst embedding progressive enhancement principles, accessibility and responsive design in the process. Here I’ve worked with dozens of clients including the Royal Photographic Society, Rolls-Royce Motor Cars, Jack Daniel&rsquo;s, The Kennel Club, and the British Association for Counselling and Psychotherapy.</p>
              <p>In carrying out this role I defined evolutionary (and at times, revolutionary) process changes to embed best practice into every part of the design and development process. I also created a raft of open- and closed-source frameworks including FSForms, a best-practice forms library; Kickstart, a Fractal-based design system framework; and Felafel, a services-oriented bootstrapping library.</p>
              <p>I’ve also worked as a PHP developer, graphic designer, UX and UI designer on disparate projects where those skills were required.</p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Founder and managing director<br>
              at Severn Bronies
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2012-07/">July 2012&ndash;present</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Originally the Bristol Bronies, the Severn Bronies is a community hub serving the My Little Pony fandom in south-west England and south Wales. We organise and hold meets every week, ranging from small socials to elaborate events incorporating gaming, cosplay, vendors, live programming, and more. We’ve popped up in the media a few times, including in the Bristol Post, BBC Points West, BBC Inside Out, and Jeremy Vine’s Radio 2 show.</p>
              <p>We make efforts to be active in the community and have fundraised for local charities, as well as having our own network for supporting transgender and gender non-conforming individuals. I organise the meets, perform administrative and financial duties, and design and maintain the group’s website and brand identity.</p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Freelance web developer
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2013-04/2014-06">April 2013&ndash;June 2014</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Self-employed website designer and developer, doing contracted work for agencies and small companies in and around Bristol.</p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Full-stack web developer<br>
              at Goram + Vincent, Bristol
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2012-07/2013-04">July 2012&ndash;April 2013</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Industrial placement year at a small full-service agency in Bristol. I worked across the stack doing front- and back-end development, CMS management and server administration work for a number of high-profile clients, including Drinkaware, Brothers Cider, the BMJ, and Glorious Brands; working as lead developer on some projects. </p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Bits on the side
            </h3>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>In the past I’ve also served time as a wiki administrator (2008&ndash;2012), charity retail volunteer (2011&ndash;2012), social media administrator (2007&ndash;2011), editor-in-chief of a fanzine (2007&ndash;2010), and as a classroom assistant (2006&ndash;2008).</p>
              <p>In my free time I’ve written some open-source stuff, including <a href="//github.com/querkmachine/vanilla-validation">Vanilla Validation</a> (a styling layer over ValidityState), <a href="//github.com/querkmachine/nova-randomize-everything">Randomize Everything</a> (a Nova editor extension), and <a href="//github.com/querkmachine/felafel">Felafel</a> (an extensible boilerplate component library).</p>
            </div>
          </div>
        </section>
      </section>
      <section class="kim-!-margin-top-8">
        <header class="kimGrid">
          <h2 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-l">Education</h2>
        </header>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              2:1 Web Design BSc (Hons)<br>at the University of the West of England, Bristol
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2010/2014">2010&ndash;2014</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>An extensive course focused on website design and development, including focuses on designing information, user experience and programming in a range of front-end and back-end languages. This course was heavily vocational, with several modules focusing on real world applications with real world clients. Actively involved in the university&rsquo;s video gaming and sci-fi/fantasy societies (and vaguely involved in the Quidditch society too.)</p>
            </div>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Aquinas College, Stockport
            </h3>
            <time class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter" datetime="2008/2010">2008&ndash;2010</time>
          </header>
          <div class="kimGrid">
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimProse">
              <p>Achieved grade C in A-Level Computing, Politics &amp; General Studies. Achieved grade D in Applied ICT. Also tried my hand at Philosophy, which was super fun, but unfortunately failed the subject.</p>
            </div>
          </div>
        </section>
      </section>
      <section class="kim-!-margin-top-8">
        <header class="kimGrid">
          <h2 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-l">Skills</h2>
        </header>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Concepts
            </h3>
          </header>
          <div class="kimGrid">
            <dl class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters">
              <div>
                <dt>Fluent</dt>
                <dd>Design systems</dd>
                <dd>Progressive enhancement</dd>
                <dd>Responsive design</dd>
                <dd>Semantic web</dd>
                <dd>Web accessibility</dd>
              </div>
              <div>
                <dt>Experienced</dt>
                <dd>Data visualisation</dd>
                <dd>Internationalisation and localisation</dd>
                <dd>Information architecture</dd>
                <dd>Progressive web apps</dd>
                <dd>Service design</dd>
                <dd>UX design</dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Languages
            </h3>
          </header>
          <div class="kimGrid">
            <dl class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters">
              <div>
                <dt>Fluent</dt>
                <dd>CSS</dd>
                <dd>HTML</dd>
                <dd>JavaScript (vanilla!)</dd>
                <dd>Liquid</dd>
                <dd>Markdown</dd>
                <dd>Nunjucks</dd>
                <dd>Sass/SCSS</dd>
                <dd>Twig</dd>
                <dd>Wikitext</dd>
              </div>
              <div>
                <dt>Experienced</dt>
                <dd>Coffeescript</dd>
                <dd>Haml</dd>
                <dd>MySQL</dd>
                <dd>PHP</dd>
                <dd>Regular Expressions</dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Frameworks and tools
            </h3>
          </header>
          <div class="kimGrid">
            <dl class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters">
              <div>
                <dt>Fluent</dt>
                <dd>git / git flow</dd>
                <dd>Gulp</dd>
                <dd>Vue.js</dd>
                <dd>Node.js</dd>
                <dd>npm / Yarn</dd>
                <dd>Babel</dd>
                <dd>Mailchimp</dd>
                <dd>WordPress (including Timber)</dd>
                <dd>MediaWiki</dd>
                <dd>Eleventy</dd>
                <dd>Jekyll</dd>
              </div>
              <div>
                <dt>Experienced</dt>
                <dd>Grunt</dd>
                <dd>Rollup</dd>
                <dd>Browserify</dd>
                <dd>Webpack</dd>
                <dd>Express.js</dd>
                <dd>Socket.io</dd>
                <dd>Jest / Puppeteer</dd>
                <dd>D3.js</dd>
                <dd>React</dd>
                <dd>React Native</dd>
                <dd>Umbraco</dd>
                <dd>Craft</dd>
                <dd>ExpressionEngine</dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="kim-!-margin-top-4">
          <header class="kimGrid">
            <h3 class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimHeading-s">
              Software
            </h3>
          </header>
          <div class="kimGrid">
            <dl class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters">
              <div>
                <dt>Fluent</dt>
                <dd>Adobe Photoshop</dd>
                <dd>Adobe Illustrator</dd>
                <dd>Most Unix-like terminals running Bash or Zsh (I use Zsh)</dd>
                <dd>Most code editors (I currently use Nova)</dd>
                <dd>The usual office software</dd>
              </div>
              <div>
                <dt>Experienced</dt>
                <dd>Adobe XD</dd>
                <dd>Sketch</dd>
                <dd>Microsoft DevOps</dd>
                <dd>Microsoft Visual Studio</dd>
              </div>
            </dl>
          </div>
        </section>
      </section>
      <footer class="kimGrid kim-!-margin-top-8">
        <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-threeQuarters kimBody-s">
          Please note: I legally changed my name in 2015 for personal reasons. As a result, certifications, references and other documentation from before then (as well as certain documents from afterwards) may be under a different name. Don’t be surprised if you reach out to my university and they’ve never heard of me!
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block head %}
 <style>
  .kimPage {
    font-size: 16px; 
  }
  dl {
    display: flex;
    flex-wrap: wrap;
  }
  dl div {
    margin-right: 1.5rem;
    margin-bottom: .5rem;
  }
  dl dt {
    display: inline-block;
    margin-right: .125em;
    font-weight: bold;
  }
  dl dt::after {
    content: ':';
  }
  dl dd {
    display: inline;
    margin: 0;
  }
  dl dd + dd::before {
    content: '\2022';
    margin: 0 .25em 0 .125em; 
  }
  @media print {
    h1, h2, h3, h4 { page-break-after: avoid; }
  }
</style>
{% endblock %}

{% block masthead %}{% endblock %}
{% block footer %}{% endblock %}