---
title: beeps — Bristol-based web developer
description: The personal website of beeps (aka, Kim Grey), the web developer, not the other ones.
---

{% extends '_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf kim-!-margin-bottom-8">
          <h1 class="kimHeading-xl kim-!-margin-bottom-2">
            Hello, I&rsquo;m<br>
            <span style="color: var(--color-accent)">beeps</span>!
          </h1>
        </div>
        <div class="kimGrid_column kimGrid_column-full galaxy:kimGrid_column-oneHalf intrepid:kimGrid_column-oneQuarter">
          <p class="kimBody">I&rsquo;m a Bristol-based front-end developer specialising in accessibility, design systems, and the semantic web. I currently work at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a> on the <a href="http://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
        </div>
        <div class="kimGrid_column kimGrid_column-full galaxy:kimGrid_column-oneHalf intrepid:kimGrid_column-oneQuarter">
          <p class="kimBody">I'm an <a href="{{ '/about/gender/' | url }}">agender</a> (it/its), aggressively <a href="{{ '/about/asexuality/' | url }}">asexual</a>, kinda weird <a href="{{ '/about/robot/' | url }}">robot-identifying person</a>. I'm also a <a href="{{ '/about/furry/' | url }}">furry</a>. It's a bit complicated.</p>
          <p class="kimBody">This is my personal website which is perpetually unfinished.</p>
        </div>
      </div>
    </div>
  </div>
  <section class="kim-!-margin-top-9 kim-!-margin-bottom-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf" aria-hidden="true">&nbsp;</div>
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <header class="kim-!-margin-bottom-3">
            <h2 class="kimHeading-l">Blog</h2>
          </header>
          <ol class="kimList kimList-spaced">
            {% for post in collections.blog | reverse | head(3) %}
              <li>
                <a href="{{ post.url | url }}" class="kimLink">
                  {%- if post.data.title -%}
                    {{ post.data.title }}
                  {%- else -%}
                    {{ post.url }}
                  {%- endif -%}
                </a><br>
                <time datetime="{{ post.date | formatDate('iso') }}">{{ post.date | formatDate('human') }}</time>
              </li>
            {% endfor %}
          </ol>
          <footer>
            <a href="{{ '/blog' | url }}" class="kimLink">More blog posts &rarr;</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block masthead %}{# Where we're going, we don't need mastheads. #}{% endblock %}