---
title: Where to find beeps (that isn't Twitter)
description: Links to places beeps exists that aren't Twitter
---

{% extends '_layouts/layout.njk' %}

{% block main %}
	<div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
		<div class="kimWrapper">
			<h1 class="kimHeading-xl">
				Places to find beeps<br>(that aren't Twitter)
			</h1>
			<p class="kimBody-l">Elon Musk is doing a great job at making Twitter an unpleasant place to be, as an employee and as a user.</p>
			<p class="kimBody">Although I don't intend to stop using Twitter in the near future, I'm preparing alternatives where I can be found and followed. Where possible, content will be mirrored across multiple accounts, so don't feel like you need to follow everything.</p>
		
			<div class="kimTableWrapper">
				<table class="kimTable">
					<thead>
						<tr>
							<td></td>
							<th scope="col">Twitter</th>
							<th scope="col">Mastodon</th>
							<th scope="col">Other</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">
								<p class="kimHeading-s kim-!-margin-block-end-0">General</p>
								<p class="kim-!-margin-block-0">Idle ramblings.</p>
							</th>
							<td><a href="//twitter.com/batbeeps">@batbeeps</a></td>
							<td><a href="//awoo.space/@batbeeps">@batbeeps<br>on awoo.space</a></td>
							<td><a href="//cohost.org/batbeeps">batbeeps<br>on Cohost</a></td>
						</tr>
						<tr>
							<th scope="row">
								<p class="kimHeading-s kim-!-margin-block-end-0">Sudo</p>
								<p class="kim-!-margin-block-0">Private, deep thoughts.</p>
							</th>
							<td><a href="//twitter.com/sudo_batbeeps">@sudo_batbeeps</a></td>
							<td><a href="//plural.cafe/@sudo_batbeeps">@sudo_batbeeps<br>on plural.cafe</a></td>
							<td><a href="//beeps-bot.tumblr.com">beeps-bot<br>on Tumblr</a></td>
						</tr>
						<tr>
							<th scope="row">
								<p class="kimHeading-s kim-!-margin-block-end-0">Dark Mode</p>
								<p class="kim-!-margin-block-0">NSFW kink-adjacent content.</p>
							</th>
							<td><a href="//twitter.com/dark_batbeeps">@dark_batbeeps</a></td>
							<td><a href="//thicc.horse/@dark_batbeeps">@dark_batbeeps<br>on thicc.horse</a></td>
							<td>&mdash;</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<p class="kimBody">My online &ldquo;rules of engagement&rdquo; for alternative platforms are the same as those previously documented in <a href="//beeps.website/blog/2022-09-06-how-i-use-twitter/">How I Use Twitter</a>.</p>
		</div>
	</div>
{% endblock %}