---
title: Where to find beeps (that isn't Twitter)
description: Links to places beeps exists that aren't Twitter
---

{% extends '_layouts/layout.njk' %}

{% block main %}
	<div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
		<div class="kimWrapper">
			<div class="kimGrid">
				<div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-twoThirds">
					<h1 class="kimHeading-xl">
						Places to find beeps<br>(that aren't Twitter)
					</h1>
					<p class="kimBody-l">Elon Musk is doing a great job at making Twitter an unpleasant place to be, as an employee and as a user.</p>
					<p class="kimBody">Although I don't intend to stop using Twitter in the near future, I'm preparing alternatives where I can be found and followed. Where possible, content will be mirrored across multiple accounts, so don't feel like you need to follow everything.</p>
					
					<h2>General</h2>
					<p class="kimBody">Typical contents: Discussion of work, web development, reposts of funny things, and generally whatever I tend to be up to with my day.</p>
					<ul class="kimList">
						<li>My blog: <a href="//beeps.website/blog">beeps.website/blog</a></li>
						<li>Mastodon: <a href="//chitter.xyz/@batbeeps">batbeeps@chitter.xyz</a></li>
						<li>Cohost: <a href="//cohost.org/batbeeps">batbeeps</a></li>
					</ul>
					
					<h2>Intimate</h2>
					<p class="kimBody">Typical contents: Reflections about self-identity, gushing, plurality, venting and other things I generally don't want a wide audience to see.</p>
					<ul class="kimList">
						<li>Mastodon: <a href="//plural.cafe/@sudo_batbeeps">sudo_batbeeps@plural.cafe</a></li>
						<li>Olive's Mastodon: <a href="//plush.city/@olive">olive@plush.city</a></li>
						<li>Robotkin vibes blog (Tumblr): <a href="//beeps-bot.tumblr.com/">beeps-bot</a></li>
					</ul>
					
					<h2>Dark mode</h2>
					<p class="kimBody">Typical contents: Ponderances about (non-)human sexuality, kinks, and other things generally inappropriate for minors.</p>
					<ul class="kimList">
						<li>Mastodon: <a href="//thicc.horse/@dark_batbeeps">dark_batbeeps@thicc.horse</a></li>
					</ul>
					
					<hr class="kimRule">
					
					<p class="kimBody">My online &ldquo;rules of engagement&rdquo; for alternative platforms are the same as those previously documented in <a href="//beeps.website/blog/2022-09-06-how-i-use-twitter/">How I Use Twitter</a>.</p>
					
				</div>
			</div>

		</div>
	</div>
{% endblock %}