---
title: Work
---

{% extends '_layouts/layout.njk' %}

{% block main %}
<div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
  <div class="kimWrapper">
  
    <h1 class="kimHeading-xl">Work</h1>
    <p class="kimBody-l">I don&rsquo;t have a portfolio and I&rsquo;m pretty bad at selling myself in general, so here&rsquo;s a long list of companies and projects I&rsquo;ve worked on, first in reverse chronological order, then in alphabetical order (just to keep you on your toes).</p>
    
    <h2 class="kimHeading-l">
      <a class="kimLink" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
      (2022&ndash;present)
    </h2>
    <ul class="kimList kimList-inline">
      <li>GOV.UK Design System</li>
    </ul>
    
    <h2 class="kimHeading-l">
      <a class="kimLink" href="https://felinesoft.com">Felinesoft</a>
      (2014&ndash;2022)
    </h2>
    <ul class="kimList kimList-inline">
      <li>Art Fund</li>
      <li>Association for Project Management</li>
      <li>Airmic</li>
      <li>British Medical Association</li>
      <li>BACP</li>
      <li>College of Policing</li>
      <li>Consol</li>
      <li>Henry Smith Charity</li>
      <li>I CAN</li>
      <li>International Broadcasting Convention</li>
      <li>The Kennel Club</li>
      <li>Les Mills</li>
      <li>Macmillan Cancer Support</li>
      <li>MINI</li>
      <li>NewGlobe Education</li>
      <li>Rolls-Royce Motor Cars</li>
      <li>Royal Photographic Society</li>
      <li>Royal Society of Medicine</li>
      <li>Ski Miquel</li>
      <li>Spotlight</li>
      <li>The Vegan Society</li>
      <li>West of England Combined Authority</li>
    </ul>
    
    <h2 class="kimHeading-l">
      <a class="kimLink" href="https://goramandvincent.com/">Goram &amp; Vincent</a>
      (2012&ndash;2013)
    </h2>
    <ul class="kimList kimList-inline">
      <li>Beeston Media</li>
      <li>BMJ Informatica</li>
      <li>Brothers Cider</li>
      <li>Continental AG</li>
      <li>Drinkaware</li>
      <li>Glorious Brands</li>
      <li>Ontology Systems</li>
      <li>Shiner</li>
      <li>Stila</li>
    </ul>
    
    <h2 class="kimHeading-l">
      And the rest
    </h2>
    <ul class="kimList kimList-inline">
      <li>Encyclopedia Robotica</li>
      <li>The Furtean Times</li>
      <li>Library Music Archive</li>
      <li>MyFursona</li>
      <li>Severn Bronies</li>
      <li>WikiFur</li>
    </ul>
    
  </div>
</div>
{% endblock %}