@font-face {
  font-family: "Hubot Sans";
  src:
    url("Hubot-Sans.woff2") format("woff2 supports variations"),
    url("Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: normal;
  font-stretch: 75% 125%;
  font-optical-sizing: auto;
  font-display: swap;
}

@font-feature-values "Hubot Sans" {
  @styleset {
    human: 1;
    machine: 4;
  }
}
