@use "../helpers/media-queries";

.kimPage {
  background-color: var(--color-background);
  text-size-adjust: 100%;
}

.kimPage_body {
  min-block-size: 100vb;
  margin: 0;
  color: var(--color-text);
  background-color: transparent;
  font-family: var(--font-body);
  font-size: var(--size-0);
  font-feature-settings: "onum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-wrap: pretty;
  line-height: 1.5;

  @include media-queries.kim-print {
    color: black !important;
    background-color: white !important;
  }
}
