@use "../settings";
@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";
@use "../helpers/typography";

// I use the same colours for code snippets regardless of dark/light mode
// settings. There are also lots of colours here not used elsewhere on the site,
// as more colours are needed than are in the beeps brand palette.

.kimPage {
  --color-code-background: #{settings.$kim-color-deep-purple};
  --color-code-text: #{settings.$kim-color-white};
  --color-code-h-red: 5;
  --color-code-h-orange: 30;
  --color-code-h-yellow: 45;
  --color-code-h-green: 120;
  --color-code-h-cyan: 175;
  --color-code-h-blue: 210;
  --color-code-h-purple: 260;
  --color-code-h-pink: 300;
  --color-code-s: 50%;
  --color-code-l: 75%;
}

code {
  @include typography.kim-font-stack(code, $weight: 400);
  @include typography.kim-font-size(16);
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  font-variant-ligatures: none;
  font-feature-settings: "lnum", "tnum";
}

// Unhighlighted inline code
:not(pre) > code {
  padding-block: 0.1em;
  padding-inline: 0.2em;
  white-space: normal;
  word-break: break-word;
}

// Code blocks
pre > code {
  @include spacing.kim-responsive-padding(3);
  @include typography.kim-vr-margin(19);
  display: block;
  border: measurements.kim-border-width("regular") solid
    colors.kim-color-css("furniture");
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  tab-size: 4;
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  overflow-x: auto;
}

pre[class*="language-"] {
  display: block;
  white-space: break-spaces;
}

pre > code[class*="language-"] {
  .hljs-comment {
    color: hsl(
      var(--color-code-h-purple) var(--color-code-s) var(--color-code-l)
    );
    font-style: italic;
  }
  .hljs-tag,
  .hljs-selector-tag,
  .hljs-keyword,
  .hljs-meta,
  .hljs-variable,
  .hljs-literal {
    color: hsl(
      var(--color-code-h-yellow) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-selector-id {
    color: hsl(var(--color-code-h-red) var(--color-code-s) var(--color-code-l));
  }
  .hljs-selector-class,
  .hljs-title.function_ {
    color: hsl(
      var(--color-code-h-cyan) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-property,
  .hljs-params {
    color: hsl(
      var(--color-code-h-blue) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-attr,
  .hljs-selector-attr,
  .hljs-title.class_ {
    color: hsl(
      var(--color-code-h-pink) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-selector-pseudo,
  .hljs-attribute {
    color: hsl(
      var(--color-code-h-green) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-string,
  .hljs-subst {
    color: var(--color-code-text);
  }
  .hljs-number {
    color: hsl(
      var(--color-code-h-orange) var(--color-code-s) var(--color-code-l)
    );
  }
  .hljs-meta,
  .hljs-title.class_ {
    font-weight: bold;
  }
}
