@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";

// I use the same colours for code snippets regardless of dark/light mode
// settings. There are also lots of colours here not used elsewhere on the site,
// as more colours are needed than are in the site palette.

$code-color-background: black;
$code-color-text: #fff;
$code-glow: 0 0 0.25em currentcolor;

code {
  @include typography.kim-font-stack(code, $weight: 400);
  @include typography.kim-font-size(16);
  color: $code-color-text;
  background-color: $code-color-background;
  font-variant-ligatures: none;
}

// Unhighlighted inline code
:not(pre) > code {
  padding-block: 0.1em;
  padding-inline: 0.2em;
  white-space: normal;
  word-break: break-word;
}

// Code blocks
pre > code {
  @include spacing.kim-responsive-padding(3);
  @include typography.kim-vr-margin(19);
  display: block;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  tab-size: 4;
  color: $code-color-text;
  background-color: $code-color-background;
  overflow-x: auto;
}

pre[class*="language-"] {
  display: block;
  white-space: break-spaces;
}

pre > code[class*="language-"] {
  .hljs-comment {
    color: #6b77b3;
    font-style: italic;
  }
  .hljs-tag,
  .hljs-selector-tag,
  .hljs-keyword,
  .hljs-meta,
  .hljs-variable,
  .hljs-literal {
    color: #faf4e0;
    text-shadow: $code-glow;
  }
  .hljs-selector-id {
    color: #f0a8a8;
    text-shadow: $code-glow;
  }
  .hljs-selector-class,
  .hljs-title.function_ {
    color: #b2feff;
    text-shadow: $code-glow;
  }
  .hljs-property,
  .hljs-params {
    color: #b2d8ff;
    text-shadow: $code-glow;
  }
  .hljs-attr,
  .hljs-selector-attr,
  .hljs-title.class_ {
    color: #f594d1;
    text-shadow: $code-glow;
  }
  .hljs-selector-pseudo,
  .hljs-attribute {
    color: #f547b2;
    text-shadow: $code-glow;
  }
  .hljs-string,
  .hljs-subst {
    color: $code-color-text;
  }
  .hljs-number {
    color: #ff4265;
  }
  .hljs-meta,
  .hljs-title.class_ {
    font-weight: bold;
  }
}
