---
title: Every HTML element
updated: 2025-01-09
metadata:
  description: Every element in use in HTML and a brief description of what it's for.
cssComponents:
  - code
---

{% extends 'src/_layouts/layout.njk' %}

{% macro _item(params) %}
  {%- set mdnLink = params.data.mdn | default("https://developer.mozilla.org/en-US/docs/Web/HTML/Element/" + tag) -%}
  <div class="kimGrid" id="{{ params.data.tag }}">
    <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter">
      <h2 class="kimBody">
        {{ _e(params.data.tag) }}
        {%- if params.data.name %}:<br>the {{ params.data.name }} element{% endif %}
      </h2>
      {%- if params.data.category %}
        <p class="kimBody-s">{{ params.data.category }}</p>
      {%- endif %}
    </div>
    <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneHalf">
      {%- if params.data.experimental %}
        <p class="kimBody">🧪 Experimental</p>
      {%- elif params.data.obsolete %}
        <p class="kimBody">☠️ Obsolete</p>
      {%- endif %}
      {{ params.content | safe }}
    </div>
    {%- if not params.data.obsolete %}
      <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneQuarter">
        <ul class="kimList">
          <li><a class="kimLink" href="{{ mdnLink }}">MDN reference</a></li>
          {%- if params.data.spec %}
          <li><a class="kimLink" href="{{ params.data.spec }}">HTML specification</a></li>
          {%- endif %}
        </ul>
      </div>
    {%- endif %}
  </div>
  <hr class="kimRule kimRule-hairline">
{% endmacro %}

{% macro _e(tag) -%}
<code class="kimCode"><a class="kimLink-noVisited" href="#{{ tag }}">&lt;{{ tag }}&gt;</a></code>
{%- endmacro %}

{% block main %}
<div class="kimWrapper kim-!-margin-block-8-9">
  <div class="kimGrid"> 
    <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
      <h1 class="kimHeading-xl">{{ title }}</h1>
      <p class="kimBody">HTML is a semantic language: every element provides a specific meaning to its contents or function. This is a quick reference for what those meanings are.</p>
      <p class="kimBody">Well-written HTML will use the most appropriate element for the job, but you don't need to know every single element from memory!</p>
      <p class="kimBody">I highly encourage you to use your browser's find-in-page feature on this page.</p>
    </div>
  </div>
  
  <hr class="kimRule kimRule-thick">
  
  {{ collections.elements }}
  
  {%- for element in collections['every-element'] | sort(false, false, "data.tag") %}
    {{ _item(element) }}
  {%- endfor %}
  
</div>
{% endblock %}