---
title: Work
date: 2015-03-11
tags: [transition]
metadata:
  description: I finally updated my name at work.
---

{% responsiveImage "./src/images/work-email.png", "A screenshot of Microsoft Outlook. My name in it reads 'Kimberly Grey', shown along with the message 'You have no idea how nice it is to see this.'" %}