---
title: "transition: gender 2y ease;"
date: 2015-03-13
tags: [transition]
redirect_from: /transition
---

  {% callout %}
    <p>This page was originally written in 2014. I've maintained the text for posterity, unedited except for fixing some broken links. Not all information contained within is still accurate.</p>
  {% endcallout %}
  
  <p>Hello,</p>
  <p>My name is Kimberly, but you probably know me better under the names Grey Hargreaves, Alex Grey, or even Shaun (though I've not called myself that in any non-legal context for eons). This is my coming out letter to you.</p>
  <p>As you may have taken from that title and opening paragraph, I've not been entirely truthful to you about who I am for the last… well, two years. It feels like a lifetime ago that I originally wrote and published <em><a href="/blog/2014-07-16-on-gender-and-sexuality/">On Gender and Sexuality</a></em>; a mini-essay publicly stating my (admittedly esoteric) sexual orientation and for the first time documenting how I had a non-binary gender identity.</p> 
  <p><q>I have never had any affiliation to any particular gender</q>. This was as as best as I could muster putting it without being forward about it. For those not in the know, this is called being 'genderqueer,' a catch-all term for existing outside of the gender binary of being either male or female. I don't have a tendency to spill all my beans at once, so I kept the true extent of my thoughts to myself.</p>
  <p>From this time onwards I almost lived a dual life. I started presenting as female online in an intermittent pattern, primarily amongst my closer social circles. A few months later I started doing the same in real life. The experience, frankly, is liberating. I don't just feel comfortable when I present as female—I feel more confident and like an altogether happier person.</p>
  <p>Since March 2014 I have presented solely as female within particular social circles. As of July I have started (though rarely) visiting my GP in relation to gender dysphoria, with the intention of changing physical sex. And as of late August and September I've started transferring many of my online accounts to use my new name and gender identity. My intention is that by the first quarter of 2015, the majority of people with whom I have regular contact should know.</p>
  <p>Unfortunately as I do not expect much of my extended family to take the news particularly well for a variety of cultural, political and religious reasons, I'm having to be quite reserved about the whole thing, so my old names may linger for a while longer. Similarly, I do not yet have the logistical ability to present as female most of the time. However I ask that, if you do know of this change, and the context is right, please call me Kim and refer to me using feminine pronouns.</p>
  <p>If you're interested in how this whole change is going for me, then you might be interested in the journal I've been keeping: <a href="http://kimscrossing.co.uk/">Kim's Crossing</a>.</p> 
  <p>Thank you.<br>~ Kim</p>
  
  <h2>Q&amp;A</h2>
  <dl>
    <dt>What's the difference between gender and sex anyway? What's gender dysphoria?</dt>
    <dd><p>Although the two terms are often used synonymously, it is generally accepted that <em>sex</em> refers to biological identification, whereas <em>gender</em> refers to psychological identification.</p><p>Gender dysphoria is where one suffers from negative emotional attitudes because they feel uncomfortable in their own body, for which the standard method of treatment is to alter the body.</p></dd>
    <dt>If it's a mental disorder, then why isn't it treated by a psychologist?</dt>
    <dd><p>It's not a mental disorder, <em>per se</em>, but a mismatch between mind and body. Some studies state that it's related to genetics more than psychology, but there's nothing conclusive either way. Irregardless, to try and modify the mind is considered unethical, in line with "gay conversion therapy," and will typically lead to even more psychological problems in later life.</p></dd>
    <dt>What is presenting?</dt>
    <dd><p>Presenting is the act of publicly presenting yourself as your identified gender. Online, this is as easy as using a female name and having your social media profiles say you're female. In the real world it's a lot more complex, as it often necessitates certain manners of dress, mannerisms, and speech.</p></dd> 
    <dt>Why should I call you Kim and refer to you as female, when I've known you differently my entire life?</dt>
    <dd><p>Because to do otherwise is to deny my identity and the very basis of who I am. To do otherwise is to be grossly disrespectful of who I am as a person and the manner in which I live my life. To a transgender person, to deny them their identity is one of the most offensive acts possible.</p></dd>
    <dt>Do I have to treat you differently?</dt>
    <dd><p>I'm still the same person. You can paint your house a different colour and give it one of those house-y names like <em>The Burrows</em>, but it doesn't stop being your house. So long as you at least try calling me by my chosen name, I'll be happy.</p></dd>
    <dt>So… you're going to turn into a woman?</dt>
    <dd><p>Disregarding that in some form I've <em>always</em> been a woman (just not biologically), then I suppose yes, I am. I intend to take the hormone supplements as they become available, and intend to have "the operation" when the time for it comes.</p></dd>
    <dt>This is boring/scary/weird. Give me something to take my mind off it.</dt>
    <dd>Try these: <a href="http://transgirlnextdoor.tumblr.com/">Trans Girl Next Door</a>, a webcomic by a badass Asian chick; a Cracked article on <a href="http://www.cracked.com/article_20997_5-shocking-realities-being-transgender-media-ignores.html">five things the media ignores about being transgender</a>; and <a href="https://en.wikipedia.org/wiki/Dys4ia">Dys4ia</a>, a short Flash game about transitioning.</dd>
  </dl>