---
title: Skin-on mashed potatoes
date: 2017-06-06
tags: [food]
---

<p>Mashed potatoes are a bit of anomaly in my cooking experience, insomuch as a lot of people say that I’m actually quite good at making them, including my mother, who is an exceptional cook even by professional standards. Granted she could’ve just been humouring me, such is family.</p>

<p>Regardless, there’s a lot of things in the world of mashed potatoes I’ve never tried, so I figured I’d give one of them a go—skin-on mashed potatoes.</p>

<p>Fun fact: The skin of a potato holds most of the potato’s fibre, iron, thiamin (I don’t know what that is), and vitamins B and C.</p>

<h2>Kim’s not-so-special mashed potatoes (aka, my usual way of doing it)</h2>

<p>Peel and dice potatoes. I’m honestly not sure what kind of potatoes, I usually just picked up the ones that looked right without ever noting what kind of potato they were. Boil them until they’re soft enough to push a knife straight though one without much effort. Add a tablespoon of butter substitute, a generous amount of semi-skimmed milk, and mash and fold it around until creamy.</p>

<p>This produced… nice mashed potatoes. Honestly I couldn’t complain, but that’s not really the point of a blog where I try and cook something new.</p>

<h2>Kim’s different mashed potatoes (aka, the ones with the skin on)</h2>

<ul>
	<li>Maris Piper potatoes (I noted down the name this time!)</li>
	<li>1 tablespoon unsalted butter</li>
	<li>Semi-skimmed milk</li>
	<li>Ground peppercorn</li>
	<li>Coarse sea salt</li>
</ul>

<p>Wash the potatoes. Given we’re using the skins this time rather than tossing them away like an unwanted birthday present, we want those things clean. Dice them up.</p>

<p>Start heating a pan full of water. Add some of the sea salt to it. Now you’re making hot sea water. Congratulations. Place the potatoes in the pan of water. At this point the water was still very much cold. It seems weird, I know, but it worked. ¯\_(ツ)_/¯</p>

<p>Cook the potatoes until they’re soft enough that a plain table knife will go clean through them without much effort. This might take a little while.</p>

<p>When they’re ready, turn off the hob and drain off the excess water. Return the pan to the hob for another minute just so the residual heat can evaporate any lingering water.</p>
<blockquote>
<p>Add butter and mash up the potatoes until they’re lumpy, but not so lumpy that they still look like potatoes. Add milk, salt and pepper and with a wooden spoon start stirring it all up until it becomes creamier in texture, but still solid enough that you could probably make a little statue out of it if you wanted to. Because we have skins still mixed into here it’s never going to be perfectly smooth. That’s fine, love yourself.</p>
</blockquote>
<p>Serve it up and season with a bit more pepper or one of those little green garnishes, because why not.</p>

{% figure caption="Potatoes, mashed." %}
	{% responsiveImage "./src/images/pillowy-mounds-of-mashed-potatoes.jpg", "Photograph of a plate with steak and mashed potatoes, sprinkled with a little pepper." %}
{% endfigure %}

<h2>Verdict</h2>

<p>More flavourful than my old mash, at the expense of many more ingredients. The presence of skin didn’t distract from the taste and I didn’t find it particularly disruptive to the texture either. Probably a good mashed potato for guests.</p>

<p>I was going to add some creme fraiche towards the end too, but I totally forgot. You might want to do that.</p>
