---
title: Star Trek Ahoy
date: 2021-11-22
tags: [design]
metadata:
  description: Minimalist, ship-focused thumbnails for each of the Star Trek movies.
---

<p>Two days ago I was idly browsing my iTunes film collection (okay, not so idly, I was watching <i>Star Trek IV: The One With The Whales</i> for the sixth time) when I was reminded of a particularly frustrating aspect of the iTunes Star Trek films:</p>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Why is these so little actual consistency here aaaugghhhh <a href="https://t.co/DoMdNJxLmk">pic.twitter.com/DoMdNJxLmk</a></p>&mdash; Kim‽ 🤖️🦇 (@batbeeps) <a href="https://twitter.com/batbeeps/status/1462180413548421121?ref_src=twsrc%5Etfw">November 20, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Everything is a mess and I hate it.</p>

<p>Films one through four all have these illustrated icons of a principal ship from each film, backed by the same rainbow motif found on the <a href="https://en.wikipedia.org/wiki/File:Star_Trek_The_Motion_Picture_poster.png">iconic <i>The Motion Picture</i> poster</a> and consistent title style and placement. They look great, and really connects these films as all belonging to the same canon. Star Trek's two through five make up an almost completely continuous story—with <i>The Wrath of Khan</i> leading directly into <i>The Search for Spock</i> and in-universe gaps of only a few months between <i>The Search for Spock</i>, <i>The Voyage Home</i>, and <i>The Final Frontier</i>. </p>

<p>Such a shame then that <i>The Final Frontier</i> is dumped with a thumbnail totally unrelated to the films that came before it. Gone is the constrained design and pleasant illustrations, replaced with a large, metallic delta shield covering half of the thumbnail, photographic headshots of Kirk, Spock and McCoy, and a minuscule rendering of the USS <i>Enterprise</i>-A. The film's title is crammed into the delta. Why?! </p>

<p>The sixth film in the series—and the last to feature much of the original cast—<i>The Undiscovered Country</i>, is even worse. Starfleet's delta shield has been massacred horribly, now stretched across two-thirds of the thumbnail and barely resembling its original shape. Presumably, they did this to fit <i>The Undiscovered Country</i>'s longer name, but even then, the entire Star Trek logo has been arbitrarily made larger, which is certainly not helping. The three OG main character headshots remain, alongside a larger (but still quite small) depiction of the Excelsior-class USS <i>Enterprise</i>-B.</p>

<p>The baton-fumbling <i>Generations</i> takes another departure again. The delta (still metallic and now much more three-dimensional thanks to liberal use of Photoshop's emboss filter) plays background to... stills from the film. Yup. Pretty much no art direction here at all. Have some screenshots of Kirk, Picard, Data, and the <i>Enterprise</i>-D. Sod off. It even has the nerve to subtitle itself "The Feature Film", just in case you somehow weren't aware that you were looking at promotional material for a film. </p>

<p><i>The Next Generation</i> crews first solo outing, <i>First Contact</i>, returns to the format previously established by <i>The Final Frontier</i> and <i>The Undiscovered Country</i>: half the image is wasted on a giant metal delta; photographic headshots of Picard, Data and Riker; a still-too-small rendering of the Sovereign-class <i>Enterprise</i>-E and... why the hell is the logo just randomly plonked in the middle? The delta stands empty, the logo having fallen into the void of space and floated aimlessly off to the left. Sigh.</p>

<p>This issue is at least fixed in the penultimate entry of the original Trek film series <i>Insurrection</i>. The delta is distorted once again to accommodate an altogether too-large logo, but aside from that, this is serviceable. Picard, Data, Riker, <i>Enterprise</i>-E. It'll do. </p>

<p>And finally, <i>Nemesis</i>. The thumbnail here follows much the same formula as <i>Insurrection</i>: overly large delta, headshots, ship. The headshots are, for whatever reason, way larger than on all the other thumbnails, and unfortunately for Will Riker, he's been demoted in place of Tom Hardy's Shinzon. Relatedly, the rendering of the <i>Enterprise</i>-E here is the smallest of any ship on of the thumbnails, appearing at barely half the size of the film's title which... doesn't actually fit in the thumbnail. Oh dear.</p>

<p>These thumbnails suck. Let's do something about it. </p>

<h2>Doing something about it</h2>

<p>Luckily, the universe caught me in just the right mood to want to do something about this, but not so bothered that I would actually invent my own design language for them. So I cribbed <a href="https://www.youtube.com/user/XboxAhoy">Ahoy</a>'s <a href="https://www.youtube.com/playlist?list=PLOQZmjD6P2Hl3KrDBs6Vcc_5XDZbqPABC"><i>Iconic Arms</i></a> thumbnail style, something he has been so kind as to provide <a href="https://www.reddit.com/r/XboxAhoy/comments/n658lb/manual_of_style_iconic_arms/">an actual guide on how to create</a>. I've kept pretty much closely to the principles established there, but obviously, I'm using starships, not firearms. Are starships weapons? Sure, maybe.</p>

<p>I present, the <strong>Star Trek Ahoy</strong> series. <small>(Not in any way affiliated with Star Trek or Ahoy.)</small></p>

{% responsiveImage "./src/images/1 - TMP.png", "Poster for Star Trek: The Motion Picture." %}

<p>First up, <i>The Motion Picture</i>. As already mentioned, the poster for this film is already a cultural icon, and I didn't want to deviate too far from it. The rainbow gradient got abstracted into a few stripes, added on the customary spaceship—the refit <i>Constitution</i>-class USS <i>Enterprise</i>, NCC-1701, <a href="https://youtu.be/qTOP1BezOB8?t=6">no bloody A, B, C or D</a>—and Bob's your uncle.</p>

{% responsiveImage "./src/images/2 - TWOK.png", "Poster for Star Trek II: The Wrath of Khan." %}

<p>Probably many people's favourite, <i>The Wrath of Khan</i>. One thing I didn't want to do in this series was use the same starship twice. <i>TWOK</i> features Kirk and crew (well, not Chekov, to be pedantic) still serving on the refit <i>Constitution</i>-class from the previous film, so the honour here instead lands on the <i>Miranda</i>-class USS <i>Reliant</i> that Khan and the Augments hijack. The colour and composition here are rather intentional, with the <i>Reliant</i> shown flying away from the yellow planet, just as Khan uses it to escape from the desert planet Ceti Alpha V.</p>

{% responsiveImage "./src/images/3 - TSFS.png", "Poster for Star Trek III: The Search for Spock." %}

<p>The ending of <i>The Wrath of Khan</i> ends in the creation of Genesis, a newly terraformed planet that is lush, verdant and very, very blue. In <i>The Search for Spock</i>, the <i>Enterprise</i> crew are trying to get back to it after learning that Spock (who died) isn't actually dead (surprise!), and his miraculously infantilised body is back on Genesis just waiting for them to come and pick him up. Unfortunately for them, Christopher Lloyd is piloting a Klingon bird-of-prey and is determined to get in their way. The <i>Enterprise</i> goes bang, and Kirk and company end up stealing the bird-of-prey for their own uses. Seen here, the bird-of-prey orbiting the (still) very blue Genesis.</p>

{% responsiveImage "./src/images/4 - TVH.png", "Poster for Star Trek IV: The Voyage Home." %}

<p><i>The Voyage Home</i> is a very fun film. It's also one that perhaps afforded the most compromise in this project. Set on Earth in the 1980s, there are ultimately only two spacefaring vessels that get more than a few seconds of screen time in this flick. <em>Two.</em> And one of them is the same bird-of-prey as <i>The Search for Spock</i>. The honour thus falls to the Whale Probe. Yup. The Whale Probe. If you've never seen <i>The Voyage Home</i>, you'll know that the Whale Probe is literally an unornamented cylinder with a hovering ball that likes to scream a lot. It is basically the least interesting or complex ship design imaginable. Good job, Whale Probe. </p>

{% responsiveImage "./src/images/5 - TFF.png", "Poster for Star Trek V: The Final Frontier." %}

<p><i>Star Trek V: The One Where They Kill God</i>, known to some as <i>The Final Frontier</i>, is not considered a good film. Part of the central premise of the film directly contradicts later canon in the Trek universe. It randomly reveals that Spock has a half-brother he's never mentioned (which seems to be a running theme, going by <i>Star Trek: Discovery</i>). It's generally not very good. Still, the newly minted <i>Enterprise</i>-A gets her first rodeo here, so she takes pride of place in the thumbnail, alternately seen to be sailing to the centre of the galaxy, or otherwise with an angelic halo surrounding it. After all, is a ship that can kill a god not a god in itself? </p>

{% responsiveImage "./src/images/6 - TUC.png", "Poster for Star Trek VI: The Undiscovered Country." %}

<p>Fun fact: <i>The Undiscovered Country</i> was originally going to be the title for <i>The Wrath of Khan</i>, wherein the eponymous "undiscovered country" was death. Here, it represents an unknowable future brought about by the signing of the Khitomer Accords, finally signalling lasting peace between the Federation and the Klingon Empire. Of course, not everyone approves of peace, so the <i>Enterprise</i> crew has to save the day from saboteurs, whilst accused of themselves being the saboteurs.</p>

<p>This thumbnail hosts the <i>Excelsior</i>-class USS <i>Excelsior</i>. Although the <i>Excelsior</i> had already made appearances in the previous three films, here it finally takes centre-stage commanded by Captain Sulu, and effectively plays the role of a second hero ship alongside the <i>Enterprise</i>, affording it the honour of a thumbnail. </p>

{% responsiveImage "./src/images/7 - Generations.png", "Poster for Star Trek VII: Generations." %}

<p><i>The Next Generation</i> era of films appropriately started with <i>Generations</i>—the passing-the-baton crossover entry between the original series and its successor. It is also the only Star Trek film to feature the television series' iconic <i>Galaxy</i>-class USS <i>Enterprise</i>-D, so of course, that takes pride of place here. One of the most unique features of this class of ship, I think, is the forward sweeping (and really quite stubby) warp nacelles, which is why I opted to focus on those in the thumbnail. It is backed by The Nexus, a wobbly ribbon of space energy that facilitates the team-up of Kirk and Picard against a rather annoyed Malcolm McDowell.</p>

{% responsiveImage "./src/images/8 - First Contact.png", "Poster for Star Trek VIII: First Contact." %}

<p>The Big D ultimately fell victim to production values. The filming model just didn't stand up to the higher resolutions of cinema cameras, and the ship being so wide and dumpy was apparently "uncool" or something. <i>First Contact</i> sees the introduction of the much slimmer, sleeker, and incredibly long <i>Sovereign</i>-class <i>Enterprise</i>-E.</p>

<p>But that's not what's in the thumbnail. The Borg are attacking Earth (and believe me, I was tempted to just draw a square, call it a Borg cube and be done), and most nefariously, they're doing it <em>in the past</em>! The Enterprise crew must travel back to a more primitive time—the 21st Century—to stop the Borg from preventing the first contact between humans and aliens, and let the first warp-speed spaceflight proceed as history demands. It is that ship, Zephram Cochrane's <i>Phoenix</i> that takes pride of place in the thumbnail, just as it has various desk models and <i>Star Trek: Enterprise</i> opening titles throughout Star Trek canon, leaving our blue planet for the reaches of space for the first time.</p>

{% responsiveImage "./src/images/9 - Insurrection.png", "Poster for Star Trek IX: Insurrection." %}

<p><i>Insurrection</i>, aside from being a word that now mainly reminds me of the sixth of January, is an OK film. Not great, not terrible, just like this thumbnail. The <i>Enterprise</i>-E finally gets to show up, selected over various Son'a ships that appear in the film just because they're all pretty unmemorable. (I literally couldn't remember any of them. They're that bad.) Also present in <i>Insurrection</i> is the Federation holoship, which is interesting in concept, but visually is only marginally more interesting than a Borg cube. The <i>Enterprise</i> is here in red, representing Picard's renunciation of Starfleet's actions during the course of this film and the <i>Enterprise</i> subsequently going rogue, hailing back to the hijacked <i>Miranda</i>-class in <i>The Wrath of Khan</i>'s thumbnail.</p>

{% responsiveImage "./src/images/10 - Nemesis.png", "Poster for Star Trek X: Nemesis." %}

<p>Ahh, <i>Nemesis</i>. The film that killed the Trek film franchise and—if rumours are to be believed—almost took Tom Hardy's acting career with it. Suffice it to say, many probably consider this to be the worst of the original film run. Hardy plays Shinzon, Picard's age-accelerated clone, the result of an abandoned Romulan plot to sneakily replace prominent Starfleet officers, who has since been left to toil in slave labour on Remus. He gets mad, assassinates the entire Romulan senate, announces himself as the new leader of their society (whut) and builds the <i>Scimitar</i>, a ship so massively overpowered that it has three-times the armament of the <i>Enterprise</i> even before you include the giant radioactive laser beam that can disintegrate thousands of people at once following the just-long-enough-to-create-tension charging sequence.</p>

<p><i>Nemesis</i> is very green. The radiation weapon is green. The nebula where the final big ship battle happens is green. <a href="https://en.wikipedia.org/wiki/File:Star_Trek_Nemesis_poster.jpg">The film's poster is green.</a> The <i>Scimitar</i> isn't green, but it might as well be. It takes the thumbnail. </p>

<hr>

<p>So that's my thumbnails. They could probably use some refinement, and I definitely got more adept at vectoring the ship outlines as they went on, but for now, I'm happy with them.</p>