.kimBlockquote {
  margin: 0;
  margin-block-end: var(--space-5);
  padding-inline-start: var(--space-3);
  border-inline-start: var(--border-regular) solid var(--color-furniture);
  text-align: start;

  // <picture> can make things awkward here so we also have to target it and the
  // nested <img> separately.
  > :last-child,
  > picture:last-child img {
    margin-block-end: 0;
  }
}
