@use "../settings";
@use "../helpers/layout";
@use "../helpers/media-queries";

@use "sass:list";

.kimGrid {
  $half-gutter: settings.$kim-page-gutter * .5;
  display: flex;
  flex-wrap: wrap;
  margin-inline: 0 - $half-gutter;
  &_column {
    padding-inline: $half-gutter;
  }
}

@each $name, $width in settings.$kim-grid-widths {
  .kimGrid_column-#{$name} { inline-size: $width; }
}

@each $breakpoint, $value in settings.$kim-breakpoints {
  @include media-queries.kim-mq($from: $breakpoint) {
    @each $name, $width in settings.$kim-grid-widths {
      .#{$breakpoint}\:kimGrid_column-#{$name} { inline-size: $width; }
    }
  }
}
