@use "../settings/breakpoints";
@use "../settings/layout" as layoutSettings;

@use "../helpers/media-queries";

.kimGrid {
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(0px - var(--grid-gutter-half));
}

.kimGrid_column {
  padding-inline: var(--grid-gutter-half);
}

@each $name, $width in layoutSettings.$kim-grid-widths {
  .kimGrid_column-#{$name} {
    width: $width;
  }
}

@each $breakpoint, $value in breakpoints.$kim-breakpoints {
  @include media-queries.kim-mq($from: $breakpoint) {
    @each $name, $width in layoutSettings.$kim-grid-widths {
      .#{$breakpoint}\:kimGrid_column-#{$name} {
        width: $width;
      }
    }
  }
}
