@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimList {
  @include spacing.kim-responsive-margin(0);
  @include spacing.kim-responsive-padding(0);
  @include typography.kim-font-size(19);
  @include typography.kim-vr-margin(19);
  list-style-type: none;
  li + li {
    @include spacing.kim-responsive-margin(1, $direction: top);
  }
  &-bulleted,
  &-numbered {
    padding-left: 2em;
  }
  &-bulleted {
    list-style-type: square;
  }
  &-numbered {
    list-style-type: decimal;
  }
  &-spaced {
    li + li {
      @include spacing.kim-responsive-margin(3, $direction: top);
    }
  }
  &-inline {
    li {
      @include spacing.kim-responsive-margin(3, $direction: right);
      display: inline-block;
    }
    li + li {
      @include spacing.kim-responsive-margin(0, $direction: top);
    }
  }
  &-columns {
    column-width: 22ch;
    column-gap: settings.$kim-page-gutter;
    li {
      break-inside: avoid;
    }
  }
}
