@use "../settings";
@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";

.kimRule {
  @include spacing.kim-responsive-margin(4, $direction: block);
  height: measurements.kim-border-width("regular");
  border: 0;
  background-color: colors.kim-color-css("furniture");
  &-thick {
    height: measurements.kim-border-width("thick");
  }
  &-hairline {
    height: measurements.kim-border-width("hairline");
  }
}
