@use "../helpers/a11y";

.kimSkiplink {
  position: absolute;
  inset-block-start: -9999em;
  inset-inline-start: -9999em;

  &:focus {
    @include a11y.focus-ring;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: unset;
    z-index: 9999;
  }
}
