@use "../helpers/a11y";

.kimSkiplink {
  @include a11y.kim-focus-ring;
  display: block;
  padding: var(--space-2);
  position: absolute;
  inset-block-start: -9999em;
  inset-inline-start: -9999em;
  text-align: center;

  &:focus {
    position: static;
  }
}
