@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";

.kimTable {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: spacing.kim-spacing(1) spacing.kim-spacing(3)
      spacing.kim-spacing(1) 0;
    border-bottom: measurements.kim-border-width("hairline") solid
      colors.kim-color-css("furniture-alt");
    &:last-child {
      padding-right: 0;
    }
  }
  th {
    border-bottom-width: measurements.kim-border-width("regular");
    border-bottom-color: colors.kim-color-css("furniture");
  }
}
