.kimTable {
  inline-size: 100%;
  margin-block-end: var(--space-5);
  border-collapse: collapse;
  font-feature-settings: "tnum", "lnum";
}

.kimTable_cell,
.kimTable_header {
  padding-block: var(--space-1);
  padding-inline-start: 0;
  padding-inline-end: var(--space-3);
  border-bottom: var(--border-hairline) solid var(--color-furniture);
  text-align: start;
  vertical-align: top;
  &:last-child {
    padding-inline-end: 0;
  }
}

.kimTable_head .kimTable_header {
  border-block-end-width: var(--border-regular);
}
