// Headings
.kimHeading-xl,
.kimHeading-l,
.kimHeading-m,
.kimHeading-s,
.kimHeading-xs {
  font-family: var(--font-header);
  font-feature-settings: "ss01", "ss04", "case";
  font-weight: 700;
  text-wrap: balance;
  letter-spacing: -0.02em;
}

.kimHeading-xl {
  margin-block-start: 0;
  margin-block-end: var(--space-8);
  color: var(--color-text-accent);
  font-size: var(--size-5);
  line-height: 1;

  &::before {
    content: "";
    display: block;
    inline-size: 2.5em;
    margin-block-end: var(--space-3);
    border-block-end: var(--border-thick) solid var(--color-furniture);
  }
}

.kimHeading-l {
  margin-block-start: var(--space-9);
  margin-block-end: var(--space-6);
  font-size: var(--size-4);
  line-height: 1.1;
}

.kimHeading-m {
  margin-block-start: var(--space-7);
  margin-block-end: var(--space-4);
  font-size: var(--size-3);
  line-height: 1.25;
}

.kimHeading-s {
  margin-block-start: var(--space-5);
  margin-block-end: var(--space-5);
  font-size: var(--size-2);
  line-height: 1.5;
}

.kimHeading-xs {
  margin-block-start: var(--space-5);
  margin-block-end: var(--space-4);
  font-size: var(--size-1);
  line-height: 1.5;
}

// Subheadings
.kimSubheading-xl,
.kimSubheading-l,
.kimSubheading-m {
  font-family: var(--font-header);
  text-wrap: balance;
  letter-spacing: 0;
  line-height: 1.25;
}

.kimSubheading-xl {
  margin-block-end: var(--space-1);
  font-size: var(--size-3);
}

.kimSubheading-l {
  font-size: var(--size-2);
}

.kimSubheading-m {
  font-size: var(--size-1);
}

// Body copy
.kimBody,
.kimBody-l,
.kimBody-s {
  margin-block-start: 0;
  margin-block-end: var(--space-5);
  line-height: 1.5;
}

.kimBody {
  font-size: var(--size-0);
}

.kimBody-l {
  font-size: var(--size-1);
}

.kimBody-s {
  font-size: var(--size--1);
}

// Redacted content
.kimRedaction {
  letter-spacing: -0.04em;
  word-spacing: 0.15em;
}
