@use "../settings";

@use "a11y";
@use "colors";
@use "media-queries";

@mixin _kim-link-underline {
  text-decoration: none;
  box-shadow: inset 0 -.2em 0 0 colors.kim-color-css("link-hover");
  transition: box-shadow .333s ease;
}

@mixin _kim-link-underline-hover {
  box-shadow: inset 0 -.6em 0 0 colors.kim-color-css("link-hover");
}

@mixin kim-link($underlineOnHoverOnly: false) {
  color: colors.kim-color-css("link");
  @if $underlineOnHoverOnly {
    text-decoration: none;
  }
  @else {
    @include _kim-link-underline;
  }
  &:hover,
  &:focus {
    @if $underlineOnHoverOnly {
      @include _kim-link-underline;
    }
    @include _kim-link-underline-hover;
    color: colors.kim-color-css("link");
  }
  &:focus {
    @include a11y.kim-focus-ring($fill: true);
  }
  @include media-queries.kim-print {
    &::after {
	    content: " (" attr(href) ")";
	    display: inline;
	    font-size: smaller;
    }
  }
}