@use "../settings";
@use "a11y";
@use "media-queries";

@mixin _kim-link-underline {
  text-decoration-color: var(--color-accent);
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
}

@mixin kim-link($underlineOnHoverOnly: false) {
  color: var(--color-accent);
  @if $underlineOnHoverOnly {
    text-decoration: none;
  }
  @else {
    @include _kim-link-underline;
  }
  &:hover,
  &:focus {
    color: var(--color-accent);
    @if $underlineOnHoverOnly {
      @include _kim-link-underline;
    }
  }
  &:hover {
    opacity: .65;
  }
  &:focus {
    @include a11y.kim-focus-ring($fill: true);
  }
  @include media-queries.kim-print {
    &::after {
	    content: " (" attr(href) ")";
	    display: inline;
	    font-size: smaller;
    }
  }
}