@use "a11y";
@use "layout";
@use "typography";

@mixin kim-reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin kim-reset-button {
  @include typography.kim-typography-common;
  padding: 0;
  border: none;
  border-radius: 0;
  color: inherit;
  background: none;
  font: inherit;
  &:not([disabled]) {
    cursor: pointer;
  }
  &:focus {
    @include a11y.kim-focus-ring;
  }
}
