@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimBlogCard {
  @include typography.kim-vr-margin(19);
  display: flex;
  flex-direction: column;
  position: relative;
  &_heading {
    @include typography.kim-font-stack(body, $weight: bold);
  }
  &_link {
    @include links.kim-link($underlineOnHoverOnly: true);
  }
  &_meta {
    display: flex;
    flex-wrap: wrap;
  }
  &_date {
    margin-right: 1em;
  }
  &_tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    position: relative;
    list-style-type: none;
    li + li {
      margin: 0;
    }
    a {
      @include links.kim-link($underlineOnHoverOnly: true);
      &[aria-current] {
        font-weight: bold;
      }
    }
  }
}