@use "../helpers/colors";
@use "../helpers/typography";

.kimCallout {
	@include typography.kim-vr-margin(19);
	padding: 1rem;
	border: .5rem solid colors.kim-color-css("furniture");
	> :last-child {
		margin-block-end: 0;
	}
}