@use "../settings";
@use "../helpers/reset";
@use "../helpers/colors";
@use "../helpers/typography";
@use "../helpers/spacing";
@use "../helpers/media-queries";

.kimFooter {
  position: sticky;
  inset-block-start: 100%;
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(3, $direction: block);
    display: flex;
    flex-direction: column;
    gap: settings.$kim-page-gutter * 0.5;
    border-block-end: 0.5rem solid var(--color-accent);
    position: relative;
    @include media-queries.kim-mq($from: galaxy) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &_themeSwitch {
    @include reset.kim-reset-button;
    @include typography.kim-font-size(12);
  }
  &_boilerplate {
    @include typography.kim-font-size(12);
    display: block;
  }
}
