@use "../settings";
@use "../helpers/reset";
@use "../helpers/colors";
@use "../helpers/typography";
@use "../helpers/spacing";
@use "../helpers/media-queries";

.kimFooter {
  position: sticky;
  top: 100%;
  text-align: center;
  @include media-queries.kim-mq($from: galaxy) {
    text-align: right;
  }
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(3, $direction: top);
    @include spacing.kim-responsive-padding(3, $direction: bottom);
    border-bottom: .5rem solid var(--color-accent);
    position: relative;
  }
  &_boilerplate {
    @include typography.kim-font-size(12);
    display: block;
  }
}
