@use "../settings";
@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@use "sass:color";

.kimMasthead {
  color: var(--color-text);
  background-color: var(--color-background);
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(4, $direction: top);
    @include spacing.kim-responsive-padding(4, $direction: bottom);
    display: flex;
    flex-direction: column;
    border-top: .5rem solid var(--color-accent);
    border-bottom: 1px solid var(--color-subtle);
    @include media-queries.kim-mq($from: galaxy) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_brand {
  }
  &_logo {
    @include typography.kim-font-stack("header-alt", $weight: regular);
    @include typography.kim-font-size(24);
    @include links.kim-link($underlineOnHoverOnly: true);
  }
  &_nav {
  }
}
