@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";
@use "../helpers/colors";
@use "../helpers/media-queries";

@use "sass:color";

.kimMasthead {
  --text: inherit;
  --background: #{color.change(colors.kim-color("white"), $alpha: 0.9)};
  @include spacing.kim-responsive-padding(4, $direction: top);
  @include spacing.kim-responsive-padding(4, $direction: bottom);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: var(--text);
  background-color: var(--background);
  backdrop-filter: blur(1rem);
  @include media-queries.kim-dark {
    --text: #{colors.kim-color("white")};
    --background: ##{color.change(colors.kim-color("black"), $alpha: 0.9)};
  }
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    display: flex;
    flex-direction: column;
    @include media-queries.kim-mq($from: tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_brand {
  }
  &_logo {
    @include typography.kim-font-stack("header-alt", $weight: regular);
    @include typography.kim-font-size(24);
    color: colors.kim-color("kimberly");
    text-decoration: none;
    @include media-queries.kim-dark {
      color: colors.kim-color("highlight");
    }
  }
  &_nav {
  }
}
