@use "../settings";

@use "../helpers/reset";
@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimNavigation {
  &_list {
    @include reset.kim-reset-list;
    display: inline-flex;
    gap: spacing.kim-spacing(3);
  }
  &_item {
    display: inline-block;
  }
  &_link {
    @include typography.kim-font-stack("header", $weight: regular);
    @include links.kim-link($underlineOnHoverOnly: true);
  }
}
