@use "../settings";
@use "../helpers/reset";
@use "../helpers/colors";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimNavigation {
  &_list {
    @include reset.kim-reset-list;
    display: inline-flex;
    gap: spacing.kim-spacing(3);
  }
  &_item {
    display: inline-block;
  }
  &_link {
    @include typography.kim-font-stack("header-alt", $weight: regular);
    color: var(--color-accent);
    text-decoration: none;
    &[aria-current] {
      text-decoration-color: var(--color-accent);
      text-decoration-style: wavy;
      text-decoration-line: underline;
      text-underline-offset: 0.2em;
    }
  }
}
