@use "../settings";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@forward "../objects/rule";
@forward "../objects/typography";
@forward "../objects/lists";

.kimProse {
  p {
    @extend .kimBody;
  }
  h1 {
    @extend .kimHeading-xl;
  }
  h2 {
    @extend .kimHeading-l;
    @include spacing.kim-responsive-margin(9, $direction: block-start);
  }
  h3 {
    @extend .kimHeading-m;
    @include spacing.kim-responsive-margin(7, $direction: block-start);
  }
  h4 {
    @extend .kimHeading-s;
    @include spacing.kim-responsive-margin(5, $direction: block-start);
  }
  ol,
  ul {
    @extend .kimList;
  }
  ol {
    @extend .kimList-numbered;
  }
  ul {
    @extend .kimList-bulleted;
  }
  > img {
    @include typography.kim-vr-margin(19);
  }
  hr {
    @extend .kimRule;
  }
  blockquote {
    margin: 0;
    @include typography.kim-vr-margin(19);
    padding-inline-start: 1rem;
    border-inline-start: .5rem solid var(--color-subtle);
  }
}
