@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";

@forward "../objects/rule";
@forward "../objects/typography";
@forward "../objects/lists";

.kimProse {
  p {
    @extend .kimBody;
  }
  h2 {
    @extend .kimHeading-l;
  }
  h3 {
    @extend .kimHeading-m;
  }
  h4 {
    @extend .kimHeading-s;
  }
  ol,
  ul {
    @extend .kimList;
  }
  ol {
    @extend .kimList-numbered;
  }
  ul {
    @extend .kimList-bulleted;
  }
  img {
    @include typography.kim-vr-margin(19);
    width: 100%;
    height: auto;
  }
  hr {
    @extend .kimRule;
  }
  figure {
    margin: 0;
    @include typography.kim-vr-margin(19);
    img {
      margin-bottom: 0;
    }
    figcaption {
      @include typography.kim-font-size(14);
      text-align: right;
    }
  }
  blockquote {
    margin: 0;
    @include typography.kim-vr-margin(19);
    padding-left: 1rem;
    border-left: .5rem solid var(--color-subtle);
  }
}
