@use "../settings";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@forward "../objects/rule";
@forward "../objects/typography";
@forward "../objects/lists";

.kimProse {
  p {
    @extend .kimBody;
  }
  h1 {
    @extend .kimHeading-xl;
  }
  h2 {
    @extend .kimHeading-l;
  }
  h3 {
    @extend .kimHeading-m;
  }
  h4 {
    @extend .kimHeading-s;
  }
  ol,
  ul {
    @extend .kimList;
  }
  ol {
    @extend .kimList-numbered;
  }
  ul {
    @extend .kimList-bulleted;
  }
  img {
    @include typography.kim-vr-margin(19);
  }
  hr {
    @extend .kimRule;
  }
  figure {
    margin: 0;
    @include typography.kim-vr-margin(19);
    img {
      margin-block-end: 0;
    }
    figcaption {
      @include typography.kim-font-size(14);
      text-align: end;
    }
  }
  blockquote {
    margin: 0;
    @include typography.kim-vr-margin(19);
    padding-inline-start: 1rem;
    border-inline-start: .5rem solid var(--color-subtle);
  }
  &_aside {
    @include typography.kim-vr-margin(19);
    inline-size: 100%;
    text-align: center;
    @include media-queries.kim-mq($from: galaxy) {
      @include spacing.kim-responsive-margin(3, $direction: left);
      inline-size: 30%;
      max-inline-size: 17.5rem;
      float: inline-end;
      clear: inline-end;
    }
  }
}
