@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";

.kimRobatWars {
  $offset: spacing.kim-spacing(8);
  block-size: clamp(12rem, 30vh, 15rem);
  background-color: colors.kim-color-css("furniture");
  pointer-events: none;
  &_inner {
    block-size: calc(100% + #{$offset});
    position: relative;
    inset-block-start: 0 - $offset;
    background-image: url("/assets/images/robats-v2.webp");
    background-repeat: repeat-x;
    background-position: top 0 left 50%;
    background-size: auto 100%;
  }
}
