@use "../settings";
@use "../helpers/a11y";
@use "../helpers/media-queries";
@use "../helpers/spacing";

.kimSkiplink {
  @include a11y.kim-focus-ring($fill: true);
  @include spacing.kim-responsive-padding(2);
  display: block;
  position: absolute;
  inset-block-start: -9999em;
  inset-inline-start: -9999em;
  text-align: center;
  &:focus {
    position: static;
  }
}
