@use "../settings";
@use "../helpers/colors";
@use "../helpers/media-queries";
@use "../helpers/spacing";

.kimSkiplink {
  @include spacing.kim-responsive-padding(2);
  display: block;
  position: absolute;
  top: -9999em;
  left: -9999em;
  color: black;
  background-color: #fc0;
  text-align: center;
  &:focus {
    position: static;
  }
}
