@use "../helpers/spacing";
@use "../helpers/typography";

.kimTableWrapper {
	overflow-x: auto;
}

.kimTable {
	@include typography.kim-vr-margin(19);
	@include typography.kim-font-size(14);
	width: 100%;
	border: 2px solid currentcolor;
	border-collapse: collapse;
	table-layout: fixed;
	:is(th, td) {
		@include spacing.kim-responsive-padding(2);
		min-width: min-content;
		border: 2px solid currentcolor;
		text-align: start;
	}
}