{% set navPages = collections.all | eleventyNavigation %}

<header class="kimMasthead">
  <div class="kimWrapper kimMasthead_inner">
    <strong class="kimMasthead_brand">
      <a class="kimMasthead_logo" href="{{ '/' | url }}">
        Kimberly Grey
      </a>
    </strong>
    <nav class="kimNavigation kimMasthead_nav" role="navigation" aria-label="Primary">
      <ul class="kimNavigation_list">
        {%- for item in navPages %}
          <li class="kimNavigation_item">
            <a class="kimNavigation_link" href="{{ item.url | url }}" {%- if item.url === page.url %} aria-current="page"{% endif %}>
              {{ item.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>