<header class="kimMasthead">
  <div class="kimWrapper kimMasthead_inner">
    <strong class="kimMasthead_brand">
      <a class="kimMasthead_logo" href="{{ '/' | url }}">
        <span class="kim-!-sr">Kimberly Grey</span>
        <span class="kimMasthead_switcheroo" aria-hidden="true">
          <span>K</span><!--
        --><span>i</span><!--
        --><span>m</span><!--
        --><span>b</span><!--
        --><span>e</span><!--
        --><span>r</span><!--
        --><span>l</span><!--
        --><span>y</span><!--
        --><span>&nbsp;</span><!--
        --><span>G</span><!--
        --><span>r</span><!--
        --><span>e</span><!--
        --><span>y</span>
        </span>
      </a>
    </strong>
    <nav class="kimNavigation kimMasthead_nav" role="navigation" aria-label="Primary">
      <ul class="kimNavigation_list">
        <li class="kimNavigation_item">
          <a class="kimNavigation_link" href="{{ '/me' | url }}">About</a>
        </li>
        <li class="kimNavigation_item">
          <a class="kimNavigation_link" href="{{ '/projects' | url }}">Projects</a>
        </li>
        <li class="kimNavigation_item">
          <a class="kimNavigation_link" href="{{ '/blog' | url }}">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>