@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimBlogCard {
  $self: &;
  display: flex;
  flex-direction: column;
  position: relative;
  &_date {
    @include spacing.kim-responsive-margin(2, $direction: bottom);
  }
  &_link {
    @include links.kim-link;
  }
}