@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimBlogCard {
  @include typography.kim-vr-margin(19);
  display: flex;
  flex-direction: column;
  position: relative;
  &_date {
    @include spacing.kim-responsive-margin(2, $direction: bottom);
    margin-right: 1em;
  }
  &_heading {
    @include typography.kim-font-stack(header, $weight: bold);
  }
  &_link {
    @include links.kim-link;
  }
  &-padded {
    @include spacing.kim-responsive-padding(3);
    color: colors.kim-color-css("text");
    background-color: colors.kim-color-css("background");
  }
}