@use "../helpers/media-queries";

.kimBlogCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  @include media-queries.kim-cq($from: 400px) {
    flex-direction: row;
    gap: var(--space-3);
  }
}

.kimBlogCard_date {
  flex-shrink: 0;
  font-feature-settings: "tnum";
  white-space: nowrap;
}
