@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";
@use "../helpers/typography";

@use "sass:color";

.kimCharacter {
  $c: #{colors.kim-color-css("speech-bubble")};
  $w: 4.5rem;
  $g: 1rem;
  @include spacing.kim-responsive-margin(0);
  @include typography.kim-vr-margin(19);
  display: flex;
  border: measurements.kim-border-width("regular") solid $c;
  border-left: none;
  &_cite {
    flex: 0 0 $w;
    background-color: $c;
  }
  &_image {
    width: $w + $g;
    max-width: none;
    height: $w + $g;
    margin-top: -$g;
    margin-left: $g * -0.5;
    margin-right: $g * -0.5;
    margin-bottom: 0;
    object-fit: contain;
    object-position: top center;
    user-select: none;
    filter: drop-shadow(0 0 2px $c);
  }
  &_speech {
    @include spacing.kim-responsive-margin(0);
    @include spacing.kim-responsive-padding(3);
    > :last-child {
      margin-bottom: 0;
    }
  }
}
