@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";
@use "../helpers/typography";

@use "sass:color";

.kimCharacter {
  $image_width: 4.5rem;
  $image_gutter: 1rem;
  @include spacing.kim-responsive-margin(0);
  @include typography.kim-vr-margin(19);
  display: flex;
  gap: 1.5rem;
  &_cite {
    flex: 0 0 $image_width;
    position: relative;
    &::before {
      content: "";
      width: $image_width + $image_gutter;
      height: $image_width - $image_gutter;
      margin: 0 ($image_gutter * -0.5);
      position: absolute;
      top: 0;
      left: 0;
      background-color: colors.kim-color-css("speech-bubble");
      clip-path: polygon(
        #{$image_gutter * 0.5} 0,
        100% 0,
        calc(100% - #{$image_gutter * 0.5}) 100%,
        0 100%
      );
      transform: rotate(-5deg);
    }
  }
  &_image {
    margin: 0;
    margin-top: -$image_gutter * 1.5;
    aspect-ratio: 1;
    position: relative;
    object-fit: contain;
  }
  &_speech {
    @include spacing.kim-responsive-margin(0);
    @include spacing.kim-responsive-padding(0);
    > :last-child {
      margin-bottom: 0;
    }
  }
}
