@use "../helpers/a11y";
@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimColorSchemeSwitch {
  $self: &;
  margin: 0;
  padding: 0;
  border: none;
  &[hidden] {
    display: none;
  }
  &_inner {
    @include typography.kim-font-size(12);
    display: inline-flex;
  }
  &_item {
    position: relative;
    &:first-child #{$self}_label {
      border-left-width: measurements.kim-border-width("hairline");
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child #{$self}_label {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  &_input {
    @include a11y.kim-visually-hidden;
    &:checked + #{$self}_label {
      background-color: colors.kim-color-css("link-hover-accent");
    }
    &:checked + #{$self}_label::before {
      content: "";
    }
    &:focus + #{$self}_label {
      @include a11y.kim-focus-ring;
    }
  }
  &_label {
    @include spacing.kim-responsive-padding(2, $direction: inline);
    @include spacing.kim-responsive-padding(1, $direction: block);
    display: inline-block;
    border-width: measurements.kim-border-width("hairline")
      measurements.kim-border-width("hairline")
      measurements.kim-border-width("hairline") 0;
    border-style: solid;
    border-color: currentcolor;
    color: colors.kim-color-css("link");
    font-weight: bold;
    cursor: pointer;
    &::before {
      display: inline-block;
      width: 1em;
      height: 0.5em;
      margin-right: 0.5em;
      border-width: 0 0 0.2em 0.2em;
      border-style: solid;
      border-color: transparent transparent currentcolor currentcolor;
      transform: translateY(-0.2em) rotate(-45deg);
    }
  }
}
