@use "../helpers/a11y";

.kimColorSchemeSwitch {
  margin: 0;
  padding: 0;
  border: none;
  &[hidden] {
    display: none;
  }
}

.kimColorSchemeSwitch_inner {
  display: inline-flex;
  font-size: var(--size--1);
}

.kimColorSchemeSwitch_item {
  position: relative;
  &:first-child .kimColorSchemeSwitch_label {
    border-inline-start-width: var(--border-hairline);
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
  }
  &:last-child .kimColorSchemeSwitch_label {
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
  }
}

.kimColorSchemeSwitch_input {
  &:checked + .kimColorSchemeSwitch_label::before {
    content: "";
  }
  &:focus-visible + .kimColorSchemeSwitch_label {
    @include a11y.kim-focus-ring;
  }
}

.kimColorSchemeSwitch_label {
  display: inline-block;
  padding-block: var(--space-1);
  padding-inline: var(--space-3);
  border-block-width: var(--border-hairline);
  border-inline-start-width: 0;
  border-inline-end-width: var(--border-hairline);
  border-style: solid;
  border-color: currentcolor;
  color: var(--color-link);
  font-weight: bold;
  cursor: pointer;
  &::before {
    display: inline-block;
    width: 1em;
    height: 0.5em;
    margin-inline-end: var(--space-2);
    border-width: 0 0 0.2em 0.2em;
    border-style: solid;
    border-color: transparent transparent currentcolor currentcolor;
    transform: translateY(-0.2em) rotate(-45deg);
  }
}
