.kimComment {
  margin: 0;
}

.kimComment_meta {
  margin-block-end: var(--space-3);
  padding-block: var(--space-2);
  border-inline-width: 0;
  border-block-width: var(--border-hairline);
  border-style: solid;
  border-color: var(--color-furniture-alt);
  overflow: hidden;
}

.kimComment_avatar {
  inline-size: 3rem;
  aspect-ratio: 1;
  margin: 0;
  margin-inline-end: var(--space-2);
  padding: var(--border-hairline);
  border: var(--border-hairline) solid var(--color-link);
  float: inline-start;
  object-fit: cover;
}

.kimComment_name {
  word-break: break-word;
}

.kimComment_time {
  display: block;
  margin: 0;
}

.kimComment_content {
  margin: 0;
}
