.kimComment {
  margin: 0;
  &_meta {
    margin-block-end: var(--space-3);
    padding-block: var(--space-2);
    border-width: 0;
    border-block-width: var(--border-hairline);
    border-style: solid;
    border-color: var(--color-furniture-alt);
    overflow: hidden;
  }
  &_avatar {
    inline-size: 3rem;
    aspect-ratio: 1;
    margin: 0;
    margin-inline-end: var(--space-2);
    padding: var(--border-hairline);
    border: var(--border-hairline) solid var(--color-link);
    float: inline-start;
    object-fit: cover;
  }
  &_name {
    word-break: break-word;
  }
  &_time {
    display: block;
    margin: 0;
  }
  &_content {
    margin: 0;
  }
}
