@use "../settings";
@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimFigure {
  @include typography.kim-vr-margin(19);
  width: 100%;
  margin: 0;
  text-align: center;
  img {
    margin-bottom: 0;
  }
  &_caption {
    @include spacing.kim-responsive-padding(1, $direction: bottom);
    @include typography.kim-font-size(16);
    border-bottom: measurements.kim-border-width("hairline") solid colors.kim-color-css("furniture-alt");
    text-align: left;
  }
  @include media-queries.kim-mq($from: galaxy) {
    &-left,
    &-right {
      width: 30%;
      max-width: 17.5rem;
    }
    &-left {
      @include spacing.kim-responsive-margin(3, $direction: right);
      float: left;
      clear: left;
    }
    &-right {
      @include spacing.kim-responsive-margin(3, $direction: left);
      float: right;
      clear: right;
    }
  }
}