@use "../settings";

@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/media-queries";
@use "../helpers/typography";
@use "../helpers/reset";
@use "../helpers/spacing";

.kimFooter {
  position: sticky;
  top: 100%;
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(3, $direction: block);
    display: flex;
    flex-direction: column;
    gap: settings.$kim-page-gutter * 0.5;
    border-bottom: measurements.kim-border-width("thick") solid
      colors.kim-color-css("furniture");
    position: relative;
    @include media-queries.kim-mq($from: defiant) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &_links {
    @include typography.kim-font-size(12);
    display: block;
    margin: 0;
    padding: 0;
    margin-right: auto;
    li {
      @include spacing.kim-responsive-margin(2, $direction: right);
      display: inline-block;
    }
  }
}
