@use "../helpers/media-queries";

.kimFooter {
  position: sticky;
  inset-block-start: 100%;

  @include media-queries.kim-print {
    display: none;
  }
}

.kimFooter_inner {
  padding-block: var(--space-6);
  border-block-end: var(--border-thick) solid var(--color-furniture);
}
