@use "../settings";

@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/measurements";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@use "sass:color";

.kimMasthead {
  @include typography.kim-font-stack(header, $weight: bold);
  color: colors.kim-color-css("text");
  background-color: colors.kim-color-css("background");
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(4, $direction: block);
    border-top: measurements.kim-border-width("thick") solid colors.kim-color-css("furniture");
  }
  a {
    @include typography.kim-font-size(24);
    @include links.kim-link-no-underline;
  }
}
