@use "../settings";

@use "../helpers/a11y";
@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/measurements";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@use "sass:color";

.kimMasthead {
  $self: &;
  @include typography.kim-font-size(24);
  @include typography.kim-font-stack(header, $weight: bold);
  color: colors.kim-color-css("text");
  background-color: colors.kim-color-css("background");
  @include media-queries.kim-print {
    display: none;
  }
  &_inner {
    @include spacing.kim-responsive-padding(4, $direction: bottom);
    display: flex;
    border-top: measurements.kim-border-width("thick") solid
      colors.kim-color-css("furniture");
  }
  &_brand {
    @include spacing.kim-responsive-margin(3, $direction: right);
    @include spacing.kim-responsive-padding(2);
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    color: colors.kim-color-css("background");
    background-color: colors.kim-color-css("link");
    text-decoration: none;
    &:hover {
      #{$self}_logo {
        fill: colors.kim-color-css("link-underline-hover");
      }
    }
    &:focus-visible {
      outline: none;
      #{$self}_name {
        @include a11y.kim-focus-ring;
      }
    }
  }
  &_logo {
    fill: currentcolor;
    line-height: 0;
    @include media-queries.kim-mq($from: galaxy) {
      @include spacing.kim-responsive-margin(3, $direction: right);
    }
  }
  &_name {
    @include media-queries.kim-mq($to: galaxy) {
      display: none;
    }
  }
  &_breadcrumbs {
    @include spacing.kim-responsive-margin(1, $direction: top);
    @include spacing.kim-responsive-margin(1, $direction: bottom);
    display: inline-block;
    align-self: center;
    a + a::before {
      @include spacing.kim-responsive-margin(1, $direction: right);
      @include spacing.kim-responsive-margin(1, $direction: left);
      content: "/";
      color: colors.kim-color-css("text");
      text-decoration: none;
    }
  }
}
