@forward "../objects/blockquote";
@forward "../objects/rule";
@forward "../objects/table";
@forward "../objects/typography";
@forward "../objects/links";
@forward "../objects/lists";

.kimProse {
  p:not([class]) {
    @extend .kimBody;
  }
  h1:not([class]) {
    @extend .kimHeading-xl;
  }
  h2:not([class]) {
    @extend .kimHeading-l;
  }
  h3:not([class]) {
    @extend .kimHeading-m;
  }
  h4:not([class]) {
    @extend .kimHeading-s;
  }
  ol:not([class]),
  ul:not([class]) {
    @extend .kimList;
  }
  ol:not([class]) {
    @extend .kimList-numbered;
  }
  ul:not([class]) {
    @extend .kimList-bulleted;
  }
  hr:not([class]) {
    @extend .kimRule;
  }
  blockquote:not([class]) {
    @extend .kimBlockquote;
  }
  table:not([class]) {
    @extend .kimTable;
  }
  a:not([class]) {
    @extend .kimLink;
  }
}
