@use "../settings";

@use "../helpers/colors";
@use "../helpers/measurements";
@use "../helpers/media-queries";
@use "../helpers/spacing";
@use "../helpers/typography";

@forward "../objects/rule";
@forward "../objects/table";
@forward "../objects/typography";
@forward "../objects/lists";

.kimProse {
  p {
    @extend .kimBody;
  }
  h1 {
    @extend .kimHeading-xl;
  }
  h2 {
    @extend .kimHeading-l;
    @include spacing.kim-responsive-margin(9, $direction: top);
  }
  h3 {
    @extend .kimHeading-m;
    @include spacing.kim-responsive-margin(7, $direction: top);
  }
  h4 {
    @extend .kimHeading-s;
    @include spacing.kim-responsive-margin(5, $direction: top);
  }
  ol,
  ul {
    @extend .kimList;
  }
  ol {
    @extend .kimList-numbered;
  }
  ul {
    @extend .kimList-bulleted;
  }
  hr {
    @extend .kimRule;
  }
  blockquote:not([class]) {
    @include spacing.kim-responsive-padding(3, $direction: left);
    @include typography.kim-vr-margin(19);
    margin: 0;
    border-left: measurements.kim-border-width("regular") solid
      colors.kim-color-css("furniture");
  }
  table {
    @extend .kimTable;
  }
}
