.kimRobatWars {
  --offset: var(--space-8);
  block-size: clamp(12rem, 30vh, 15rem);
  background-color: var(--color-furniture-alt);
  pointer-events: none;
  &_inner {
    block-size: calc(100% + var(--offset));
    position: relative;
    inset-block-start: calc(0px - var(--offset));
    background-image: url("/assets/images/robat-footer.webp");
    background-repeat: repeat-x;
    background-position: top 0 left 50%;
    background-size: auto 100%;
  }
}
