@use "../helpers/links";

// There isn't any unique styling applied until the component is initialised,
// so everything needs to be wrapped up in this
.kimTabs-active {
  --tabs-border-width: var(--border-hairline);
  --tabs-border-color: var(--color-furniture);
  --tabs-border-inactive-color: var(--color-furniture-alt);

  --tabs-border: var(--tabs-border-width) solid var(--tabs-border-color);
  --tabs-border-inactive: var(--tabs-border-width) solid
    var(--tabs-border-inactive-color);

  .kimTabs_tablist {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    margin: 0;
    margin-block-end: var(--space-1);
    padding: 0;
    list-style: none;
  }

  .kimTabs_item {
  }

  .kimTabs_link {
    display: inline-block;
    padding: var(--space-1) var(--space-2-3);
    border: var(--tabs-border-inactive);
    background-color: var(--border-inactive-color);
    @include links.kim-link-no-underline;
  }

  .kimTabs_link[aria-selected="true"] {
    border-color: var(--tabs-border-color);
    outline: var(--border-regular) solid transparent;
    outline-offset: calc(0px - var(--border-regular));
  }

  .kimTabs_panel {
  }

  // We can't display: none the panels as we use funky scroll syncronisation stuff on the browser stats pages, which doesn't work with non-rendered elements.
  .kimTabs_panel[aria-hidden="true"] {
    display: block;

    @supports (content-visibility: hidden) {
      content-visibility: hidden;
    }

    @supports not (content-visibility: hidden) {
      block-size: 0;
      overflow: hidden;
    }
  }
}
