@use "../helpers/a11y";
@use "../helpers/links";
@use "../helpers/media-queries";

.kimToc {
  @include media-queries.kim-mq($from: galaxy) {
    position: sticky;
    inset-block-start: var(--space-3);
  }

  &_collapsible[open] {
    .kimToc_collapsibleSummary {
      margin-block-end: var(--space-2);
      &::before {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
      }
    }
  }
  &_collapsibleSummary {
    position: relative;
    cursor: pointer;
    &::before {
      --marker-size: 0.75rem;
      margin-inline-end: var(--space-2);
      content: "";
      display: inline-block;
      width: var(--marker-size);
      height: var(--marker-size);
      background-color: var(--color-link);
      clip-path: polygon(100% 50%, 0 0, 0 100%);

      @media (forced-colors: active) {
        background-color: LinkText;
      }
    }
    &::marker {
      content: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
    &:focus-visible {
      @include a11y.kim-focus-ring;
    }
  }
  &_inner ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &_inner li {
    margin-block-start: var(--space-1);
  }
  &_inner > ol > li > ol li {
    margin-inline-start: var(--space-3);
  }
  a {
    @include links.kim-link-no-underline;
  }
  @include media-queries.kim-print {
    display: none;
  }
}
