.kimBlockquote {
  margin: 0;
  margin-block-end: var(--space-5);
  padding-inline-start: var(--space-3);
  border-inline-start: var(--border-regular) solid var(--color-furniture);
  text-align: start;
}
