@use "../helpers/a11y";

.kimButtonGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 88px);
  margin-block-end: var(--space-5);
  line-height: 0;

  a {
    display: block;

    &:focus-visible {
      @include a11y.focus-ring-block;
    }
  }

  img {
    margin-block-end: 0;
    image-rendering: pixelated;
    transition-property: background-color, transform, outline;
    transition-duration: 0.22s;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: var(--color-furniture);
      transform: scale(2);
      outline: var(--border-regular) solid var(--color-furniture);
    }
  }
}
