.kimCharacter {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-block-end: var(--space-5);
}

.kimCharacter_cite {
  display: inline-flex;
  inline-size: 5rem;
  padding: var(--space-1);
  background-color: var(--color-furniture);
  align-self: flex-start;
  align-items: flex-end;

  @media (forced-colors: active) {
    border: var(--border-regular) solid transparent;
    border-bottom: none;
  }
}

.kimCharacter_image {
  margin: 0;
  aspect-ratio: 1;
  object-fit: contain;
}

.kimCharacter_speech {
  flex-grow: 1;
  margin: 0;
  padding: var(--space-3);
  background-color: var(--color-surface);

  @media (forced-colors: active) {
    border: var(--border-regular) solid transparent;
  }

  :last-child {
    margin-block-end: 0;
  }
}

.kimCharacter-ash {
}

.kimCharacter-yinglet {
  .kimCharacter_cite {
    padding-block-end: 0;
  }
}

.kimCharacter-emy {
}
