.kimCharacter {
  --image-width: 4.5rem;
  --image-gutter: 1rem;
  --border-width: var(--border-regular);

  display: flex;
  gap: 1.5rem;
  margin: 0;
  margin-block-end: var(--space-5);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    left: calc((var(--image-width) / 2) - (var(--border-width) / 2));
    border-inline-start: var(--border-width) solid var(--color-speech-bubble);
  }
}

.kimCharacter_cite {
  flex: 0 0 var(--image-width);
  position: relative;

  &::before {
    content: "";
    block-size: calc(var(--image-width) - var(--image-gutter));
    inline-size: calc(var(--image-width) + var(--image-gutter));
    margin-block: 0;
    margin-inline: calc(var(--image-gutter) * -0.5);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    background-color: var(--color-speech-bubble);
    clip-path: polygon(
      calc(var(--image-gutter) / 2) 0,
      100% 0,
      calc(100% - (var(--image-gutter) / 2)) 100%,
      0 100%
    );
    transform: rotate(-5deg);
  }
}

.kimCharacter_image {
  aspect-ratio: 1;
  margin: 0;
  margin-block-start: calc(var(--image-gutter) * -1.5);
  position: relative;
  object-fit: contain;
}

.kimCharacter_speech {
  margin: 0;
  padding: 0;

  > :last-child {
    margin-block-end: 0;
  }
}
