// There are also lots of colours here not used elsewhere on the site,
// as more colours are needed than are in the beeps brand palette.

.kimCode,
.kimCodeBlock {
  --color-code-background: var(--color-surface);
  --color-code-text: var(--color-text);
  --color-code-border: var(--color-furniture);
  --color-code-s-dark: 50%;
  --color-code-l-dark: 75%;
  --color-code-s-light: 80%;
  --color-code-l-light: 40%;

  --color-code-red: light-dark(
    hsl(5, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(5, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-orange: light-dark(
    hsl(30, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(30, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-yellow: light-dark(
    hsl(45, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(45, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-green: light-dark(
    hsl(120, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(120, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-cyan: light-dark(
    hsl(175, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(175, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-blue: light-dark(
    hsl(210, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(210, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-purple: light-dark(
    hsl(260, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(260, var(--color-code-s-dark), var(--color-code-l-dark))
  );
  --color-code-pink: light-dark(
    hsl(300, var(--color-code-s-light), var(--color-code-l-light)),
    hsl(300, var(--color-code-s-dark), var(--color-code-l-dark))
  );

  border: var(--border-regular) solid var(--color-code-border);
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  font-family: var(--font-code);
  font-feature-settings:
    "lnum",
    "liga" 0,
    "calt" 0;

  @media (prefers-color-scheme: light) {
  }
}

// Unhighlighted inline code
.kimCode {
  padding-inline: 0.2em;
  border-width: var(--border-hairline);
  white-space: normal;
  word-break: break-word;
}

// Code blocks
.kimCodeBlock {
  display: block;
  margin-block-end: var(--space-5);
  padding: var(--space-3);
  border-width: var(--border-regular);
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  white-space: break-spaces;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  tab-size: 4;
  overflow-x: auto;

  // Highlight.js styles
  .hljs-comment {
    color: var(--color-code-purple);
    font-style: italic;
  }

  .hljs-tag,
  .hljs-selector-tag,
  .hljs-keyword,
  .hljs-meta,
  .hljs-variable,
  .hljs-literal {
    color: var(--color-code-yellow);
  }

  .hljs-selector-id {
    color: var(--color-code-red);
  }

  .hljs-selector-class,
  .hljs-title.function_ {
    color: var(--color-code-cyan);
  }

  .hljs-property,
  .hljs-params {
    color: var(--color-code-blue);
  }

  .hljs-attr,
  .hljs-selector-attr,
  .hljs-title.class_ {
    color: var(--color-code-pink);
  }

  .hljs-selector-pseudo,
  .hljs-attribute {
    color: var(--color-code-green);
  }

  .hljs-string,
  .hljs-subst {
    color: var(--color-code-text);
  }

  .hljs-number {
    color: var(--color-code-orange);
  }

  .hljs-meta,
  .hljs-title.class_ {
    font-weight: bold;
  }
}

// Keyboard keys <kbd>
.kimKeyboard {
  display: inline-block;
  padding-inline: 0.3em;
  font-family: inherit;
  font-size: var(--size--1);
  border: var(--border-hairline) solid currentcolor;
  border-radius: 0.3em;
  box-shadow: inset 0 -1px 0 currentcolor;
}
