.kimComment {
  margin: 0;
  margin-block-end: var(--space-5);
  border: var(--border-regular) solid var(--color-furniture);
}

.kimComment_meta {
  padding: var(--space-3);
  border-block-end: var(--border-hairline) solid var(--color-furniture);
  background-color: var(--color-surface);
}

.kimComment_avatar {
  inline-size: 3rem;
  aspect-ratio: 1;
  margin: 0;
  margin-inline-end: var(--space-2);
  padding: var(--border-hairline);
  border: var(--border-hairline) solid var(--color-link);
  float: inline-start;
  object-fit: cover;
}

.kimComment_user {
  font-size: var(--size-0);
  font-weight: 700;
  line-height: 1.1;
  word-break: break-word;
}

.kimComment_time {
  margin-block-start: var(--space-1);
  font-size: var(--size--1);
}

.kimComment_content {
  margin: 0;
  padding: var(--space-3);

  :last-child {
    margin-block-end: 0;
  }
}
