.kimFigure {
  margin: 0;
  margin-block-end: var(--space-5);
  border-block-start-width: var(--border-regular);
  border-block-end-width: var(--border-hairline);
  border-block-style: solid;
  border-block-color: var(--color-furniture);

  :first-child {
    margin-block-end: 0;
  }

  :first-child:not(img) {
    margin-block-start: var(--space-2);
  }
}

.kimFigure_caption {
  font-size: var(--size--1);
  margin-block: var(--space-1);
}

@container (min-inline-size: 600px) {
  .kimFigure-left,
  .kimFigure-right {
    max-inline-size: 30%;
    min-inline-size: 13rem;
  }

  .kimFigure-left {
    float: inline-start;
    clear: inline-start;
    margin-inline-end: var(--space-3);
  }

  .kimFigure-right {
    float: inline-end;
    clear: inline-end;
    margin-inline-start: var(--space-3);
  }
}
