@use "../helpers/media-queries";

.kimFigure {
  inline-size: 100%;
  margin: 0;
  margin-block-end: var(--space-5);
  text-align: center;

  blockquote,
  img {
    margin-block-end: 0;
  }

  @include media-queries.kim-cq($from: constitution) {
    &-left,
    &-right {
      width: 30%;
      max-width: 17.5rem;
    }

    &-left {
      margin-inline-end: var(--space-3);
      float: inline-start;
      clear: inline-start;
    }

    &-right {
      margin-inline-start: var(--space-3);
      float: inline-end;
      clear: inline-end;
    }
  }
}

.kimFigure_caption {
  margin-block-start: var(--space-2);
  padding-block-end: var(--space-2);
  font-size: var(--size--1);
  border-bottom: var(--border-regular) solid var(--color-furniture-alt);
  text-align: start;
}
