.kimFooter {
  border-block-start: var(--border-thick) solid var(--color-furniture);
  background-color: var(--color-surface);
}

.kimFooter_inner {
  padding-block: var(--space-5);
}

.kimFooter_links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  font-size: var(--size--1);

  li + li {
    margin-block-start: unset;
  }
}

.kimFooter_copyright {
  max-inline-size: 42em;
  text-wrap: balance;
}
