@use "../helpers/a11y";

$-thumb-block-size: 2rem;
$-thumb-inline-size: 1.5rem;

@mixin -kim-thumb {
  block-size: $-thumb-block-size;
  inline-size: $-thumb-inline-size;
  border: none;
  border-radius: 0;
  forced-color-adjust: none;
  color: transparent;
  background-color: var(--thumb-background);
  background-image: repeating-linear-gradient(
    to right,
    var(--thumb-markers),
    var(--thumb-markers) 1px,
    transparent 1px,
    transparent 2px
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.75rem 1.5rem;
  outline: var(--border-hairline) solid transparent;
  cursor: ew-resize;
}

.kimImageDiffer {
  --thumb-background: var(--color-furniture);
  --thumb-markers: var(--color-background);

  display: flex;
  flex-direction: column;
  margin-block-end: var(--space-5);

  @media (forced-colors: active) {
    --thumb-background: ButtonFace;
    --thumb-markers: ButtonText;
  }

  &.kimImageDiffer-active {
    --exposure: 50%;
    position: relative;

    .kimImageDiffer_image:nth-child(2) {
      position: absolute;
      inset-block-start: 0;
      clip-path: polygon(
        100% 0,
        100% 100%,
        var(--exposure) 100%,
        var(--exposure) 0
      );
    }
  }
}

.kimImageDiffer_image {
  margin-block-end: 0;
}

.kimImageDiffer_range {
  block-size: 100%;
  inline-size: calc(100% + #{$-thumb-inline-size});
  margin-block: 0;
  margin-inline: calc(#{$-thumb-inline-size} * -0.5);
  padding: 0;
  position: absolute;
  inset: 0;
  background: transparent;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-block-start: calc(#{$-thumb-block-size} * -0.5);
    @include -kim-thumb;
  }

  &::-moz-range-thumb {
    @include -kim-thumb;
  }

  &:focus-visible {
    outline: none;

    &::-webkit-slider-thumb {
      @include a11y.kim-focus-ring--block($background-color: false);
    }

    &::-moz-range-thumb {
      @include a11y.kim-focus-ring--block($background-color: false);
    }
  }
}
