.kimLastfm {
  --artwork-size: 80px;

  display: inline-grid;
  grid-template-columns: var(--artwork-size) 1fr;
  grid-auto-rows: min-content;
  grid-template-areas: "artwork ." "artwork ." "artwork ." "artwork .";
  column-gap: var(--space-2);
  align-items: start;
  margin-block-end: var(--space-5);
}

.kimLastfm_artwork {
  grid-area: artwork;
  position: relative;

  img {
    block-size: var(--artwork-size);
    inline-size: var(--artwork-size);
    margin: 0;
    border-radius: 50%;
    corner-shape: squircle;
    position: relative;
    vertical-align: middle;
  }
}

.kimLastfm[data-now-listening="true"] .kimLastfm_artwork {
  &::before {
    content: "";
    position: absolute;
    inset: calc(var(--border-regular) * -1);
    border-radius: 50%;
    corner-shape: squircle;
    background-image: conic-gradient(
      from var(--angle) in lch,
      transparent,
      var(--color-furniture)
    );
    animation-name: nowPlaying;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.kimLastfm_track {
  font-size: var(--size--1);
  font-weight: 600;
  text-wrap: balance;
}

.kimLastfm_artist {
  color: var(--color-text-subtle);
  font-size: var(--size--2);
}

@keyframes nowPlaying {
  100% {
    --angle: 1turn;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}
