@use "../helpers/a11y";
@use "../helpers/links";
@use "../helpers/reset";

.kimMasthead {
  --logo-size: 3rem;
  --top-spacing: var(--border-thick);
  --bottom-spacing: var(--space-2);

  border-block-start: var(--top-spacing) double var(--color-furniture);
}

.kimMasthead_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding-block-end: var(--bottom-spacing);
  position: relative;
  container-type: inline-size;
}

.kimMasthead_logo {
  --ribbon-size: calc(var(--logo-size) * 1.5);

  flex-shrink: 0;
  display: inline-block;
  inline-size: calc(var(--logo-size) * 1.5);
  margin-block-start: calc(var(--top-spacing) * -1);
  margin-inline-end: var(--space-2);
  padding-block-start: var(--space-5);
  padding-block-end: var(--space-2);
  color: var(--color-canvas);
  background-color: var(--color-accent);
  text-align: center;

  &:hover {
    background-color: var(--color-link-hover);
  }

  &:focus-visible {
    @include a11y.focus-ring;
  }
}

.kimMasthead_logo svg {
  inline-size: var(--logo-size);
  block-size: var(--logo-size);
  fill: currentcolor;

  // remove line-height from the image
  vertical-align: middle;
}

.kimMasthead_section {
  margin-block: var(--bottom-spacing);
  font-size: var(--size-1);
  font-weight: 450;
  font-stretch: 90%;
  text-transform: uppercase;
  line-height: 1;

  @include links.link-helper(
    $color: var(--color-link),
    $visited-color: var(--color-link),
    $initial-underline: false
  );

  @container (max-inline-size: 35rem) {
    order: 3;
    inline-size: 100%;
    border-inline-start: var(--border-regular) solid currentcolor;
    padding-inline-start: var(--bottom-spacing);
  }
}

.kimMasthead_menu-link {
  margin-block-end: var(--bottom-spacing);
  @include links.link-helper(
    $color: var(--color-link),
    $visited-color: var(--color-link),
    $hover-color: var(--color-link-hover)
  );
}

.kimMasthead_menu-toggle {
  @include reset.button;
  --icon-size: 1rem;

  flex-shrink: 0;
  padding-block: calc(var(--bottom-spacing) - var(--border-hairline));
  padding-inline: var(--space-2);
  border: var(--border-hairline) solid currentcolor;
  position: relative;
  color: var(--color-link);
  font-weight: 450;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;

  svg {
    inline-size: 0.75em;
    block-size: 0.75em;
    margin-inline-end: var(--space-1);
  }

  &:hover,
  &[aria-expanded="true"] {
    color: var(--color-canvas);
    background-color: var(--color-link);
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(90deg);
    }
  }

  &:focus-visible {
    @include a11y.focus-ring;
  }
}

.kimMasthead_menu-link,
.kimMasthead_menu-toggle {
  margin-inline-start: auto;
}
