@use "../helpers/links";

.kimNavigation {
  border-block-end: var(--border-regular) solid var(--color-furniture);
  background-color: var(--color-surface);
}

.kimNavigation_inner {
  padding-block: var(--space-5);
  position: relative;

  &::before {
    content: "";
    border-block-start: var(--border-hairline) solid var(--color-furniture);
    position: absolute;
    inset-block-start: calc(var(--border-hairline) * -1);
    inset-inline: var(--grid-gutter);
  }
}

.kimNavigation_item {
  position: relative;
}

.kimNavigation_link {
  font-weight: 500;
  @include links.link-helper(
    $color: var(--color-link),
    $visited-color: var(--color-link),
    $initial-underline: false
  );
  @include links.extend-link($pseudo: "before");

  &-ash {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      inline-size: 2rem;
      block-size: 2rem;
      position: absolute;
      inset-block-start: -0.25rem;
      inset-inline-end: -2rem;
      background-image: url("/assets/images/ash/tongue.svg");
      background-repeat: no-repeat;
      object-fit: contain;
      transform: rotate(3deg);
    }
  }
}

.kimNavigation_description {
  display: block;
  color: var(--color-text-subtle);
  font-size: var(--size--1);
}
