.kimSocialEmbed {
  margin: 0;
  margin-block-end: var(--space-5);
  padding: var(--space-4);
  border: var(--border-regular) solid var(--color-furniture);
  border-radius: var(--radius-embed);
}

.kimSocialEmbed_user {
  font-size: var(--size--1);
  line-height: 1.1;

  strong {
    display: block;
    font-size: var(--size-0);
  }
}

.kimSocialEmbed_body {
  margin: 0;
  margin-block-start: var(--space-1);
  padding-block-start: var(--space-3);
  border-block-start: var(--border-hairline) solid var(--color-furniture);
}

.kimSocialEmbed_meta {
  padding-block-start: var(--space-1);
  border-block-start: var(--border-hairline) solid var(--color-furniture);
  font-size: var(--size--1);
}
