.kimSplash {
  --offset-start: var(--space-5-6);
  --offset-end: var(--offset-start);

  margin-block-start: var(--offset-start);
  margin-block-end: var(--offset-end);
  position: relative;
}

.kimSplash_inner {
  position: relative;
}

.kimSplash_text {
  margin: 0;
  padding: var(--space-4);
  color: var(--color-text-subtle);
  background-color: var(--color-surface);
  font-size: var(--size-4);
  font-weight: 640;
  font-stretch: 120%;
  text-wrap: balance;
  font-variant-alternates: styleset(machine);
  line-height: 1;

  strong {
    display: block;
    color: var(--color-text-accent);
    font-weight: inherit;
  }
}

.kimSplash_image {
  inline-size: 60cqi;
  block-size: auto;
  margin-block-start: calc(0px - var(--offset-start) * 1.25);
  margin-block-end: 0;
  position: relative;
  pointer-events: none;
}

@media (min-width: 45rem) {
  .kimSplash {
    --offset-start: var(--space-7);
    --offset-end: var(--space-3);
  }

  .kimSplash_text {
    padding-inline-end: 40cqi;
    font-size: var(--size-6);
  }

  .kimSplash_image {
    inline-size: 45cqi;
    block-size: calc(100% + var(--offset-start) + var(--offset-end));
    margin-block-start: 0;
    position: absolute;
    inset-inline-end: calc(0px + var(--space-1));
    inset-block-start: calc(0px - var(--offset-start));
    inset-block-end: calc(0px - var(--offset-end));
    object-fit: contain;
    object-position: center right;
  }
}

@media (min-width: 55rem) {
  .kimSplash {
    --offset-start: var(--space-9);
    --offset-end: var(--space-4);
  }
}
