.kimSplash {
  position: relative;
}

.kimSplash_background {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset: 0;
}

.kimSplash_inner {
  container-type: inline-size;
  position: relative;
}

.kimSplash_text {
  margin-block: var(--space-8-9);
  font-weight: bold;
  font-size: 12cqi;
  text-wrap: balance;
  line-height: 0.9;
  opacity: 0.85;

  strong {
    display: block;
    color: var(--color-text-accent);
  }
}

.kimSplash_image {
  inline-size: 70cqi;
  block-size: auto;
  margin-block-start: -10cqi;
  margin-block-end: 0;
  position: relative;
  pointer-events: none;
}

@container (min-width: 768px) {
  .kimSplash_text {
    padding-inline-end: 30cqi;
    font-size: 9.25cqi;
  }

  .kimSplash_image {
    inline-size: 45cqi;
    margin-block-start: 0;
    position: absolute;
    inset-block-start: var(--grid-gutter);
    inset-inline-end: var(--grid-gutter);
  }
}
