@use "../helpers/links";

.kimToc {
  margin-block-end: var(--space-5);
  border-block-end: var(--border-hairline) solid var(--color-furniture);
  position: sticky;
  inset-block-start: var(--space-5);
}

.kimToc_heading {
  margin-block-end: var(--space-2);
}

// I wish the Eleventy plugin gave me more control over the output code, so I
// wouldn't have to duplicate a bunch of styles from elsehwere to here. Ho hum.

.kimToc_inner ol {
  margin: 0;
  margin-block-end: var(--space-5);
  padding: 0;
  font-size: var(--size--1);
  list-style-type: none;

  ol {
    margin-inline-start: var(--space-3);
    margin-block: var(--space-1);
  }
}

.kimToc_inner li + li {
  margin-block-start: var(--space-1);
}

.kimToc_inner a {
  @include links.link-helper($initial-underline: false);
}
