@use "../helpers/a11y";
@use "../helpers/links";

.kimWebring {
  margin-block-end: var(--space-5);
}

.kimWebring_link {
  @include links.link-helper(
    $color: var(--color-link),
    $visited-color: var(--color-link),
    $initial-underline: false
  );
}

.kimWebring_name {
  margin: 0;
  position: relative;
  font-size: var(--size-0);
  font-weight: bold;

  svg {
    inline-size: 1.5em;
    block-size: 1.5em;
    forced-color-adjust: auto;
  }
}

.kimWebring_name .kimWebring_link::after {
  content: "";
  position: absolute;
  inset: 0;
}
