@use "../helpers/a11y";
@use "../helpers/links";

.kimWebring {
  margin-block-end: var(--space-5);
}

.kimWebring_name,
.kimWebring_link {
  @include links.link-helper(
    $color: var(--color-link),
    $visited-color: var(--color-link),
    $initial-underline: false
  );
}

.kimWebring_name {
  display: inline-block;
  font-weight: bold;

  svg {
    inline-size: 1.5em;
    block-size: 1.5em;
    forced-color-adjust: auto;
  }

  &:focus-visible svg {
    --color-text: var(--color-focus-text);
    --color-text-accent: var(--color-focus-text);
  }
}

.kimWebring_link {
  margin-block-end: var(--space-3);
}
