.kimYouTube {
  inline-size: 100%;
  block-size: auto;
  margin-block-end: var(--space-5);
  position: relative;
  aspect-ratio: 16 / 9;

  iframe {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    inset: 0;
  }
}
