@mixin _kim-focus-ring-common($background-color: true) {
  outline: 2px solid transparent;
  color: var(--color-focus-text);
  @if $background-color {
    background-color: var(--color-focus-background);
  }
  text-decoration: none;
}

// Focus style for text
@mixin kim-focus-ring {
  @include _kim-focus-ring-common;
  box-shadow:
    0 -2px var(--color-focus-background),
    0 4px var(--color-focus-text);
  box-decoration-break: clone;
}

// Focus style for images, buttons, etc.
@mixin kim-focus-ring--block($background-color: true) {
  @include _kim-focus-ring-common($background-color: $background-color);
  box-shadow:
    0 0 0 4px var(--color-focus-background),
    0 0 0 8px var(--color-focus-text);
}

// Hide elements while keeping them available to screen readers
@mixin kim-visually-hidden($important: false) {
  position: absolute if($important, !important, null);
  block-size: 1px if($important, !important, null);
  inline-size: 1px if($important, !important, null);
  margin: -1px if($important, !important, null);
  padding: 0 if($important, !important, null);
  border: 0 if($important, !important, null);
  overflow: hidden if($important, !important, null);
  clip: rect(0 0 0 0) if($important, !important, null);
}
