@mixin -focus-ring-common($background-color: true) {
  outline: 2px solid transparent;
  color: var(--color-focus-text);
  text-decoration: none;

  @if $background-color {
    background-color: var(--color-focus-background);
  }
}

// Focus style for text
@mixin focus-ring {
  @include -focus-ring-common;
  box-shadow:
    0 -2px var(--color-focus-background),
    0 4px var(--color-focus-text);
  box-decoration-break: clone;
}

// Focus style for controls that don't contain text
@mixin focus-ring-block($background-color: true) {
  @include -focus-ring-common($background-color: $background-color);
  box-shadow:
    0 0 0 4px var(--color-focus-background),
    0 0 0 8px var(--color-focus-text);
}

// Hide elements while keeping them available to screen readers
@mixin visually-hidden($important: false) {
  position: absolute if(sass($important): !important);
  block-size: 1px if(sass($important): !important);
  inline-size: 1px if(sass($important): !important);
  margin: -1px if(sass($important): !important);
  padding: 0 if(sass($important): !important);
  border: 0 if(sass($important): !important);
  overflow: hidden if(sass($important): !important);
  clip: rect(0 0 0 0) if(sass($important): !important);
}
