@use "../settings";

@use "colors";

@mixin _kim-focus-ring-common {
  outline: 2px solid transparent;
  color: colors.kim-color-css("focus-text");
  background-color: colors.kim-color-css("focus-background");
  text-decoration: none;
}

// Focus style for text
@mixin kim-focus-ring {
  @include _kim-focus-ring-common;
  box-shadow: 0 -2px colors.kim-color-css("focus-background"),
    0 4px colors.kim-color-css("focus-text");
  box-decoration-break: clone;
}

// Focus style for images, buttons, etc.
@mixin kim-focus-ring--block {
  @include _kim-focus-ring-common;
  box-shadow: 0 0 0 4px colors.kim-color-css("focus-background"),
    0 0 0 8px colors.kim-color-css("focus-text");
}

// Hide elements while keeping them available to screen readers
@mixin kim-visually-hidden($important: false) {
  position: absolute if($important, !important, null);
  width: 1px if($important, !important, null);
  height: 1px if($important, !important, null);
  margin: -1px if($important, !important, null);
  padding: 0 if($important, !important, null);
  border: 0 if($important, !important, null);
  overflow: hidden if($important, !important, null);
  clip: rect(0 0 0 0) if($important, !important, null);
}
