// Container element
@mixin width-container {
  --gutter-left: calc(var(--grid-gutter) + env(safe-area-inset-left));
  --gutter-right: calc(var(--grid-gutter) + env(safe-area-inset-right));

  display: block;
  container-name: width-container;
  container-type: inline-size;
  max-inline-size: var(--grid-max-width);
  padding-inline-start: var(--gutter-left);
  padding-inline-end: var(--gutter-right);
  margin-inline: auto;
}

// Non-overflow based clearfix
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
