@use "a11y";
@use "media-queries";

@mixin -kim-link-underline($color) {
  & {
    text-decoration: underline;
    text-decoration-thickness: 0.6em;
    text-decoration-color: $color;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.25em;
  }

  @media (forced-colors: active) {
    text-decoration-thickness: unset;
    text-decoration-skip-ink: auto;
    text-underline-offset: unset;
  }
}

@mixin -kim-link-common {
  & {
    color: var(--color-link);
    word-break: break-word;
  }

  &:focus-visible {
    @include a11y.kim-focus-ring;

    img {
      @include a11y.kim-focus-ring--block;
    }
  }

  @include media-queries.kim-print {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: unset;
    text-decoration-color: currentcolor;
    text-underline-offset: unset;

    &::after {
      content: " (" attr(href) ")";
      display: inline;
      font-size: smaller;
    }
  }
}

@mixin kim-link {
  @include -kim-link-common;
  @include -kim-link-underline($color: var(--color-link-underline));

  &:visited {
    text-decoration-color: var(--color-link-underline-visited);
  }

  &:hover {
    text-decoration-color: var(--color-link-underline-hover);
  }
}

@mixin kim-link-no-underline {
  text-decoration: none;
  @include -kim-link-common;

  &:hover {
    @include -kim-link-underline($color: var(--color-link-underline-hover));
  }
}
