@use "../settings";

@use "a11y";
@use "colors";
@use "media-queries";

@mixin _kim-link-underline($color) {
  text-decoration: underline;
  text-decoration-thickness: 0.6em;
  text-decoration-color: $color;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.25em;
}

@mixin _kim-link-common {
  color: colors.kim-color-css("link");
  word-break: break-word;
  &:focus-visible {
    @include a11y.kim-focus-ring;
    img {
      @include a11y.kim-focus-ring--block;
    }
  }
  @include media-queries.kim-print {
    text-decoration: underline;
    text-decoration-thickness: unset;
    text-decoration-color: currentcolor;
    text-underline-offset: unset;
    &::after {
      content: " (" attr(href) ")";
      display: inline;
      font-size: smaller;
    }
  }
}

@mixin kim-link {
  @include _kim-link-common;
  @include _kim-link-underline($color: colors.kim-color-css("link-underline"));
  &:visited {
    text-decoration-color: colors.kim-color-css("link-underline-visited");
  }
  &:hover {
    text-decoration-color: colors.kim-color-css("link-underline-hover");
  }
}

@mixin kim-link-no-underline {
  @include _kim-link-common;
  text-decoration: none;
  &:hover {
    @include _kim-link-underline(
      $color: colors.kim-color-css("link-underline-hover")
    );
  }
}
