@use "a11y";

@mixin link-underline-helper($color: currentcolor) {
  text-decoration-line: underline;
  text-decoration-thickness: var(--border-regular);
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
  text-decoration-color: color-mix(in lch, #{$color} 30%, transparent);
}

@mixin link-helper(
  $color: var(--color-link),
  $hover-color: var(--color-link-hover),
  $visited-color: var(--color-link-visited),
  $initial-underline: true,
  $hover-styles: true,
  $visited-styles: true,
  $focus-styles: true
) {
  @include link-underline-helper($color: $color);
  color: $color;

  @if not $initial-underline {
    text-decoration-line: none;
  }

  @if $visited-styles {
    &:visited {
      color: $visited-color;
    }
  }

  @if $hover-styles {
    &:hover {
      color: $hover-color;

      @if not $initial-underline {
        text-decoration-line: underline;
      }
    }
  }

  @if $focus-styles {
    &:focus-visible {
      @include a11y.focus-ring;
    }
  }
}
