@use "../settings";

@use "sass:map";
@use "sass:math";

// px to rem unit conversion
@function kim-px-to-rem($value) {
  @if (math.is-unitless($value)) {
    $value: $value * 1px;
  }
  @return math.div($value, settings.$kim-font-sizes-root) * 1rem;
}

@function kim-border-width($key) {
  @if not map.has-key(settings.$kim-border-widths, $key) {
    @error "Unknown border width `#{$key}` - expected a key from the border-widths map.";
  }
  @return map.get(settings.$kim-border-widths, $key);
}