@use "../settings/breakpoints";

@use "sass:map";

// Query constructor
@function -kim-query-builder($from: null, $to: null, $and: null) {
  $map: breakpoints.$kim-breakpoints;
  $query: "";
  @if $from {
    $fromValue: if(map.has-key($map, $from), map.get($map, $from), $from);
    $query: "#{$query} (min-width: #{$fromValue})";
  }
  @if $from and $to {
    $query: "#{$query} and";
  }
  @if $to {
    $toValue: if(map.has-key($map, $to), map.get($map, $to), $to) - 1px;
    $query: "#{$query} (max-width: #{$toValue})";
  }
  @if $and {
    $query: "#{$query} #{$and}";
  }
  @return $query;
}

// Media query helper
@mixin kim-mq($from: null, $to: null, $and: null) {
  @media screen and #{-kim-query-builder($from, $to, $and)} {
    @content;
  }
}

// Container query helper
@mixin kim-cq($from: null, $to: null, $and: null, $container-name: null) {
  @container #{if($container-name, $container-name, "")} #{-kim-query-builder($from, $to, $and)} {
    @content;
  }
}

// Print media query
@mixin kim-print {
  @media print {
    @content;
  }
}
