{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}

{% block main %}
  <div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper">
      <article itemscope itemtype="https://schema.org/BlogPosting">
      
        <header>
          <h1 class="kimHeading-xl" itemprop="name">
            {{- title | markdownInline | safe -}}
          </h1>
          <div class="kim-!-sr"><a href="{{ page.url | absoluteUrl(site.domain) }}" itemprop="url">Permalink to this blog post</a></div>
        </header>
        
        <div class="kimGrid">
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
          
            <footer>
              <dl class="kim-!-margin-0">
                {%- if date %}
                  <div class="kim-!-margin-bottom-3">
                    <dt class="kim-!-font-weight-600 kim-!-margin-bottom-1">Published</dt>
                    <dd class="kim-!-margin-0">
                      <time datetime="{{ date | formatDate('iso') }}" itemprop="dateCreated">
                        {{- date | formatDate('human') -}}
                      </time>
                    </dd>
                  </div>
                {%- endif %}
                {%- if updated %}
                  <div class="kim-!-margin-bottom-3">
                    <dt class="kim-!-font-weight-600 kim-!-margin-bottom-1">Last updated</dt>
                    <dd class="kim-!-margin-0">
                      <time datetime="{{ updated | formatDate('iso') }}" itemprop="dateModified">
                        {{- updated | formatDate('human') -}}
                      </time>
                    </dd>
                  </div>
                {%- endif %}
                {%- if tags %}
                  <div class="kim-!-margin-bottom-3 kim-!-doNotPrint">
                    <dt class="kim-!-font-weight-600 kim-!-margin-bottom-1">Tagged</dt>
                    <dd class="kim-!-margin-0">
                      <ul class="kimList">
                        {% for tag in tags | filterTagList | sort %}
                          {% set tagUrl %}/blog/{{ tag | slugify }}/{% endset %}
                          <li>
                            <a class="kimLink-plain" href="{{ tagUrl | url }}" {%- if page.url === tagUrl %} aria-current="true"{% endif %}>
                              {{- tag | tagify -}}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </dd>
                  </div>
                {%- endif %}
              </dl>
            </footer>
            
            <hr class="kimRule">
            
            {%- if (content | toc) %}
              <nav class="kimToc" aria-labelledby="toc-header">
                <details class="kimToc_collapsible" data-js="toc">
                  <summary class="kimToc_collapsibleSummary">
                    <span class="kimHeading-s" id="toc-header">Contents</span>
                  </summary>
                  {{ content | toc('{"tags": ["h2", "h3"], "wrapper": "div", "wrapperClass": "kimToc_inner"}') | safe }}
                </details>
                <hr class="kimRule">
              </nav>
            {%- endif %}
          
          </div>
          
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds kimProse" itemprop="articleBody">
            {% block content  %}
              {{ content | safe }}
            {% endblock %}
          </div>
        </div>
      </article>
      
      {%- if interactions %}
        <div class="kimGrid kim-!-doNotPrint">
          
          {%- if (favourites | length > 0) or (shares | length > 0) %}
            <section id="interactions" class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
              <hr class="kimRule kimRule-thick">
    
              {%- if favourites | length > 0 %}
                <h2 class="kimHeading-m">Favourited by</h2>
                <ul class="kimInteractionList">
                  {%- for item in favourites %}
                  <li>
                    <a href="{{ item.url }}" rel="nofollow noreferrer noopener" title="{{ item.acct }}">
                      <img alt="{{ item.acct }}" src="{{ item.avatar }}" loading="lazy">
                    </a>
                  </li>
                  {%- endfor %}
                </ul>
              {%- endif %}
    
              {%- if shares | length > 0 %}
                <h2 class="kimHeading-m">Shared by</h2>
                <ul class="kimInteractionList">
                  {%- for item in shares %}
                  <li>
                    <a href="{{ item.url }}" rel="nofollow noreferrer noopener" title="{{ item.acct }}">
                      <img alt="{{ item.acct }}" src="{{ item.avatar }}" loading="lazy">
                    </a>
                  </li>
                  {%- endfor %}
                </ul>
              {%- endif %}
    
            </section>
          {%- else %}
            {# Placeholder column if there's nothing to actually show here. Not ideal, but eeeeeeh. #}
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird" aria-hidden="true">
              <hr class="kimRule kimRule-thick">
            </div>
          {%- endif %}
          
          <section id="comments" class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
            <hr class="kimRule kimRule-thick">
            
            <h2 class="kimHeading-m">Comments</h2>
            <p class="kimBody"><strong>Thoughts? Questions?</strong> You can favourite, share or comment on this post by <a href="https://{{ interactions.host }}/@{{ interactions.username }}/{{ interactions.id }}">replying to it on Mastodon</a>.</p>
            
            {%- if comments %}
            {% from "src/_includes/blog-comments.njk" import kimBlogComments %}
            {{ kimBlogComments(comments) }}
            {%- endif %}
            
          </section>
        </div>
      {%- endif %}
      
      <nav aria-label="Next and previous blog post" class="kim-!-doNotPrint">
        <hr class="kimRule kimRule-thick">
        <div class="kimGrid">
          {% if previousPost %}
            <div class="kimGrid_column kimGrid_column-full{% if previousPost and nextPost %} defiant:kimGrid_column-oneHalf{% endif %}">
              <div class="kimHeading-s">Previous post</div>
              {{ kimBlogCard(previousPost, { element: 'div', rel: 'prev' }) }}
              <hr class="kimRule kimRule-hairline">
            </div>
          {% endif %}
          {% if nextPost %}
            <div class="kimGrid_column kimGrid_column-full{% if previousPost and nextPost %} defiant:kimGrid_column-oneHalf{% endif %}">
              <div class="kimHeading-s">Next post</div>
              {{ kimBlogCard(nextPost, { element: 'div', rel: 'next' }) }}
              <hr class="kimRule kimRule-hairline">
            </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ '/assets/javascript/toc.js' | url | cachebust }}"></script>
{% endblock %}