{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% set yearList = postsList | getArchiveYears | reverse %}

{% block head %}
  <style>
  .page-sticky-heading {
    position: sticky;
    top: 1rem;
  }
  </style>
{% endblock %}

{% block main %}
  <div class="kim-!-margin-block-9">
    <div class="kimWrapper" itemscope itemtype="https://schema.org/Blog">
    
      {%- if tag %}
        <span class="kim-!-sr" itemprop="name">{{ site.blogName }}</span>
        <h1 class="kimHeading-xl">
          Blog posts tagged as {{ tag | tagify }}
        </h1>
      {%- else %}
        <h1 class="kimHeading-xl" itemprop="name">
          {{ site.blogName }}
        </h1>
        <p class="kimBody-l" itemprop="description">This is my personal blog, full of inane ramblings not wholly intended to be read by anyone. And yet here you are. Also there's an <a href="{{ '/feed.xml' | url }}" target="_blank" type="application/rss+xml" rel="alternate">RSS feed</a>.</p>
      {%- endif %}
            
      {%- for year in yearList %}
        <hr class="kimRule">
        <div class="kimGrid">
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
            <h2 class="kimHeading-l kim-!-margin-block-start-0 page-sticky-heading">{{ year }}</h2>
          </div>
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
            <ol class="kimList kimList-spaced">
              {% for post in postsList | getArchivePostsByYear(year) | reverse %}
                {{ kimBlogCard(post) }}
              {% endfor %}
            </ol>
          </div>
        </div>
      {%- endfor %}
      
    </div>
  </div>
{% endblock %}
