{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}

{% block main %}
  <div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper">
      <article itemscope itemtype="https://schema.org/BlogPosting">
        <div class="kimGrid">
          <header class="kimGrid_column kimGrid_column-full">
            {% if titleSvg and titleAccessible %}
              <div class="kimHeading-xl" aria-hidden="true">
                {% include "src/images/headings/" + titleSvg %}
              </div>
              <h1 class="kim-!-sr" itemprop="name">{{- titleAccessible | markdownInline -}}</h1>
            {% else %}
              <h1 class="kimHeading-xl" itemprop="name">
                {{- title | markdownInline -}}
              </h1>
            {% endif %}
          </header>
        </div>
        <div class="kimGrid">
          <div class="kimGrid_column kimGrid_column-full">
            <footer class="kimBody-s">
              {%- if date -%}
                <time datetime="{{ date | formatDate('iso') }}" itemprop="dateCreated">
                  <span class="kim-!-sr">Published on</span>
                  {{ date | formatDate('human') }}
                </time>
              {%- endif -%}
              {%- if date and updated -%}<span aria-hidden="true">&thinsp;/&thinsp;</span>{%- endif -%}
              {%- if updated -%}
                <time datetime="{{ updated | formatDate('iso') }}" itemprop="dateModified">
                  <span>Updated</span>
                  {{ updated | formatDate('human') }}
                </time>
              {%- endif -%}
              {%- if tags -%}
                <nav aria-label="Post tags" class="kim-!-margin-top-1 kim-!-doNotPrint">
                  <span class="kim-!-sr">Tagged:</span>
                  <ul class="kimList kimList-inline kimBody-s">
                    {% for tag in tags | filterTagList | sort %}
                      {% set tagUrl %}/blog/{{ tag | slugify }}/{% endset %}
                      <li>
                        <a class="kimLink-plain" href="{{ tagUrl | url }}" {%- if page.url === tagUrl %} aria-current="true"{% endif %}>
                          {{- tag | tagify -}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              {%- endif %}
            </footer>
            <hr class="kimRule kimRule-hairline">
          </div>
        </div>
        <div class="kimGrid">
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird kim-!-margin-bottom-5">
            {%- if (content | toc) %}
              <nav class="kimToc" aria-labelledby="toc-header">
                <details class="kimToc_collapsible" data-js="toc">
                  <summary class="kimToc_collapsibleSummary">
                    <span class="kimHeading-s" id="toc-header">Contents</span>
                  </summary>
                  {{ content | toc('{"tags": ["h2", "h3"], "wrapper": "div", "wrapperClass": "kimToc_inner"}') | safe }}
                </details>
                <hr class="kimRule kimRule-hairline">
              </nav>
            {%- endif %}
            <div class="kim-!-sr"><a href="{{ site.domain }}{{ page.url | url }}" itemprop="url">Permalink to this blog post</a></div>
          </div>
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds kimProse" itemprop="articleBody">
            {% block content  %}
              {{ content | safe }}
            {% endblock %}
          </div>
        </div>
      </article>
      <nav aria-label="Next and previous blog post" class="kim-!-doNotPrint">
        <hr class="kimRule kimRule-thick">
        <div class="kimGrid">
          {% if previousPost %}
            <div class="kimGrid_column kimGrid_column-full{% if previousPost and nextPost %} defiant:kimGrid_column-oneHalf{% endif %}">
              <div class="kimHeading-s">Previous post</div>
              {{ kimBlogCard(previousPost, { element: 'div' }) }}
              <hr class="kimRule kimRule-hairline">
            </div>
          {% endif %}
          {% if nextPost %}
            <div class="kimGrid_column kimGrid_column-full{% if previousPost and nextPost %} defiant:kimGrid_column-oneHalf{% endif %}">
              <div class="kimHeading-s">Next post</div>
              {{ kimBlogCard(nextPost, { element: 'div' }) }}
              <hr class="kimRule kimRule-hairline">
            </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ '/assets/javascript/toc.js' | url | cachebust }}"></script>
{% endblock %}