{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% set yearList = postsList | getArchiveYears | reverse %}

{% block main %}
  <div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper" itemscope itemtype="https://schema.org/Blog">
    
      {%- if tag %}
        <span class="kim-!-sr" itemprop="name">{{ site.blogName }}</span>
        <h1 class="kimHeading-xl">
          Blog posts tagged as {{ tag | tagify }}
        </h1>
      {%- else %}
        <h1 class="kimHeading-xl" itemprop="name">
          {{ site.blogName }}
        </h1>
        <p class="kimBody-l" itemprop="description">This is my personal blog, full of inane ramblings not wholly intended to be read by anyone. And yet here you are. Also there's an <a href="{{ '/feed.xml' | url }}" target="_blank" type="application/rss+xml" rel="alternate">RSS feed</a>.</p>
      {%- endif %}
            
      {%- for year in yearList %}
        <h2 class="kimHeading-l kim-!-margin-top-9">{{ year }}</h2>
        <ol class="kimCardGrid">
          {% for post in postsList | getArchivePostsByYear(year) | reverse %}
            {{ kimBlogCard(post) }}
          {% endfor %}
        </ol>
        <hr class="kimRule">
      {%- endfor %}
      
    </div>
  </div>
{% endblock %}
