{% extends 'src/_layouts/layout.njk' %}

{% block main %}
  <article class="kim-!-margin-top-9 kim-!-margin-bottom-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <header class="kimGrid_column kimGrid_column-full">
          {%- if preTitle %}
          <div class="kimSubheading-l">{{ preTitle | markdownInline | safe }}</div>
          {%- endif %}
          <h1 class="kimHeading-xl">
            {{- title | markdownInline | safe -}}
          </h1>
        </header>
      </div>
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneThird">
          {% include "table-of-contents.njk" %}
        </div>
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-twoThirds">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ '/assets/javascript/toc.js' | url | cachebust }}"></script>
{% endblock %}