{% extends 'src/_layouts/generic.njk' %}

{% css %}
.pageGeneric {
  display: grid;
  column-gap: var(--grid-gutter);
  grid-template-columns: 1fr;
  grid-template-areas: "header" "toc" "body";
  margin-block: var(--space-8-9);
}

@media (min-width: 52rem) {
  .pageGeneric {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header ." "toc ." "body body";
  }
}

.pageGeneric_header {
  grid-area: header;
  margin-block-end: var(--space-6-7);
}

.pageGeneric_toc,
.pageGeneric_body {
  margin-block-end: var(--space-6-7);
  padding-block-start: var(--space-5);
  border-block-start: var(--border-regular) solid var(--color-furniture);
}

.pageGeneric_toc {
  grid-area: toc;
}

.pageGeneric_body {
  grid-area: body;
}

.pageGeneric_body > :last-child {
  margin-block-end: 0;
}

.pageTitle {
  margin-block-end: 0;
}
{% endcss %}
