{% set cssComponents = merge(cssComponents, ["callout", "splash", "webring", "button-grid", "blog-card"]) %}

{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}
{% from "src/_includes/jump-link.njk" import kimJumpLink %}

{% block main %}
<header class="kimSplash">
  <div class="kimWrapper kimSplash_inner">
    <h1 class="kimHeading-xl kimSplash_text">
      <strong>I&rsquo;m beeps.</strong>
      An internet cryptid that builds websites &amp; writes stuff.
    </h1>
    {% responsiveImage "./src/assets/images/noodle-home.webp", "A black, white and green cat-rabbit-like creature with a long tail, long ears, and four arms. It looks at you, smiling toothily and throwing a peace sign. It's wearing a black denim jacket covered in various patches and a purple t-shirt.", { classes: "kimSplash_image", lazy: false, sizes: "100vi" } %}
  </div>
</header>

<div class="kimWrapper">

  <div class="pageSection">
    <div class="kimGrid">
  
      <section class="kimGrid_column-full galaxy:kimGrid_column-oneHalf" id="about" aria-labelledby="about-heading">
        <h2 class="kimHeading-m pageSection_heading" id="about-heading">About beeps</h2>
        {{ content | safe }}
        <p class="kimBody">
          {{ kimJumpLink({
            href: "/about/",
            text: "More about beeps"
          }) }}
        </p>
      </section>
      
      <section class="kimGrid_column-full galaxy:kimGrid_column-oneHalf" id="blog" aria-labelledby="blog-heading">
        <h2 class="kimHeading-m pageSection_heading" id="blog-heading">Blog</h2>
        <ul class="kimList kimList-spaced">
          {% for post in collections.blog | reverse | head(5) %}
            {{ kimBlogCard(post) }}
          {% endfor %}
        </ul>
        <p class="kimBody">
          {{ kimJumpLink({
            href: "/blog/",
            text: "All blog posts"
          }) }}
        </p>
      </section>
  
    </div>
  </div>
  
  <section class="pageTransRights">
    <p>Transformation is part of being alive. <span>Transgender rights are human rights.</span></p>
  </section>

  {%- if webrings or buttons.homepage %}
  <div class="pageSection">
    <div class="kimGrid">
      {%- if webrings %}
      <section class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
        <h2 class="kimHeading-xs pageSection_heading">Webrings</h2>
        <div class="kimGrid">
          {%- for ring in webrings %}
          <div class="kimGrid_column kimGrid_column-oneHalf constitution:kimGrid_column-oneThird">
            <div class="kimWebring">
              <a class="kimWebring_name" href="{{ ring.url }}">
                {% include "../assets/icons/" + ring.icon + ".svg" %}<br>
                {{ ring.name }}
              </a><br>
              <a class="kimLink-plain kimWebring_link kimWebring_link-next" href="{{ ring.nextUrl }}" aria-label="Next site in the {{ ring.name }}">
                {% include "../assets/icons/arrow-e.svg" %}
                Next
              </a><br>
              <a class="kimLink-plain kimWebring_link kimWebring_link-prev" href="{{ ring.previousUrl }}" aria-label="Previous site in the {{ ring.name }}">
                {% include "../assets/icons/arrow-w.svg" %}
                Previous
              </a>
            </div>
          </div>
          {%- endfor %}
        </div>
      </section>
      {%- endif %}
      {%- if buttons.homepage %}
        {% from "src/_includes/88x31-button.njk" import kim88x31Button %}
        <section class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
          <h2 class="kimHeading-xs pageSection_heading">Buttons</h2>
          <div class="kimButtonGrid">
            {%- for button in buttons.homepage %}{{ kim88x31Button(button) }}{%- endfor %}
          </div>
        </section>
      {%- endif %}
    </div>
  </div>
  {%- endif %}
  
  </div>
{% endblock %}

{% css %}
/**
 * Sections
 */
 
.pageSection {
  margin-block: var(--space-4-5);
}

.pageSection_heading {
  margin-block-start: 0;
  padding-block-start: var(--space-3);
  border-block-start: var(--border-regular) solid var(--color-furniture);
}

/**
 * Trans rights
 */ 
 
.pageTransRights {
  --pink: #F7A8B8;
  --blue: #55CDFC;
  padding-block: var(--space-7);
  position: relative;
  background-color: var(--color-surface);
}

@media (prefers-color-scheme: light) {
  .pageTransRights {
    --pink: #C92EBF;
    --blue: #2E68FF;
  }
}

.pageTransRights p {
  margin: 0;
  padding-block: var(--space-1);
  color: var(--pink);
  font-size: var(--size-4);
  font-weight: 600;
  line-height: 1;
  text-wrap: balance;
  text-align: center;
}

.pageTransRights span {
  font-weight: 900;
  color: var(--blue);
}

{% endcss %}