{% extends 'src/_layouts/layout.njk' %}

{% block main %}
<div class="kim-!-padding-block-9">
	<div class="kimWrapper">
		<div class="kimGrid">
			<div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds kimProse">
				{% block content  %}{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}