{%- set webfontUrl = '/assets/fonts/fonts.css' | url | cachebust -%}
{%- set colorSchemeJsUrl = '/assets/javascript/colorScheme.js' | url | cachebust -%}

<!doctype html>
<html lang="en-GB" class="kimPage">
<head>

  {#- Preload stuff #}
  <link rel="preload" as="style" href="{{ webfontUrl }}">
  <link rel="preload" as="script" href="{{ colorSchemeJsUrl }}">

  {#- Technical metadata #}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.blogName }}" href="{{ '/feed.xml' | url }}">
  {%- for item in site.relMe %}
    <link rel="me" href="{{ item }}">
  {%- endfor %}
  <link rel="webmention" href="https://webmention.io/beeps.website/webmention">
  <link rel="pingback" href="https://webmention.io/beeps.website/xmlrpc">
  
  {#- Page title #}
  {%- if isFullTitle %}
    <title>{{ title }}</title>
  {%- else %}
    <title>
      {%- if title %}{{ title | markdownInline | safe | striptags }} / {% endif -%}
      {%- for item in mastheadBreadcrumbs %}{{ item.label | markdownInline | safe | striptags }} / {% endfor -%}
      {{- site.name -}}
    </title>
  {%- endif %}
  
  {#- Stylesheets #}
  <link rel="stylesheet" href="{{ webfontUrl }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ webfontUrl }}"></noscript>
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url | cachebust }}" media="all">
  
  {# Color scheme switcher JS #}
  <script src="{{ colorSchemeJsUrl }}"></script>
  
  {#- Content metadata / OpenGraph #}
  <link rel="canonical" href="{{ site.domain }}{{ page.url }}">
  <meta property="og:locale" content="en_GB">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ site.domain }}{{ page.url | url }}">
  {%- if page.url | isBlogPost %}
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ site.domain }}{{ '/images/opengraph/' + opengraphImage | url }}">
  {%- else %}
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.domain }}{{ '/images/opengraph/default.png' | url }}">
  {%- endif %}
  {%- if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
  {%- endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitterUsername }}">
  <meta name="twitter:creator" content="{{ site.twitterUsername }}">
  {%- if noRobots %}
    <meta name="robots" content="noindex, nofollow">
  {%- endif %}
  
  {#- Theming/icons #}
  <meta name="theme-color" content="#FFD447">
  <link rel="icon" href="{{ '/assets/images/icons/favicon.ico' | url | cachebust }}" sizes="32x32">
  <link rel="icon" href="{{ '/assets/images/icons/favicon.svg' | url | cachebust }}" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/assets/images/icons/icon-180.png' | url | cachebust }}">
  <link rel="mask-icon" href="{{ '/assets/images/icons/icon-mask.svg' | url | cachebust }}" color="#FFD447">
  <link rel="manifest" href="{{ '/assets/images/icons/site.webmanifest' | url | cachebust }}">
  
  {#- Page-specific head content #}
  {% block head %}{% endblock %}
  
</head>
<body class="kimPage_body">

  {% include "src/_includes/development-tag.njk" %}

  <a class="kimSkiplink" href="#content">Skip to main content</a>
  
  {% block beforeMasthead %}{% endblock %}
  {% block masthead %}
    <header class="kimMasthead">
      <div class="kimWrapper kimMasthead_inner">
        <a class="kimMasthead_brand" href="{{ '/' | url }}">
          <span class="kimMasthead_logo">{% include "logo.njk" %}</span>
          <span class="kimMasthead_name">{{ site.name }}</span>
        </a>
        {%- if mastheadBreadcrumbs %}
          <nav class="kimMasthead_breadcrumbs" aria-label="breadcrumbs">
            {%- for item in mastheadBreadcrumbs %}
              <a class="kimLink-plain" href="{{ item.url | url }}">{{ item.label }}</a>
            {%- endfor %}
          </nav>
        {%- endif %}
      </div>
    </header>
  {% endblock %}
  {% block afterMasthead %}{% endblock %}

  <main id="content">
    {% block main %}{% endblock %}
  </main>
  
  {% block beforeFooter%}{% endblock %}
  {% block footer %}
    <footer class="kimFooter">
      {% block footerRobats %}
        <div class="kimRobatWars" role="presentation">
          <div class="kimRobatWars_inner">
          </div>
        </div>
      {% endblock %}
      <div class="kimWrapper kimFooter_inner">
        <div class="kimFooter_themeSwitch">
          {% include "src/_includes/color-scheme-switch.njk" %}
        </div>
        <small class="kimFooter_boilerplate">
          {% block boilerplate %}
            Made by <a class="kimLink-plain" href="{{ '/about/' | url }}">beeps</a> and <a class="kimLink-plain" href="{{ '/colophon/' | url }}">uncountable others</a>. Keep circulating the HTML.
          {% endblock %}
        </small>
      </div>
    </footer>
  {% endblock %}
  {% block afterFooter %}{% endblock %}
  
  {# Other scripts #}
  {% block scripts %}{% endblock %}
  
</body>
</html>