{%- set webfontUrl = '/assets/fonts/fonts.css' | url | cachebust -%}
{%- set cssComponents = merge(cssComponents, ["masthead", "navigation", "footer", "noodle-bowl"]) -%}
<!doctype html>
<html lang="en-GB" class="kimPage">
<head>

  {#- Preload stuff #}
  <link rel="preload" as="style" href="{{ webfontUrl }}">

  {#- Technical metadata #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="alternate" type="application/atom+xml" title="{{ site.blogName }}" href="{{ '/feed.xml' | url }}">
  {%- for item in site.relMe %}
    <link rel="me" href="{{ item }}">
  {%- endfor %}
  <link rel="webmention" href="https://webmention.io/beeps.website/webmention">
  <link rel="pingback" href="https://webmention.io/beeps.website/xmlrpc">
  
  {#- Page title #}
  {%- set pageTitle = (metadata.title or title) -%}
  {%- set sectionTitle = mastheadSection.text -%}
  
  {%- set headTitle %}
    {{- pageTitle | markdownInline | safe | striptags -}}
    {%- if not isFullTitle -%}
      {%- if sectionTitle and (sectionTitle != pageTitle) %} / {{ sectionTitle | markdownInline | safe | striptags }}{% endif %} / {{ site.name }}
    {%- endif -%}
  {%- endset %}
  
  <title>{{ headTitle }}</title>

  {#- Stylesheets #}
  <link rel="stylesheet" href="{{ webfontUrl }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ webfontUrl }}"></noscript>
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url | cachebust }}" media="all">
  
  {# CSS components #}
  {%- for item in cssComponents %}
  <link rel="stylesheet" href="{{ '/assets/components/' + item + '.css' | url | cachebust }}" media="all">
  {%- endfor %}
  
  {% include "src/_includes/page-head.njk" %}
  
  {#- Page-specific head content #}
  {% block head %}{% endblock %}
  
</head>
<body class="kimPage_body">

  {% include "src/_includes/development-tag.njk" %}
  
  {% block beforeMasthead %}
    <div class="kimWrapper">
      <a class="kimSkiplink" href="#content">Skip to main content</a>
    </div>
  {% endblock %}
  {% block masthead %}
    <header class="kimMasthead" data-js="masthead" id="top">
      <div class="kimWrapper kimMasthead_inner">
        <a class="kimMasthead_logo" href="{{ '/' | url }}" aria-hidden="true">
          {% include "logo.njk" %}
        </a>
      <a class="kimMasthead_name" href="{{ '/' | url }}">
          {{- site.name -}}
        </a>
        {%- if mastheadSection %}
          <a class="kimMasthead_section" href="{{ mastheadSection.href | url }}">
            {{- mastheadSection.text -}}
          </a>
        {%- endif %}
        <a class="kimMasthead_menu-link" href="{{ '/navigation/' | url }}">Sitemap</a>
        <button class="kimMasthead_menu-toggle" type="button" aria-controls="navigation" hidden>Menu</button>
      </div>
    </header>
    <hr class="kim-!-visually-hidden">
  {% endblock %}
  {% block afterMasthead %}
    <nav class="kimNavigation" id="navigation" aria-label="Main navigation" hidden>
      <div class="kimWrapper">
        <div class="kimGrid">
          {%- for section in site.navigation %}
            <div class="kimGrid_column-full galaxy:kimGrid_column-oneThird kimNavigation_section">
              <h2 class="kimBody-l">{{ section.heading }}</h2>
              <ul class="kimList">
                {%- for link in section.links %}
                <li><a class="kimNavigation_link" href="{{ link.href | url }}">
                  {{- link.html | safe if link.html else link.text -}}
                </a></li>
                {%- endfor %}
              </ul>
            </div>
          {%- endfor %}
        </div>
      </div>
    </nav>
  {% endblock %}

  <main id="content">
    {% block main %}{% endblock %}
  </main>
  
  {% block footer %}
    <hr class="kim-!-visually-hidden">
    <footer class="kimFooter">
      {% block footerDecor %}
        <div class="kimNoodleBowl" role="presentation">
          <canvas class="kimNoodleBowl_canvas"></canvas>
          <div class="kimNoodleBowl_inner"></div>
        </div>
      {% endblock %}
      <div class="kimWrapper kimFooter_inner">
        {% block beforeFooter %}{% endblock%}
        
        <ul class="kimList kimFooter_links" aria-label="Legal and utility links">
          {%- for link in site.legalLinks %}
            <li>
              <a class="kimLink" href="{{ link.href | url }}" {%- for attribute, value in link.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
                {%- if link.icon %}
                  {% include "../assets/icons/" + link.icon + ".svg" %}
                {%- endif %}
                {{- link.html | safe if link.html else link.text -}}
              </a>
            </li>
          {%- endfor%}
        </ul>
        
        {% block copyrights %}
        <div class="kimFooter_copyright">
          <p>Character artwork by <a class="kimLink" href="http://tuxedodragon.art/">TuxedoDragon</a>. Text content licensed under <a class="kimLink" href="http://creativecommons.org/licenses/by-nc/4.0/" title="Creative Commons Attribution Non-Commercial 4.0">CC BY-NC 4.0</a>. Code available under the <a class="kimLink" href="https://github.com/querkmachine/beeps.website/blob/main/LICENCE">MIT license</a>. Keep circulating <a class="kimLink" href="https://github.com/querkmachine/beeps.website">the HTML</a>.</p>
        </div>
        {% endblock %}
            
        {% block afterFooter %}{% endblock %}
      </div>
    </footer>
  {% endblock %}
  
  {# Other scripts #}
  {% block scripts %}
  <script type="module" src="{{ '/assets/javascript/entry.js' | url | cachebust }}"></script>
  <script type="module">
    import Spots from "{{ '/assets/javascript/spots.js' | url | cachebust }}";
    new Spots(document.querySelector(".kimNoodleBowl_canvas"), {
      isAnimated: true
    });
  </script>
  {% endblock %}
  
</body>
</html>
