{% extends 'src/_layouts/generic.njk' %}

{% block head %}
  {{ super() }}
  <style>
    .page-button-grid {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, 88px);
      line-height: 0;
    }
    .page-button-grid a {
      display: block;
    }
    .page-button-grid img {
      margin-block-end: 0;
    }
  </style>
{% endblock %}

{% macro _button(data) %}
  {% set img %}
    <img src="{{ data.src | url }}" alt="{{ data.alt }}" width="88" height="31" loading="lazy">
  {% endset %}
  
  {%- if data.url %}
    <a href="{{ data.url | url }}">{{ img | safe }}</a>
  {%- else %}
    {{ img | safe }}
  {%- endif %}
{% endmacro %}

{% block content %}
  {{ super() }}
  
  <div class="page-button-grid">
  {%- for i in buttons %}
    {{ _button(i) }}
  {%- endfor %}
  </div>
{% endblock %}