{% extends 'src/_layouts/generic.njk' %}

{% css %}
.page-button-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 88px);
  margin-block-end: var(--space-5);
  line-height: 0;
}
.page-button-grid a {
  display: block;
}
.page-button-grid img {
  margin-block-end: 0;
}
{% endcss %}
