<!doctype html>
<html lang="en-GB" class="kimPage">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <style>
      @font-face {
        font-family: "Space Grotesk";
        src: url("{{ '/assets/fonts/SpaceGrotesk.woff2' | url }}") format("woff2-variations");
        font-weight: 300 700;
        font-style: normal;
      }
    </style>
    <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url | cachebust }}" media="all">
    <style>
      .kimPage {
        overflow: hidden;
        color-scheme: dark;
      }
      .kimPage_body {
        position: relative;
      }
      .page-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .page-noodle {
        width: 30vw;
        position: absolute;
        bottom: -2vw;
        right: 3vw;
      }
      .page-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-inline-end: 30vw;
        padding: 6vw;
        position: relative;
      }
      .kimHeading-xl {
        font-size: 6.5vw;
      }
      .page-foot {
        display: flex;
        align-items: center;
        padding: 1vw 6vw;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        color: var(--color-canvas);
        background-color: var(--color-text-accent);
      }
      .page-logo {
        margin-right: 2vw;
        line-height: 0;
      }
      .page-logo svg {
        width: 5vw;
        height: 5vw;
        fill: currentcolor;
      }
      .page-name {
        font-size: 3vw;
        font-weight: 600;
      }
      .page-beeps {
        margin-block-end: var(--space-8);
        color: var(--color-text-accent);
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body class="kimPage_body">    
    <canvas class="page-background" id="background" width="1200" height="630" hidden></canvas>
    <div class="page-wrapper">
      {% block title %}{% endblock %}
    </div>
    <div class="page-foot">
      <span class="page-logo">{% include "logo.njk" %}</span>
      <span class="page-name">{% block metadata %}beeps.website{% endblock %}</span>
    </div>
    <img alt="An amphimorpho flashing you the peace sign." src="{{ '/assets/images/noodle-opengraph.webp' | url }}" class="page-noodle">
    <script type="module">
      import Spots from "{{ '/assets/javascript/spots.js' | url | cachebust }}";
      new Spots(document.querySelector(".page-background"), {
        colors: [[120, 105, 153]]
      });
    </script>
  </body>
</html>