<!doctype html>
<html lang="en-GB">
<head>

  {#- Technical metadata #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {#- Page title #}
  <title>{{ title }}</title>
  
  {% include "src/_includes/page-head.njk" %}
  
  {#- Page-specific head content #}
  {% block head %}{% endblock %}
  
</head>
<body>
  
  {% block beforeMasthead %}{% endblock %}
  {% block masthead %}{% endblock %}
  {% block afterMasthead %}{% endblock %}

  {% block main %}{% endblock %}
  
  {% block footer %}{% endblock %}
  
  {# Other scripts #}
  {% block scripts %}{% endblock %}
  
</body>
</html>