---
cssComponents: [blockquote]
---
<blockquote class="kimBlockquote">
  <p class="kimBody">Imagine the people who believe such things and who are not ashamed to ignore, totally, all the patient findings of thinking minds through all the centuries since the Bible was written.</p>
  <p class="kimBody">And it is these ignorant people, the most uneducated, the most unimaginative, the most unthinking among us, who would make themselves the guides and leaders of us all; who would force their feeble and childish beliefs on us; who would invade our schools and libraries and homes. I personally resent it bitterly.</p>
</blockquote>
