---
cssComponents: [button-grid]
---
{% from "src/_includes/88x31-button.njk" import kim88x31Button %}

<div class="kimButtonGrid">
{%- for i in buttons.beeps %}{{- kim88x31Button(i) -}}{%- endfor %}
</div>
