<h2 class="kimHeading-s">Did you know...</h2>

<ul class="kimList kimList-spaced">
  <li>...that Mae Jemison, the first black woman in space, worked at a Cambodian refugee camp in Thailand and was a medical officer for the Peace Corps before becoming an astronaut?</li>
  <li>...that Michael Collins, the command module pilot for Apollo 11, was the first person to perform two spacewalks in a single mission?</li>
  <li>...that cosmonaut Valentina Tereshkova made 42 trips outside the Soviet Union between 1963 and 1970 in response to invitations she received after becoming the first woman in space?</li>
</ul>
