<span style="font-weight:900;font-stretch:125%">We choose to go to the Moon. </span> <span style="font-weight:600">We choose to go to the Moon… </span><span style="font-weight:500">We choose to go to the Moon in this decade and do the other things, not because they are easy, but <em>because they are hard</em>; </span><span style="font-weight:400;font-stretch:90%;">because that goal will serve to organize and measure the best of our energies and skills,</span> <span style="font-weight:300;font-stretch:75%;">because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one we intend to win, and the others, too.</span>
