<h1 class="kimHeading-xl">
  <div class="kimSubheading-xl">Some sort of witty lead-in to</div>
  An extra large heading
</h1>

<h2 class="kimHeading-l">
  This is a large heading
  <div class="kimSubheading-l">and a subheading that follows it</div>
</h2>

<h3 class="kimHeading-m">
  <div class="kimSubheading-m">Maybe you're the kind of person who thinks that</div>
  A medium sized heading
  <div class="kimSubheading-m">should have a pre- and post-title at the same time</div>
</h3>
