<p class="kimBody">This is some text set in the standard body font size.</p>

<p class="kimBody-l">This is some larger than normal text, best suited for short but important messages.</p>

<p class="kimBody-s">This text is smaller than normal, because it's not all that important.</p>
