<h1 class="kimHeading-xl">This is an extra large heading</h1>

<h2 class="kimHeading-l">This is a large heading</h2>

<h3 class="kimHeading-m">This is a medium sized heading</h3>

<h4 class="kimHeading-s">This is a small heading</h4>

<h5 class="kimHeading-xs">This is a extra small heading</h5>

<h6 class="kimHeading-2xs">This is a extra extra small heading</h6>
