@use "../settings";
@use "../helpers/colors";
@use "../helpers/media-queries";

@each $name, $value in settings.$kim-color-palette-semantic {
  .kim-\!-text-color-#{$name} {
    color: colors.kim-color-css($name) !important;
    @include media-queries.kim-print {
      color: black !important;
    }
  }
  .kim-\!-background-color-#{$name} {
    background-color: colors.kim-color-css($name) !important;
    @include media-queries.kim-print {
      background-color: white !important;
    }
  }
}
