/* Just for funsies I decided to try and make this entire website work whilst
 * also using virtually no classes or IDs in the CSS, which is why there 
 * are very few here. 
 * 
 * Rest assured, normally I'd scope absolutely everything to BEM-formatted
 * class names to avoid style pollution, it just wasn't necessary on such a
 * small, tightly-controlled site.
 */

$bp-tablet: 670px;
$bp-desktop: 800px;

:root {
  --global-text-color: #fff;
  --global-text-color-secondary: #c3c6c8;
  --global-background-color: #39414d;
  --global-body-font-stack: "IBM Plex Sans", system, -apple-system,
    ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue",
    "Lucida Grande", sans-serif;
  --global-header-font-stack: "IBM Plex Serif", "Palatino Linotype", Palatino,
    Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style",
    "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond",
    "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook",
    "Century Schoolbook L", Georgia, serif;
}

@media print {
  :root {
    --global-text-color: #000;
    --global-text-color-secondary: #000;
    --global-background-color: #fff;
  }
}

@mixin heading {
  font-family: var(--global-header-font-stack);
  font-weight: 300;
}

@mixin font-size-body {
  font-size: 1rem;
  line-height: 1.375;
  @media (min-width: $bp-tablet) {
    font-size: 1.1875rem;
    line-height: 1.421052632;
  }
}

@mixin font-size-small {
  font-size: 0.875rem;
  line-height: 1.285714286;
  @media (min-width: $bp-tablet) {
    font-size: 1rem;
    line-height: 1.375;
  }
}

@mixin font-size-large {
  font-size: 1.125rem;
  line-height: 1.111111111;
  @media (min-width: $bp-tablet) {
    font-size: 1.5rem;
    line-height: 1.421052632;
  }
}

@mixin font-size-jumbo {
  font-size: 2rem;
  line-height: 1.09375;
  @media (min-width: $bp-tablet) {
    font-size: 3rem;
    line-height: 1.041666667;
  }
}

@mixin all-caps {
  font-feature-settings: "cpsp";
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

html {
  color: var(--global-text-color);
  background-color: var(--global-background-color);
  text-size-adjust: 100%;
}

body {
  @include font-size-body;
  max-width: 32em;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
  font-family: var(--global-body-font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--global-text-color);
  text-decoration: underline;
  &:hover {
    text-decoration-style: dotted;
  }
  @media only print {
    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"]
    {
      &:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

time {
  @include font-size-small;
  display: block;
  color: var(--global-text-color-secondary);
}

del,
s {
  color: var(--global-text-color-secondary);
  text-decoration: line-through;
}

h1 {
  @include heading;
  @include font-size-jumbo;
  page-break-after: avoid;
  strong {
    font-weight: inherit;
  }
}

h2 {
  @include font-size-large;
  @include heading;
  page-break-after: avoid;
}

h3 {
  @include font-size-body;
  font-weight: 700;
  page-break-after: avoid;
}

p,
ul,
ol,
figure,
blockquote,
img,
iframe {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

figcaption,
blockquote {
  margin-right: 3rem;
  margin-left: 3rem;
}

figure {
  margin-right: 0;
  margin-left: 0;
  img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  figcaption {
    @include font-size-small;
    margin-top: 0.5rem;
    color: var(--global-text-color-secondary);
  }
}

ul,
ol {
  @media (min-width: $bp-desktop) {
    padding-left: 0;
  }
  ::marker {
    color: var(--global-text-color-secondary);
  }
  ul,
  ol {
    padding-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }
}

ul {
  list-style-type: square;
}

ul li,
ol li {
  margin-bottom: 0.5rem;
}

p,
ul,
ol {
  + h2 {
    margin-top: 5rem;
  }
  + h3 {
    margin-top: 3rem;
  }
}

header {
  a {
    @include all-caps;
    @include font-size-body;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  margin-top: 5vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0.25rem solid var(--global-text-color);
  text-align: center;
  small {
    @include font-size-small;
  }
}
