@use "../settings";
@use "../helpers/media-queries";
@use "../helpers/spacing";

.kimAside {
	@include spacing.kim-responsive-margin(3, $direction: bottom);
	width: 100%;
	text-align: center;
	@include media-queries.kim-mq($from: galaxy) {
		width: auto;
		max-width: 17.5rem;
		&-right {
			@include spacing.kim-responsive-margin(3, $direction: left);
			float: right;
			clear: right;
		}
		&-left {
			@include spacing.kim-responsive-margin(3, $direction: right);
			float: left;
			clear: left;
		}
	}
}