@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";

.kimList {
  @include spacing.kim-responsive-margin(0);
  @include spacing.kim-responsive-padding(0);
  @include typography.kim-font-size(19);
  @include typography.kim-vr-margin(19);
  list-style-type: none;
  li + li {
    @include spacing.kim-responsive-margin(1, $direction: block-start);
  }
  &-bulleted,
  &-numbered {
    padding-inline-start: 2em;
  }
  &-bulleted {
    list-style-type: square;
  }
  &-numbered {
    list-style-type: decimal;
  }
  &-spaced {
    li + li {
      @include spacing.kim-responsive-margin(3, $direction: block-start);
    }
  }
  &-inline {
    li {
      display: inline-block;
      margin-inline-end: .5em;
    }
    li + li {
      @include spacing.kim-responsive-margin(0, $direction: block-start);
    }
  }
}
