@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";

.kimRule {
  @include spacing.kim-responsive-margin(8, $direction: top);
  @include spacing.kim-responsive-margin(8, $direction: bottom);
  height: 1rem;
  border: 0;
  background-color: var(--color-accent);
}
