@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";

.kimRule {
  margin: 0;
  border: 0;
  &--xl {
    @include spacing.kim-responsive-padding(8, $direction: top);
    @include spacing.kim-responsive-padding(8, $direction: bottom);
  }
  &--l {
    @include spacing.kim-responsive-padding(6, $direction: top);
    @include spacing.kim-responsive-padding(6, $direction: bottom);
  }
  &--m {
    @include spacing.kim-responsive-padding(4, $direction: top);
    @include spacing.kim-responsive-padding(4, $direction: bottom);
  }
  &--s {
    @include spacing.kim-responsive-padding(2, $direction: top);
    @include spacing.kim-responsive-padding(2, $direction: bottom);
  }
  &--visible {
    background-image: repeating-linear-gradient(
      45deg,
      #{colors.kim-color("black")},
      #{colors.kim-color("black")} 9px,
      transparent 9px,
      transparent 18px
    );
  }
}
