@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";

.kimRule {
  @include spacing.kim-responsive-margin(4, $direction: block);
  block-size: .5rem;
  border: 0;
  background-color: colors.kim-color-css("furniture");
}
