---
layout: null
title: About beeps
metadata:
  description: I'm pretty weird, tbh.
---

{% extends 'src/_layouts/layout.njk' %}

{% css%}
.pageEmoji {
  display: block;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3em;
}
{% endcss %}

{% macro _item(emoji) %}
<div class="kimGrid_column kimGrid_column-full galaxy:kimGrid_column-oneHalf defiant:kimGrid_column-oneThird">
  <span class="pageEmoji">{{ emoji }}</span>
  {% markdown %}{{- caller() -}}{% endmarkdown %}
</div>
{% endmacro %}

{% block main %}
  <article class="kim-!-margin-block-9">
    <div class="kimWrapper">
      <h1 class="kimHeading-xl">
        {{ title }}
      </h1>
      <div class="kimGrid">
        {% call _item("🪪") %}
        [My name is beeps.]({{ '/about/name/' | url }}) I also go by Kim, but in more casual settings I prefer that folks call me beeps.
        {% endcall %}
        {% call _item("🤖") %}
        [I don't consider myself human.]({{ '/about/nonhuman/' | url }}) Rather a transhumanist or posthumanist. I don't relate well to my physical humanity.
        {% endcall %}
        {% call _item("🏳️‍⚧️") %}
        [I'm trans and agender.]({{ '/about/gender/' | url }}) I don't consider myself to be female, male, or anything in-between. I use it/its pronouns.
        {% endcall %}
        {% call _item("♠️") %}
        [I'm asexual.]({{ '/about/asexuality/' | url }}) This doesn't affect day-to-day life that much, but it's still a reasonably important part of who I am!
        {% endcall %}
        {% call _item("🧠") %}
        [I'm neurodivergent.]({{ '/about/neurodivergent/' | url }}) I deal with a lot of anxiety and my brain works a little differently to most. I can struggle to operate in some situations.
        {% endcall %}
        {% call _item("🐾") %}
        [I'm a furry.]({{ '/about/furry/' | url }}) I've been in the furry fandom for over half my life and I owe it a lot for giving me the skills and experience I have today.
        {% endcall %}
        {% call _item("💜") %}
        [I host a plural system.]({{ '/about/olive/' | url }}) My subconscious decided to say hello and told me their name is Olive. We get on rather well!
        {% endcall %}
        {% call _item("🕸️") %}
        [I make websites.]({{ '/about/work/' | url }}) I've been doing web things since 2003, coming to specialise in front-end development, accessibility, and design systems.
        {% endcall %}
        {% call _item("💬") %}
        With all that in mind, here's some guidance on [how to talk to me effectively]({{ '/about/how-to-talk-to-me/' | url }}) and what my limitations are.
        {% endcall %}
      </div>
    </div>
  </article>
{% endblock %}
