---
title: Barbecue pork shoulder (when you don’t own a barbecue)
tags: [food]
---

<p>I had some pork shoulder steaks sitting around, which I originally intended to slice up and fry in some hot&nbsp;sauce. It’s not creative or healthy in any way, but it’s spicy fried pork, so it’s not that bad. (Okay, it’s kind of bad.)</p>

<p>Grilling it seemed to be the internet’s recommended cooking method, but I don’t have a barbecue (or indeed any outdoor space to put one) or one of those cool griddle pans, so I resorted to what I&nbsp;<em>do&nbsp;</em>have—a second-hand Lean Mean, Fat Reducing Grilling Machine.</p>

<figure>
	{% responsiveImage "./images/pork-shoulder.jpg", "Some saucy pork shoulders on a plate." %}
	<figcaption>My kitchen is very orange. Sorry about that.</figcaption>
</figure>

<h2>What I gone&nbsp;and made</h2>

<ul>
	<li>Four pork shoulder steaks</li>
	<li>Sweet, sticky barbecue sauce/marinade</li>
	<li>Coarse sea salt</li>
	<li>Ground peppercorn</li>
</ul>

<p>Seasoning both sides of the steaks with a liberal quantity of&nbsp;salt and pepper and letting them sit for a while, I instead focused my attention on the side dish (skin-on mashed potatoes, I’ll probably blog about those soon too).</p>

<p>My methods diverged slightly for each pair of steaks.</p>

<p>The first two steaks got slapped onto the grilling machine and left to cook until fat had&nbsp;stopped visibly running off. I then reopened the grill, squirted&nbsp;<strong>one side</strong> of both steaks in barbecue marinade and left it to cook for a few minutes&nbsp;longer, letting the sauce basically burn into the steak, before flipping them both and doing the same to the other side.</p>

<p>For the second pair of steaks&nbsp;I didn’t wait for the fat to finish running off and when marinading I did both sides simultaneously. (I also ended up dropping one of them into the fat collection tray. Whoops.)</p>

<p>All steaks were cooked until parts of them had started turning a dark&nbsp;brown. The second pair were additionally given the benefit of being able to sit on the grill after I’d turned it off.</p>

<h2>Verdict</h2>

<p>All of the steaks tasted nice enough. In all cases the pepper was a bit&nbsp;more prevalent than the barbecue, so I should probably ease up on that a little.</p>

<p>The first pair of steaks were&nbsp;quite dry in the middle and a little harder to cut through than I anticipated. Cooking them until the fat had entirely ran off before quickly marinading probably contributed to this.</p>

<p>The second pair seemed to have fared much better from the longer (slower?) cook and returned a much more tender, juicier meat, which was frickin’ delicious. A+ would buy from again. A definite step up from my usual “pork strips and hot sauce” special.</p>