---
title: Bake Off
tags: [food]
---

<p>Well I already made a bit of a hash of keeping this thing frequently updated. Regardless, though frequency has fallen somewhat due to monetary issues and a near constant state of exhaustion, I am still making an effort to cook things that I haven’t made before.</p>

<p>More recently this culminated in my first proper attempt at baking! Yeah, I know, weird that I’ve never baked anything before isn’t it? While not strictly true (I mean, I’ve made microwave brownies before), it seemed a good time to attempt something proper. Also the Great British Bake Off just came back on and I’m super into it. Maybe one day I’ll be able to attempt a sourdough.</p>

<p>Anyway, I made brownies based on <a href="https://www.bbcgoodfood.com/recipes/salted-caramel-brownies">this BBC food recipe</a>, with the omission of the caramel, cause I couldn’t actually find any in the shops nearby. My chocolate ratios were a little off too, just cause of the quantities they came in not being equal.</p>

{% responsiveImage "./images/brownies2.jpg", "Brownies what I gone and baked." %}

<p>The brownies were... okay. They didn’t taste bad, but we’re unevenly baked, being very dense in places and much airier in others. It took me several days to be able to finish the six (albeit large) pieces I made because of how dense they were.</p>

<p>Ultimately I probably would try these again. I just need to get them baking right first!</p>