---
title: Of emergencies and enchiladas
tags: [food]
---

<p>Enchiladas are, simply speaking, probably one of my favourite dishes to make, both for myself and others. Think not of the pathetically small, hardly spiced things you might get at a cheap taqueria, I don’t enjoy those or wish them on anybody, no, what I make are huge, thick, baked enchiladas, packed to the absolute brim with chicken, vegetables, sauce and cheese.</p>

<p>But the funny thing is, despite liking them so much, I’ve never made them without assistance, usually from some brand name or supermarket made dinner kit, proving the sauces and spices pre-mixed and helpful instructions on what to do and when. This, I thought, would be a travesty if I were to actually get good at this cooking lark, so I set about rectifying that little problem.</p>

<h2>Cooking by the book</h2>

<p>Enchiladas are by far the most complex thing I’ve yet attempted as part of this blog so I ultimately resorted to recipes garnered online for how to best achieve it. One for <a href="http://allrecipes.co.uk/recipe/7705/chicken-enchiladas.aspx">the enchiladas</a> and another for <a href="http://allrecipes.com/recipe/61727/ten-minute-enchilada-sauce/">the sauce</a> that would top them. I also afforded myself the luxury of using store bought tortillas, as I was already running up significant preparation time and a lengthy shopping list!</p>

<figure>
	{% responsiveImage "./images/enchiladas1.jpg", "A frying pan filled with chunky, wet enchilada filling." %}
	<figcaption>The filling ended up a bit… soupy. I have no idea if this is normal.</figcaption>
</figure>

<p>Unfortunately this left little room for improvisation and other than some compromises here and there (garlic powder rather than chopped garlic, adjusting a few of the quantities or orders of ingredients, things like that) everything was otherwise prepared to instruction. I ended up with some filling left over and a spare tortilla, so made a light snack of that while the rest started baking in the oven.</p>

<h2>Verdict</h2>

<p>Unfortunately I never got to taste the enchiladas fresh. I decided to not be lazy for once and do the washing up whilst the enchiladas were baking (rather than days later, as is the norm with me at times) and, as is my luck, a plate shattered as I was scrubbing it, leaving a sizeable gash in my hand that was quickly bandaged. I headed to the hospital and the (just completed) enchiladas were pressed into the fridge for later.</p>

<figure>
	{% responsiveImage "./images/enchiladas2.jpg", "A close up shot of my heavily-bandaged thumb." %}
	<figcaption>Sitting in A&amp;E. Sigh.</figcaption>
</figure>

<p>I can report, however, that reheated they are still very tasty! Honestly they taste almost identical to the ones I’ve made before—barring the additional vegetables the recipe added—but I take that as no bad thing! If anything I’m proud to have so accurately reproduced a dish both I and my friends have come to love, only now from absolute scratch.</p>

<p>Hopefully next time I can do it without scarring myself!</p>