---
title: "Star Trek Ahoy: Part 2"
date: 2021-11-23
tags: [design, random]
---

<p>The neat Star Trek thumbnails I released yesterday did some rounds and got a fairly positive reception, so I made some extras to cover the modern <i>Kelvin</i> timeline films.</p>

<p>These ones use an inverted, principally white colour palette, reflecting both the alternate timeline and JJ Abrams' very shiny, lens flare-filled vision of the future.</p>

{% responsiveImage "./images/11 - Star Trek 2009.png", "Poster for Star Trek (2009)." %}

<p>Arguably more important than the <i>Enterprise</i> to the <i>Kelvin</i> timeline is the <i>Nerada</i>, the ship whose time travelling schenanigans caused the alternate timeline to diverge.</p>

<p>It's a humongous ship, a Romulan mining vessel supposedly (according to beta canon) augmented with tons of salvaged Borg technology collected over the course of decades. As a result it's also quite pointy for... some reason. Here, it emerges from the wormhole that spawned this new timeline (or, alternatively, it is being sucked into the black hole that seems its demise at the end of the film).</p>

{% responsiveImage "./images/12 - Into Darkness.png", "Poster for Star Trek Into Darkness." %}

<p>With the <i>Nerada</i> having stolen the limelight for the previous thumbnail, and <i>Into Darkness</i>'s only other iconic ship being the somewhat forgettable (and very dark) <i>Dreadnought</i>-class USS <i>Vengeance</i>, I opted to use this time to show off the Abrams incarnation of the <i>Enterprise</i>.</p>

<p>I'll be honest, I quite like this take on the <i>Enterprise</i>, especially the warp nacelles with their simultaneously sleeker yet sturdier look when compared to The Original Series' cyliners mounted on popsicle sticks design. The all-white interior is certainly more... divisive, but it definitely fits a 21st Century perception of futuristic, Apple-ish design. Here it is shown, appropriately enough, heading into darkness.</p> 

{% responsiveImage "./images/13 - Beyond.png", "Poster for Star Trek Beyond." %}

<p>And finally (at least so far), <i>Beyond</i>. I really like <i>Beyond</i> and the way that it (finally) brought some sort of—not just acknowledgement—but integration of the canon established in <i>Star Trek: Enterprise</i> into other Star Trek properties, with Balthazar Edison, the MACOs, and the star of our thumbnail, the <i>Freedom</i>-class USS <i>Franklin</i>.</p>

<p>The <i>Franklin</i> is one of the oldest Earth Starfleet ships ever shown on screen, in essence acting as a precursor to the saucer dish and two nacelles design that would define Starfleet ships for centuries to come, whilst also hosting its own distinct silhouette thanks to the large U-shaped cut-out from the rear of the vessel.</p>

<p>The age of the <i>Franklin</i> gives it the distinction of being a ship appearing in the <i>Kelvin</i> timeline that existed prior to the divergence in timelines. This has been depicted in the thumbnail through the theme colours I've used to group them—it is leaving the prime (black) timeline, headed into the new (white) timeline.</p>

<p>Three films. Three ships. And, just for fun, each ship is coloured in with the three division colours: engineering red, sciences blue, and command gold.</p>