@use "sass:map";
@use "sass:color";

$kim-breakpoints: (
  constitution: 400px,
  galaxy: 600px,
  defiant: 768px,
  intrepid: 1000px,
);

$kim-color-white: #fff;
$kim-color-black: #334139;
$kim-color-kimberly: #786999;
$kim-color-emy: #b3ffb3;
$kim-color-ketchup: #dd6031;
$kim-color-mustard: #ffd447;
$kim-color-mustard-p3: color(display-p3 1 0.841 0.3);

$kim-color-palette-semantic: (
  text: (
    dark: $kim-color-white,
    light: $kim-color-black,
  ),
  background: (
    dark: $kim-color-black,
    light: $kim-color-white,
  ),
  link: (
    dark: (
      color: $kim-color-mustard-p3,
      fallback: $kim-color-mustard,
    ),
    light: $kim-color-kimberly,
  ),
  link-accent: (
    dark: color.scale($kim-color-mustard, $alpha: -80%),
    light: color.scale($kim-color-kimberly, $alpha: -80%),
  ),
  link-hover: (
    dark: $kim-color-ketchup,
    light: $kim-color-emy,
  ),
  link-hover-accent: (
    dark: color.scale($kim-color-ketchup, $alpha: -80%),
    light: color.scale($kim-color-emy, $alpha: -80%),
  ),
  furniture: (
    dark: (
      color: $kim-color-mustard-p3,
      fallback: $kim-color-mustard,
    ),
    light: $kim-color-kimberly,
  ),
  furniture-alt: (
    dark: color.change($kim-color-mustard, $alpha: 0.5),
    light: color.change($kim-color-kimberly, $alpha: 0.5),
  ),
  accent: (
    dark: (
      color: $kim-color-mustard-p3,
      fallback: $kim-color-mustard,
    ),
    light: $kim-color-kimberly,
  ),
  accent-alt: (
    dark: $kim-color-ketchup,
    light: $kim-color-emy,
  ),
  speech-bubble: (
    dark: (
      color: $kim-color-mustard-p3,
      fallback: $kim-color-mustard,
    ),
    light: $kim-color-kimberly,
  ),
  focus-background: (
    dark: #66cbff,
    light: #ffcc00,
  ),
  focus-text: (
    dark: #000,
    light: #000,
  ),
);

$kim-font-stacks: (
  body: (
    stack: (
      "Space Grotesk",
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
    ),
    regular: 400,
    bold: 700,
  ),
  header: (
    stack: (
      "Space Grotesk",
      system-ui,
      sans-serif,
    ),
    regular: 550,
    bold: 700,
  ),
  code: (
    stack: (
      "Space Mono",
      monospace,
      monospace,
    ),
    regular: 400,
    bold: 700,
  ),
);

$kim-font-sizes-root: 16px;
$kim-font-sizes: (
  12: (
    null: (
      font-size: 12px,
      line-height: 15px,
    ),
  ),
  14: (
    null: (
      font-size: 12px,
      line-height: 15px,
    ),
    galaxy: (
      font-size: 14px,
      line-height: 18px,
    ),
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 18px,
    ),
    galaxy: (
      font-size: 16px,
      line-height: 22px,
    ),
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 22px,
    ),
    galaxy: (
      font-size: 19px,
      line-height: 27px,
    ),
  ),
  24: (
    null: (
      font-size: 18px,
      line-height: 20px,
    ),
    galaxy: (
      font-size: 24px,
      line-height: 30px,
    ),
  ),
  36: (
    null: (
      font-size: 24px,
      line-height: 25px,
    ),
    galaxy: (
      font-size: 36px,
      line-height: 40px,
    ),
  ),
  48: (
    null: (
      font-size: 32px,
      line-height: 35px,
    ),
    galaxy: (
      font-size: 48px,
      line-height: 50px,
    ),
  ),
  80: (
    null: (
      font-size: 53px,
      line-height: 55px,
    ),
    galaxy: (
      font-size: 80px,
      line-height: 80px,
    ),
  ),
);

$kim-page-width: 60rem;
$kim-page-gutter: 2.5rem;

$kim-spacing: (
  0: (
    null: 0,
  ),
  1: (
    null: 5px,
  ),
  2: (
    null: 10px,
  ),
  3: (
    null: 15px,
  ),
  4: (
    null: 15px,
    galaxy: 20px,
  ),
  5: (
    null: 15px,
    galaxy: 25px,
  ),
  6: (
    null: 20px,
    galaxy: 30px,
  ),
  7: (
    null: 26px,
    galaxy: 40px,
    defiant: 50px,
  ),
  8: (
    null: 30px,
    galaxy: 50px,
    defiant: 75px,
  ),
  9: (
    null: 40px,
    galaxy: 60px,
    defiant: 90px,
  ),
);

$kim-grid-widths: (
  "oneQuarter": 25%,
  "oneHalf": 50%,
  "threeQuarters": 75%,
  "oneThird": 33.33333%,
  "twoThirds": 66.66666%,
  "full": 100%,
);

$kim-border-widths: (
  hairline: 1px,
  regular: 0.25rem,
  thick: 0.5rem,
);
