.kimPage_body.kim-gotZhatZhinged::after {
  content: "";
  display: block;
  inline-size: 20vmin;
  block-size: 20vmin;
  position: fixed;
  right: 100%;
  bottom: 0;
  animation-name: zhatzhing;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  background-image: url("images/zatzhing.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes zhatzhing {
  0% {
    transform: translateY(100%);
    right: -20vmin;
  }
  10%,
  20% {
    transform: translateY(0);
    right: 0;
  }
  100% {
    transform: translateY(0);
    right: 100%;
  }
}
