{% extends '_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper">
      <article itemscope itemtype="https://schema.org/BlogPosting">
        <div class="kimGrid">
          <header class="kimGrid_column kimGrid_column-full">
            {% block title %}
              <h1 class="kimHeading-xl" itemprop="name">
                {{ title }}
              </h1>
            {% endblock %}
          </header>
        </div>
        <div class="kimGrid">
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird kim-!-margin-bottom-5">
            {% block date %}
              {%- if date %}
                <p class="kimBody">
                  <time datetime="{{ date | formatDate('iso') }}" itemprop="dateCreated">
                    <span class="kimBody-s">Published on</span><br>
                    {{ date | formatDate('human') }}
                  </time>
                </p>
              {%- endif %}
              {%- if updated %}
                <p class="kimBody">
                  <time datetime="{{ updated | formatDate('iso') }}" itemprop="dateModified">
                    <span class="kimBody-s">Last updated:</span><br>
                    {{ updated | formatDate('human') }}
                  </time>
                </p>
              {%- endif %}
            {% endblock %}
            {%- if tags %}
              <nav aria-label="Post tags">
                <p class="kimBody-s kim-!-margin-block-end-0">Tagged as:</p>
                <ul class="kimList kimList-inline">
                  {% for tag in tags | filterTagList | sort %}
                    {% set tagUrl %}/blog/{{ tag | slugify }}/{% endset %}
                    <li>
                      <a class="kimLink-plain" href="{{ tagUrl | url }}" {%- if page.url === tagUrl %} aria-current="true"{% endif %}>
                        {{- tag | tagify -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            {%- endif %}
            <hr class="kimRule">
            {%- if (content | toc) %}
              <nav class="kimToc" aria-labelledby="toc-header">
                <details class="kimToc_collapsible" data-js="toc">
                  <summary class="kimToc_collapsibleSummary">
                    <span class="kimHeading-s" id="toc-header">Contents</span>
                  </summary>
                  {{ content | toc('{"tags": ["h2", "h3"], "wrapper": "div", "wrapperClass": "kimToc_inner"}') | safe }}
                </details>
                <hr class="kimRule">
              </nav>
            {%- endif %}
            <div class="kim-!-sr"><a href="{{ siteDomain }}{{ page.url | url }}" itemprop="url">Permalink to this blog post</a></div>
          </div>
          <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds kimProse" itemprop="articleBody">
            {% block content  %}
              {{ content | safe }}
            {% endblock %}
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ '/assets/javascript/toc.js' | url | cachebust }}"></script>
{% endblock %}