{%- set googleFontsUrl = "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400..700&family=Space+Mono&display=swap" -%}

<!doctype html>
<html lang="en-GB" class="kimPage">
<head>
  {#- Tech metadata #}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Eleventy">
  
  {#- Icons #}
  <meta name="theme-color" content="#ff0090" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#786999">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url | cachebust }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url | cachebust }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url | cachebust }}" color="#786999">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url | cachebust }}">
  
  {#- Content metadata #}
  <title>{{ title or metadata.title }}</title>
  <meta property="og:title" content="{{ title or metadata.title }}">
  <meta property="og:site_name" content="Kimberly Grey">
  <meta property="og:url" content="{{ siteDomain }}{{ page.url | url }}">
  <meta property="og:image" content="{{ siteDomain }}{{ '/opengraph.png' | url }}">
  <meta property="og:type" content="{% if (page.url | isBlogPost) %}article{% else %}website{% endif %}">
  <meta property="og:locale" content="en_GB">
  {%- if description or metadata.description %}
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
  {%- endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@batbeeps">
  <meta name="twitter:creator" content="@batbeeps">
  {%- if noRobots %}
    <meta name="robots" content="noindex, nofollow">
  {%- endif %}
  <link rel="canonical" href="{{ siteDomain }}{{ page.url}}">
  <link rel="alternate" type="application/atom+xml" title="Blog" href="{{ '/feed.xml' | url }}">
  <link rel="me" href="https://awoo.space/@batbeeps">
  
  {#- Stylesheets #}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="{{ googleFontsUrl }}">
  <link rel="stylesheet" href="{{ googleFontsUrl }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ googleFontsUrl }}"></noscript>
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url | cachebust }}" media="all">
  
  {#- Page-specific head content #}
  {% block head %}{% endblock %}
  
</head>
<body class="kimPage_body">

  <a class="kimSkiplink" href="#content">Skip to main content</a>
  
  {% block beforeMasthead %}{% endblock %}
  {% block masthead %}
    <header class="kimMasthead">
      <div class="kimWrapper kimMasthead_inner">
        <strong class="kimMasthead_brand">
          <a class="kimMasthead_logo" href="{{ '/' | url }}">
            &larr; Kimberly Grey
          </a>
        </strong>
      </div>
    </header>
  {% endblock %}
  {% block afterMasthead %}{% endblock %}

  <main id="content">
    {% block main %}{% endblock %}
  </main>
  
  {% block beforeFooter%}{% endblock %}
  {% block footer %}
    <footer class="kimFooter">
      {% block footerRobats %}
        <div class="kimRobatWars" role="presentation">
          <div class="kimRobatWars_inner">
          </div>
        </div>
      {% endblock %}
      <div class="kimWrapper kimFooter_inner">
        <small class="kimFooter_boilerplate">
          {% block footnotes %}{% endblock %}
          {% block boilerplate %}
            Made by <a href="{{ '/contact/' | url }}">Kim</a> and <a href="{{ '/colophon/' | url }}">uncountable others</a>. Keep circulating the HTML.
          {% endblock %}
        </small>
      </div>
    </footer>
  {% endblock %}
  {% block afterFooter %}{% endblock %}

  {% block scripts %}{% endblock %}
  
</body>
</html>