{%- set googleFontsUrl = "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400..700&family=Space+Mono&display=swap" -%}

<!doctype html>
<html lang="en" class="kimPage no-js">
<head>
  {# Tech metadata #}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {# Content metadata #}
  <title>{{ title or metadata.title }}</title>
  {%- if description or metadata.description %}
    <meta name="description" content="{{ description or metadata.description }}">
  {%- endif %}
  {%- if noRobots %}
    <meta name="robots" content="noindex, nofollow">
  {%- endif %}
  
  {# JavaScript - no-js #}
  <script>let d = document.documentElement; d.classList.remove('no-js'); d.classList.add('js');</script>
  
  {# Stylesheets #}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="{{ googleFontsUrl }}">
  <link rel="stylesheet" href="{{ googleFontsUrl }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ googleFontsUrl }}"></noscript>
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url | cachebust }}" media="all">
  
  {# Page-specific head content #}
  {% block head %}{% endblock %}
  
</head>
<body class="kimPage_body">

  <a class="kimSkiplink" href="#content">Skip to main content</a>
  
  {% block beforeMasthead %}{% endblock %}
  {% block masthead %}
    <header class="kimMasthead">
      <div class="kimWrapper kimMasthead_inner">
        <strong class="kimMasthead_brand">
          <a class="kimMasthead_logo" href="{{ '/' | url }}">
            &larr; Kimberly Grey
          </a>
        </strong>
      </div>
    </header>
  {% endblock %}
  {% block afterMasthead %}{% endblock %}

  <main id="content">
    {% block main %}{% endblock %}
  </main>
  
  {% block beforeFooter%}{% endblock %}
  {% block footer %}
    <footer class="kimFooter">
      {% block footerRobats %}
        <div class="kimRobatWars" role="presentation">
          <div class="kimRobatWars_inner">
          </div>
        </div>
      {% endblock %}
      <div class="kimWrapper kimFooter_inner">
        <small class="kimFooter_boilerplate">
          {% block footnotes %}{% endblock %}
          {% block boilerplate %}
            Made by Kim and <a href="{{ '/colophon/' | url }}">uncountable others</a>. Keep circulating the HTML.
          {% endblock %}
        </small>
      </div>
    </footer>
  {% endblock %}
  {% block afterFooter %}{% endblock %}

  {% block scripts %}{% endblock %}
  
  <!-- Current page: {{ page.url | url }} -->
</body>
</html>