ErrorDocument 404 /404/

<Files "feed.xml">
  ForceType application/atom+xml
</Files>

<IfModule mod_headers.c>
  <FilesMatch ".(css|js|ico|svg|png|jpg|jpeg|gif|webp|woff2)$">
    Header set Cache-Control "max-age=94608000, public"
  </FilesMatch>
</IfModule>