---
title: 404, page not found
eleventyExcludeFromCollections: true
---

{% extends 'src/_layouts/layout.njk' %}

{% block beforeMasthead %}
<canvas class="page-background" id="background" width="1000" height="500" hidden></canvas>
{% endblock %}

{% block main %}
  <div class="kim-!-padding-block-9">
    <div class="kimWrapper">
      <div class="page-content">
        <div id="robatJail">
          <img alt="A robat, floating in space." src="{{ '/assets/images/robat-404.png' | url }}" id="robat">
        </div>
        <h1 class="kimHeading-xl kim-!-margin-block-end-6">
          It&rsquo;s been a long&nbsp;road&hellip;
        </h1>
        <p class="kimBody">The page you were looking for has been lost in space.</p>
        <p class="kimBody">It might have been deleted. It might never have existed at all. It is a mystery. 👻</p>
        <p><a href="{{ '/' | url }}" class="kimLink-plain">Return home</a></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block masthead %}{# Keep it simple, stupid. #}{% endblock %}
{% block footer %}{# Keep it really simple, stupid. #}{% endblock %}
{% block footerRobats %}{# Keep it incredibly simple, stupid. #}{% endblock %}

{% block head %}
<style>
  .page-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .page-content {
    max-width: 22em;
    margin-inline: auto;
    text-align: center;
  }
  
  #robatJail {
    display: inline-block;
    animation-name: robatSpin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 47s;
    animation-delay: -5s;
    user-select: none;
    pointer-events: none;
  }
  #robat {
    height: 12.5rem;
    animation-name: robatBounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 22s;
    animation-delay: -47s;
  }
  
  @keyframes robatSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }
  
  @keyframes robatBounce { 
    0%, 100% { transform: translate(-1rem, -1rem); }
    25% { transform: translate(1rem, 1rem); }
    50% { transform: translate(1rem, -1rem); }
    75% { transform: translate(-1rem, 1rem); }
  }
  
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module">
  import Spots from "{{ '/assets/javascript/spots.js' | url | cachebust }}";
  new Spots(document.querySelector(".page-background"), { isAnimated: true });
</script>
{% endblock %}