---
title: 404, page not found
eleventyExcludeFromCollections: true
---

{% extends 'src/_layouts/layout.njk' %}

{% css %}
.pageWrapper {
  max-width: 22em;
  margin-inline: auto;
  text-align: center;
}
  
.pageImage {
  margin-block-end: 0;
}

.pageHeading {
  margin-block-start: calc(var(--space-3) * -1);
  margin-block-end: var(--space-5);
  transform: rotate(2deg);
}

.pageContent {
  transform: rotate(-3deg);
}

.pageIt,
.pageYou {
  color: var(--color-text-accent);
}

.pageIt {
  position: relative;
}

.pageIt::after {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 9/16;
  position: absolute;
  top: 100%;
  left: 0;
  background-image: url("{{ '/assets/images/noodle-404-drips.webp' | url }}");
  background-size: contain;
  background-repeat: no-repeat;
}
{% endcss %}

{% block main %}
  <div class="kim-!-padding-block-start-3-4 kim-!-padding-block-end-3-4">
    <div class="kimWrapper">
      <div class="pageWrapper">
        {% responsiveImage "./src/assets/images/noodle-404.webp", "An amphimorpho stuck to the wall, looking at the viewer aggressively.", { classes: "pageImage", lazy: false } %}
        <h1 class="kimHeading-s pageHeading">
          The page you were looking for couldn&rsquo;t be found&hellip;<br>
          but <span class="pageIt">it</span> has found <span class="pageYou">you</span>!
        </h1>
        <div class="pageContent">
          <p class="kimBody">You might want to get out of here fast.<br>
          <a href="{{ '/' | url }}" class="kimLink">Return home, quickly!</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block masthead %}{# Keep it simple, stupid. #}{% endblock %}
{% block footer %}{# Keep it really simple, stupid. #}{% endblock %}
