---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  filter: [all]
eleventyComputed:
  title: Blog posts tagged '{{ tag }}'
metadata:
  description: Archive of beeps' blog posts.
permalink: "/blog/{{ tag | slugify }}/"
isBlogTagPage: true
mastheadSection:
  href: "/blog/"
  text: "Blog"
cssComponents:
  - blog-card
---

{% set postsList = collections[tag] %}
{% extends 'src/_layouts/blog-archive.njk' %}
