---
title: Contact beeps
redirect_from: /twitter-migration/
metadata:
  description: Links to places beeps exists.
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-margin-block-8-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <h1 class="kimHeading-xl">
            Contact beeps
          </h1>
          <p class="kimBody-l">Places where you could potentially get in touch with me, if I feel like it.</p>
        </div>
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <ul class="kimList kimList-spaced">
            <li>Email - <a class="kimLink" href="mailto:{{ site.authorEmail }}">{{ site.authorEmail }}</a></li>
            <li>
              <a class="kimLink" href="//social.beeps.gay/@beeps">Mastodon - beeps@social.beeps.gay</a><br>
              <span class="kimBody-s">
                Mastodon posts are also <a class="kimLink" href="https://bsky.app/profile/beeps.gay">crossposted to Bluesky</a>
              </span>
            </li>
            <li><a class="kimLink" href="//github.com/querkmachine">GitHub - querkmachine</a></li>
            <li><a class="kimLink" href="//www.linkedin.com/in/querkmachine/">LinkedIn - querkmachine</a></li>
          </ul>
          <p class="kimBody">Other online profiles can be found on <a class="kimLink" href="https://beeps.gay">my link site, beeps.gay</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}