---
title: Contact beeps
redirect_from: /twitter-migration/
metadata:
  description: Links to places beeps exists.
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-margin-top-9 kim-!-margin-bottom-9">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <h1 class="kimHeading-xl">
            Contact beeps
          </h1>
          <p class="kimBody-l">Places where you could potentially get in touch with me, if I feel like it.</p>
        </div>
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <ul class="kimList kimList-spaced">
            <li>Email - <a href="mailto:{{ site.authorEmail }}">{{ site.authorEmail }}</a></li>
            <li><a href="//chitter.xyz/@batbeeps">Mastodon - batbeeps@chitter.xyz</a></li>
            <li><a href="//github.com/querkmachine">GitHub - querkmachine</a></li>
            <li><a href="//www.linkedin.com/in/querkmachine/">LinkedIn - querkmachine</a></li>
          </ul>
          <p class="kimBody">Other online profiles can be found on <a href="https://beeps.gay">my link site, beeps.gay</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}