---
title: Kim 'beeps' Grey's Curriculum Vitae
metadata:
  description: Kim 'beeps' Grey's Curriculum Vitae
  noRobots: true
permalink: "/cv/"
---

{% extends 'src/_layouts/unbranded.njk' %}

{% block head %}
<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap');

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none; 
}
body {
  color: black;
  font-family: "IBM Plex Serif", serif;
  line-height: 1.5;
}
h1, h2, h3 {
  margin-top: 1.5em;
  line-height: 1.1;
}
h1 {
  margin-top: 0;
  font-size: 1.953rem;
}
h2 {
  font-size: 1.563rem;
}
h3 {
  font-size: 1.25rem;
}
a {
  color: inherit;
}
dl {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}
dl > div {
  
}
dl dt {
  font-style: italic;
}
dl dd {
  margin: 0;
}
body > header,
main > section {
  padding-bottom: 1em;
  border-bottom: .25rem solid currentcolor;
}
time {
  font-style: italic;
}
footer {
  font-size: .8rem;
}

@media screen {
  body {
    max-width: 21cm;
    margin: 0 auto;
    padding: 1cm;
  }
  #printme {
    margin-bottom: 1cm;
    padding: .5rem;
    text-align: center;
    color: white;
    background-color: black;
  }
}

@media print {
  h1, h2, h3 {
    page-break-after: avoid;
  }
  section a::after {
    content: ' (' . attr(href) . ')';
    text-decoration: none;
    font-size: .8rem;
  }
  #printme {
    display: none;
  }
}
</style>
{% endblock %}

{% block main %}
<div id="printme">Need a paper copy for some reason? <a href="javascript:window.print()">This page can be printed.</a></div>

<header>
  <h1>Hi, I&rsquo;m Kim &ldquo;beeps&rdquo; Grey</h1>

  <dl>
    <div>
      <dt>Pronouns</dt>
      <dd>it/its</dd>
    </div>
    <div>
      <dt>Location</dt>
      <dd>Bristol, UK</dd>
    </div>
    <div>
      <dt>Email</dt>
      <dd><a href="mailto:hi@berly.kim">hi@berly.kim</a></dd>
    </div>
    <div>
      <dt>Website</dt>
      <dd><a href="//beeps.website">beeps.website</a></dd>
    </div>
    <div>
      <dt>GitHub</dt>
      <dd><a href="//github.com/querkmachine">github.com/querkmachine</a></dd>
    </div>
    <div>
      <dt>LinkedIn</dt>
      <dd><a href="//linkedin.com/in/querkmachine">linkedin.com/in/querkmachine</a></dd>
    </div>
  </dl>
</header>

<main>

  <section>
    <h2>Experience</h2>
  
    <section>
      <header>
        <h3>
          Front-end developer<br />
          Government Digital Service, Cabinet Office
        </h3>
        <time datetime="2022-03/">March 2022&ndash;present</time>
      </header>
      <div>
        <p>
          Front-end developer on the GOV.UK Design System, used across central
          government (and beyond) to build joined up, consistent, and accessible
          user-centred services.
        </p>
        <p>Early efforts include extensive rework of character counters, forwarding proposals to remove legacy Internet Explorer support, and introducing full localisation support to GOV.UK Frontend components.</p>
      </div>
    </section>
  
    <section>
      <header>
        <h3>
          Founder and managing director<br />
          at Severn Bronies
        </h3>
        <time datetime="2012-07/">July 2012&ndash;present</time>
      </header>
      <div>
        <p>
          Originally the Bristol Bronies, the Severn Bronies is a community hub
          serving the My Little Pony fandom in south-west England and south Wales.
          We organise and hold meets every week, ranging from small socials to
          elaborate events incorporating gaming, cosplay, vendors, live
          programming, and more. We’ve popped up in the media a few times,
          including in the Bristol Post, BBC Points West, BBC Inside Out, and
          Jeremy Vine’s Radio 2 show.
        </p>
        <p>
          We make efforts to be active in the community and have fundraised for
          local charities, as well as having our own network for supporting
          transgender and gender non-conforming individuals. I organise the meets,
          perform administrative and financial duties, and design and maintain the
          group’s website and brand identity.
        </p>
      </div>
    </section>
    
    <section>
      <header>
        <h3>
          Lead front-end developer &amp; accessibility and inclusivity advocate<br />
          at Felinesoft, Bristol
        </h3>
        <time datetime="2014-06/2022-02">June 2014&ndash;February 2022</time>
      </header>
      <div>
        <p>
          Felinesoft is a flat-hierarchy Microsoft .NET development agency. My
          primary role is to take designs and turn them into design systems whilst
          embedding progressive enhancement principles, accessibility and
          responsive design in the process. Here I’ve worked with dozens of
          clients including the Royal Photographic Society, Rolls-Royce Motor
          Cars, Jack Daniel&rsquo;s, The Kennel Club, and the British Association
          for Counselling and Psychotherapy.
        </p>
        <p>
          In carrying out this role I defined evolutionary (and at times,
          revolutionary) process changes to embed best practice into every part of
          the design and development process. I also created a raft of open- and
          closed-source frameworks including FSForms, a best-practice forms
          library; Kickstart, a Fractal-based design system framework; and
          Felafel, a services-oriented bootstrapping library.
        </p>
        <p>
          I’ve also worked as a PHP developer, graphic designer, UX and UI
          designer on disparate projects where those skills were required.
        </p>
      </div>
    </section>
  
    <section>
      <header>
        <h3>Freelance web developer</h3>
        <time datetime="2013-04/2014-06">April 2013&ndash;June 2014</time>
      </header>
      <div>
        <p>
          Self-employed website designer and developer, doing contracted work for
          agencies and small companies in and around Bristol.
        </p>
      </div>
    </section>
  
    <section>
      <header>
        <h3>
          Full-stack web developer<br />
          at Goram + Vincent, Bristol
        </h3>
        <time datetime="2012-07/2013-04">July 2012&ndash;April 2013</time>
      </header>
      <div>
        <p>
          Industrial placement year at a small full-service agency in Bristol. I
          worked across the stack doing front- and back-end development, CMS
          management and server administration work for a number of high-profile
          clients, including Drinkaware, Brothers Cider, the BMJ, and Glorious
          Brands; working as lead developer on some projects.
        </p>
      </div>
    </section>
  
    <section>
      <header>
        <h3>Bits on the side</h3>
      </header>
      <div>
        <p>
          In the past I’ve also served time as a wiki administrator
          (2008&ndash;2012), charity retail volunteer (2011&ndash;2012), social
          network administrator (2007&ndash;2011), editor-in-chief of a fanzine
          (2007&ndash;2010), and as a classroom assistant (2006&ndash;2008).
        </p>
        <p>
          In my free time I’ve written a bunch of open-source stuff, including
          <a href="//github.com/querkmachine/vanilla-validation"
            >Vanilla Validation</a
          >
          (a styling layer over ValidityState),
          <a href="//extensions.panic.com/extensions/querkmachine/querkmachine.RandomizeEverything/"
            >Randomize Everything</a
          >
          (a Nova editor extension), and
          <a href="//botsin.space/@batsbatsbats">Hourly Bats!</a> (a Mastodon bot that posts freely licensed bat photos approximately once an hour). All of these can be found on my GitHub profile.
        </p>
      </div>
    </section>
  </section>
  
  <section>
    <h2>Education</h2>
  
    <section>
      <header>
        <h3>
          2:1 Web Design BSc (Hons)<br />at the University of the West of England,
          Bristol
        </h3>
        <time datetime="2010/2014">2010&ndash;2014</time>
      </header>
      <div>
        <p>
          An extensive course focused on website design and development, including
          focuses on designing information, user experience and programming in a
          range of front-end and back-end languages. This course was heavily
          vocational, with several modules focusing on real world applications
          with real world clients. Actively involved in the university&rsquo;s
          video gaming and sci-fi/fantasy societies (and vaguely involved in the
          Quidditch society too.)
        </p>
      </div>
    </section>
  
    <section>
      <header>
        <h3>Aquinas College, Stockport</h3>
        <time datetime="2008/2010">2008&ndash;2010</time>
      </header>
      <div>
        <p>
          Achieved grade C in A-Level Computing, Politics &amp; General Studies.
          Achieved grade D in Applied ICT. Also tried my hand at Philosophy, which
          was super fun, but unfortunately failed the subject.
        </p>
      </div>
    </section>
  </section>

</main>

<footer>
  <p>
    Please note: I legally changed my name in 2015 for personal reasons. As a
    result, certifications, references and other documentation from before then
    (as well as certain documents from afterwards) may be under a different
    name. Don’t be surprised if you reach out to my university and they’ve never
    heard of me!
  </p>
</footer>
{% endblock %}