---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.blogName }}</title>
  <subtitle>The inane ramblings of beeps.</subtitle>
  <link href="{{ permalink | url | absoluteUrl(site.domain) }}" rel="self"/>
  <link href="{{ site.domain }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.domain }}</id>
  <author>
    <name>{{ site.authorName }}</name>
    <email>{{ site.authorEmail }}</email>
  </author>
  {%- for post in collections.blog | reverse %}
  {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.domain) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.content | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>