---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.blogName }}</title>
    <link>{{ site.domain }}/</link>
    <description>The inane ramblings of beeps.</description>
    <lastBuildDate>{{ collections.blog | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
    <generator>{{ eleventy.generator }}</generator>
    <language>en</language>
    <image>
      <title>{{ site.blogName }}</title>
      <url>{{ '/assets/images/icons/icon-512.png' | url | absoluteUrl(site.domain) }}</url>
      <link>{{ site.domain }}/</link>
    </image>
    <copyright>Content belongs to beeps except where otherwise stated.</copyright>
    <atom:link href="{{ '/feed.xml' | absoluteUrl(site.domain) }}" rel="self" type="application/rss+xml"/>
    {%- for post in collections.blog | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(site.domain) %}
    <item>
      <title><![CDATA[{{ post.data.title | safe }}]]></title>
      <link>{{ absolutePostUrl }}</link>
      <guid>{{ absolutePostUrl }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <author>{{ site.authorEmail }} ({{ site.authorName }})</author>
      <enclosure url="{{ post.data.opengraphImage | absoluteUrl(site.domain) }}" length="0" type="image/png"/>
      <description><![CDATA[{{ post.data.metadata.description }}]]></description>
      <content:encoded><![CDATA[{{ post.content | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content:encoded>
    </item>
    {%- endfor %}
  </channel>
</rss>