---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
Made by beeps, who is not a human.
{{ '/about/nonhuman/' | url }}

Credits for this website can be found at:
{{ '/colophon/' | url }}