---
title: Front-end developer, furry, robot
description: The personal website of beeps (aka, Kim Grey), the web developer, not the other ones.
---

{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% block head %}
<style>
.page {
  overflow-x: hidden;
}
.page-header {
  position: relative;
}
.page-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 9rem;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: var(--color-accent-alt);
  background-image: url("{{ '/assets/images/nebula.jpg' | url }}");
  background-size: cover;
}
.page-header-robat {
  height: auto;
  width: 8rem;
}
.page-blogs-robat {
  display: none;
}
@media (min-width: 600px) {
  .page-header .kimBody {
    max-width: 60%;
  }
  .page-header::before {
    width: 43vw;
    height: 100%;
    right: 0;
    clip-path: polygon(12rem 0, 100% 0, 100% 100%, 0 100%);
  }
  .page-header-robat {
    width: 42%;
    height: auto;
    float: right;
    shape-outside: url("{{ '/assets/images/robat-home.png' | url }}");
    shape-margin: 2rem;
  }
  .page-blogs {
    overflow: hidden;
  }
  .page-blogs-robat {
    display: initial;
  }
}
</style>
{% endblock %}

{% block masthead %}{# Where we're going, we don't need mastheads. #}{% endblock %}

{% block main %}
<div class="page">
  <header class="page-header kim-!-padding-top-9 kim-!-padding-bottom-9">
    <div class="kimWrapper">
      {% responsiveImage "./src/assets/images/robat-home.png", "", classes="page-header-robat" %}
      <h1 class="kimHeading-xl kim-!-text-color-accent">Hello universe,<br>I&rsquo;m beeps.</h1>
      <p class="kimBody">I&rsquo;m a Bristol-based <a href="{{ '/work/' | url }}">front-end developer</a> specialising in accessibility, design systems, and the semantic web. I currently work at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a> on the <a href="http://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
      <p class="kimBody">I'm an <a href="{{ '/about/gender/' | url }}">agender</a> (I use it/its pronouns), <a href="{{ '/about/asexuality/' | url }}">asexual</a>, <a href="{{ '/about/robot/' | url }}">alterhuman robot</a>. I'm also <a href="{{ '/about/furry/' | url }}">a bat on the internet</a>. It's all a bit complicated.</p>
      <p class="kimBody">This is my personal website where I kinda just put whatever. It&rsquo;s not like you can stop me.</p>
      <p class="kimBody"><a href="{{ '/about/' | url }}" class="kimLink-plain">More about me &rarr;</a></p>
    </div>
  </header>
  
  <section class="page-blog kim-!-padding-top-9 kim-!-padding-bottom-9" id="blog" aria-labelledby="blog-heading">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="page-blogs-robat kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
          {% responsiveImage "./src/assets/images/robat-home-blogs.png", "" %}
        </div>
        <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
          <h2 class="kimHeading-l" id="blog-heading">Recently written words</h2>
          <ol class="kimList">
            {% for post in collections.blog | reverse | head(3) %}
              {{ kimBlogCard(post) }}
            {% endfor %}
          </ol>
          <p class="kimBody"><a href="{{ '/blog/' | url }}" class="kimLink-plain">More blog posts &rarr;</a></p>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}