---
title: "beeps — front-end developer, furry, robot"
isFullTitle: true
metadata:
  description: The personal website of beeps (aka, Kim Grey), the web developer, not the other ones.
cssComponents:
  - splash
  - button-grid
  - blog-card
---

{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% block head %}
<style>
/**
 * Intro splash
 */
.page-intro {
  margin-block-end: var(--space-5);
}

/** 
 * Blogs
 */
.page-blog {
  background-color: color-mix(in lch, var(--color-background) 70%, #000);
  margin-block-end: var(--space-7);
}
[data-color-scheme="light"] .page-blog {
  background-color: color-mix(in lch, var(--color-background) 95%, #000);
}
.page-blog-noodle,
.page-about-noodle {
  margin-block-start: -5%;
}
.page-blog-heading {
  margin-block-start: var(--space-5);
}

/**
 * About
 */
.page-about {
  margin-block-end: var(--space-8-9);
}

/**
 * Webrings
 */ 
.page-rings { 
  margin-block: 0;
}
.page-rings svg { 
  inline-size: 1.5em;
  block-size: 1.5em;
  forced-color-adjust: auto;
}
.page-rings div { 
  margin-block-end: var(--space-3);
}
.page-rings dt { 
  font-weight: bold;
}
.page-rings dd {
  margin-inline: 0;
}
</style>
{% endblock %}

{% block masthead %}{# Where we're going, we don't need mastheads. #}{% endblock %}

{% block main %}
<header class="kimSplash page-intro">
  <canvas class="kimSplash_background" width="1000" height="500" hidden></canvas>
  <div class="kimWrapper kimSplash_inner">
    <h1 class="kimSplash_text">
      <strong>I'm beeps.</strong>
      A shapeshifter on the internet that builds websites &amp; writes stuff.
    </h1>
    <img class="kimSplash_image" srcset="{{ '/assets/images/noodle-home.png' | url }} 1x, {{ '/assets/images/noodle-home@2x.png' | url }} 2x" src="{{ '/assets/images/noodle-home.png' | url }}" alt="" width="552" height="778">
  </div>
</header>
  
<section class="page-blog" id="blog" aria-labelledby="blog-heading">
  <div class="kimWrapper">
    <div class="kimGrid">
      <div class="page-blog-noodle kimGrid_column kimGrid_column-full nx:kimGrid_column-oneQuarter">
        <img srcset="{{ '/assets/images/noodle-blog.png' | url }} 1x, {{ '/assets/images/noodle-blog@2x.png' | url }} 2x" src="{{ '/assets/images/noodle-blog.png' | url }}" alt="">
      </div>
      <div class="kimGrid_column kimGrid_column-full nx:kimGrid_column-threeQuarters">
        <h2 class="kimHeading-m page-blog-heading" id="blog-heading">Recent blog posts</h2>
        <div class="kimGrid">
          {% for post in collections.blog | reverse | head(3) %}
            <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird kim-!-margin-block-end-4-5">
              {{ kimBlogCard(post, { element: "div" }) }}
            </div>
          {% endfor %}
        </div>
        <p class="kimBody"><a href="{{ '/blog/' | url }}" class="kimLink-plain">All blog posts &rarr;</a></p>
      </div>
    </div>
  </div>
</section>

<section class="page-about" id="about" aria-labelledby="about-heading">
  <div class="kimWrapper">
    <div class="kimGrid">
      <div class="kimGrid_column kimGrid_column-full nx:kimGrid_column-twoThirds">
        <h2 class="kimHeading-m kim-!-margin-block-start-0" id="about-heading">About beeps</h2>
        <p class="kimBody">I&rsquo;m a Bristol-based <a href="{{ '/about/work/' | url }}">frontend developer</a> specialising in accessibility, design systems, and the semantic web. I currently work at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a> on the <a href="http://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
        <p class="kimBody">I'm an <a href="{{ '/about/gender/' | url }}">agender</a> (I use it/its pronouns), <a href="{{ '/about/asexuality/' | url }}">asexual</a>, <a href="{{ '/about/nonhuman/' | url }}">alterhuman robot</a>. I'm also <a href="{{ '/about/furry/' | url }}">a shapeshifting critter on the internet</a>. It's all a bit complicated.</p>
        <p class="kimBody">This is my personal website where I kinda just put whatever. It&rsquo;s not like you can stop me.</p>
        <p class="kimBody"><a href="{{ '/about/' | url }}" class="kimLink-plain">More about me &rarr;</a></p>
      </div>
      <div class="kimGrid_column kimGrid_column-full nx:kimGrid_column-oneThird">
        <img class="page-about-noodle" src="{{ '/assets/images/noodle-opengraph.png' | url }}" alt="" width="408" height="500">
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block beforeFooter %}
{%- if webrings or buttons.homepage %}
  <div class="kimGrid">
    {%- if webrings %}
    <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
      <h2 class="kimHeading-xs" id="webrings">Webrings</h2>
      <dl class="kimGrid page-rings">
        {%- for ring in webrings %}
        <div class="kimGrid_column kimGrid_column-oneHalf constitution:kimGrid_column-oneThird">
          <dt>
            <a class="kimLink-plain" href="{{ ring.url }}">
              {% include "./assets/images/" + ring.icon %}<br>
              {{ ring.name }}
            </a>
          </dt>
          <dd>
            <a class="kimLink-plain" href="{{ ring.previousUrl }}" aria-label="Previous site in {{ ring.name }} webring">
              ← Previous
            </a>
          </dd>
          <dd>
            <a class="kimLink-plain" href="{{ ring.nextUrl }}" aria-label="Next site in {{ ring.name }} webring">
              → Next
            </a>
          </dd>
        </div>
        {%- endfor %}
      </dl>
    </div>
    {%- endif %}
    {%- if buttons.homepage %}
      {% from "src/_includes/88x31-button.njk" import kim88x31Button %}
      <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
        <h2 class="kimHeading-xs">Buttons</h2>
        <div class="kimButtonGrid">
          {%- for button in buttons.homepage %}{{ kim88x31Button(button) }}{%- endfor %}
        </div>
      </div>
    {%- endif %}
  </div>

  <hr class="kimRule kimRule-hairline">
{%- endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module">
  import Spots from "{{ '/assets/javascript/spots.js' | url | cachebust }}";
  new Spots(document.querySelector(".kimSplash_background"), {
    heightProportion: .75,
    useCalendarThemes: true
  });
</script>
{% endblock %}