---
title: "beeps — front-end developer, furry, robot"
isFullTitle: true
metadata:
  description: The personal website of beeps (aka, Kim Grey), the web developer, not the other ones.
---

{% extends 'src/_layouts/layout.njk' %}

{% from "src/_includes/blog-card.njk" import kimBlogCard %}

{% block head %}
<style>
.page {
  overflow-x: hidden;
}
.page-header {
  position: relative;
}
.page-header-background {
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
}
.page-header-title {
  color: var(--color-accent);
}
.page-header-robat {
  inline-size: 8rem;
  block-size: auto;
}
.page-blogs-title {
  margin-block-start: 0;
}
.page-blogs-robat {
  display: none;
}
@media (min-width: 600px) {
  .page-header .kimBody {
    max-inline-size: 64%;
  }
  .page-header-robat {
    inline-size: 42%;
    block-size: auto;
    margin-block-start: -5%;
    float: inline-end;
    shape-outside: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAqCAYAAACk2+sZAAAACXBIWXMAABKcAAASnAGy1v9zAAABE0lEQVRYhe2YWw4CIQxFe40Lc4kuyaW4k+uPmJGB0kIZJsYm/EyAQ98wICkr5LKEmsAAbgAOVf1LYwCcfQAATxERISlvP3M70veIISKPfN+rcjKSRICGRQuqwTVi9pbbmlHdA7es+YA1s3rg2twtw5zHFrjngGEFBMDdNT8vma1T11ziXVdNp5rkAJLoCcBhU1ugJSvtwBFFwyJFjSPhtb2mtkVNgbX9eIa03FUEj/ZkS4zswEfdRM7j48jmr/XkaXncclnV1LMrmNoktvDooFsWXO626JHhkjkjt3/L1F0lMxermRPMmoahLwlP7lfBXqh3fmhwuV4c1l8RvbfJmoRp7K3tXekUUcPPcxH4g5NEXwxexvXGkThQZNMAAAAASUVORK5CYII=);
    shape-margin: 2em;
  }
  .page-blogs {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .page-blogs-robat {
    display: initial;
  }
}
</style>
{% endblock %}

{% block masthead %}{# Where we're going, we don't need mastheads. #}{% endblock %}

{% block main %}
<div class="page">

  <header class="page-header kim-!-padding-block-8-9">
    <canvas class="page-header-background" width="1000" height="500" hidden></canvas>
    <div class="kimWrapper">
      {% responsiveImage "./src/assets/images/robat-home.png", "", classes="page-header-robat", lazy=false %}
      <h1 class="kimHeading-xl page-header-title">Hello universe,<br>I&rsquo;m beeps.</h1>
      <p class="kimBody">I&rsquo;m a Bristol-based <a href="{{ '/about/work/' | url }}">frontend developer</a> specialising in accessibility, design systems, and the semantic web. I currently work at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a> on the <a href="http://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
      <p class="kimBody">I'm an <a href="{{ '/about/gender/' | url }}">agender</a> (I use it/its pronouns), <a href="{{ '/about/asexuality/' | url }}">asexual</a>, <a href="{{ '/about/nonhuman/' | url }}">alterhuman robot</a>. I'm also <a href="{{ '/about/furry/' | url }}">a critter on the internet</a>. It's all a bit complicated.</p>
      <p class="kimBody">This is my personal website where I kinda just put whatever. It&rsquo;s not like you can stop me.</p>
      <p class="kimBody"><a href="{{ '/about/' | url }}" class="kimLink-plain">More about me &rarr;</a></p>
    </div>
  </header>
  
  <section class="page-blog kim-!-margin-block-end-8-9" id="blog" aria-labelledby="blog-heading">
    <div class="kimWrapper">
      <div class="kimGrid">
        <div class="page-blogs-robat kimGrid_column kimGrid_column-full defiant:kimGrid_column-oneThird">
          {% responsiveImage "./src/assets/images/robat-home-blogs.png", "" %}
        </div>
        <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
          <h2 class="kimHeading-l page-blogs-title" id="blog-heading">Recently written words</h2>
          <ol class="kimList kimList-spaced">
            {% for post in collections.blog | reverse | head(5) %}
              {{ kimBlogCard(post) }}
            {% endfor %}
          </ol>
          <p class="kimBody"><a href="{{ '/blog/' | url }}" class="kimLink-plain">More blog posts &rarr;</a></p>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module">
  import Spots from "{{ '/assets/javascript/spots.js' | url | cachebust }}";
  new Spots(document.querySelector(".page-header-background"), { heightProportion: .75 });
</script>
{% endblock %}