---
pagination:
  data: collections.blog
  size: 1
  alias: preview
permalink: "{{ preview.data.page.url }}opengraph/"
eleventyExcludeFromCollections: true
---

{% extends 'src/_layouts/opengraph.njk' %}

{% block title %}
  {{ preview.data.title }}
{% endblock %}

{% block metadata %}
  {{ preview.date | formatDate('human') }}
{% endblock %}