---
permalink: "/opengraph/"
eleventyExcludeFromCollections: true
---
{% extends 'src/_layouts/opengraph.njk' %}

{% block title %}
  <a class="kimLink-plain" href="/">beeps</a><br><br>
  A robot bat that<br>
  builds websites<br>
  &amp; writes stuff.
{% endblock %}