---
pagination:
  data: collections.all
  size: 1
  alias: preview
permalink: "{{ preview.data.page.url }}opengraph/"
eleventyExcludeFromCollections: true
---

{% extends 'src/_layouts/opengraph.njk' %}

{% set title = preview.data.title | default("") %}
{% set titleLength = title | length %}

{% css %}
.pageOverrideTitleSize {
  display: -webkit-box;
  margin-block-end: 0;
  padding-block-end: .1em; /* Fix descenders being cut off */
  font-size: var(--size-4);
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
{% endcss %}

{% block title %}
  {%- if preview.data.isBlogPost %}
    <div class="kimHeading-m kim-!-margin-block-start-0">
      {{ preview.date | formatDate('human') }}
    </div>
    <div class="kimHeading-xl kim-!-margin-block-start-0 {%- if titleLength >= 50 %} pageOverrideTitleSize{% endif %}">
      {{ title | markdownInline | safe }}
    </div>
  {%- elif preview.url == '/' %}
    <div class="kimHeading-xl">
      Cryptid critter<br>
      builds websites<br>
      and writes stuff.
    </div>
  {%- else %}
    <div class="kimHeading-xl">
      {{ (preview.data.title or "") | markdownInline | safe }}
    </div>
  {%- endif %}
{% endblock %}
