---
layout: generic.njk
title: Sitemap
eleventyExcludeFromCollections: true
metadata:
  description: A list of all the guff on this website.
---

{%- for section in site.navigationLinks %}
<h2 class="kimHeading-m">{{ section.heading }}</h2>
<ul class="kimList">
  {%- for link in section.items %}
    <li>
      <a class="kimLink" href="{{ link.href | url }}" {%- for attribute, value in link.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        {{- link.text -}}
      </a>
    </li>
  {%- endfor %}
</ul>
{%- endfor %}

<h2 class="kimHeading-m">Small print</h2>
<ul class="kimList">
  {%- for link in site.footerLinks %}
    <li>
      <a class="kimLink" href="{{ link.href | url }}" {%- for attribute, value in link.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        {{- link.text -}}
      </a>
    </li>
  {%- endfor %}
</ul>