---
title: The stash
metadata:
  description: A collated collection of resources and reading about website design and development.
mastheadSection:
  href: "/stash/"
  text: "The stash"
cssComponents:
  - meta
  - code
---

{% extends 'src/_layouts/layout.njk' %}

{% css %}
.pageItemGrid {
  margin-block-start: var(--space-5);
}
.pageItem {
  margin: 0;
  padding-block-start: var(--space-3);
  border-width: 0;
  border-block-start-width: var(--border-regular);
  border-style: solid;
  border-color: var(--color-furniture);
}
{% endcss %}

{% block main %}
<div class="kimWrapper kim-!-margin-block-8-9">
  <h1 class="kimHeading-xl">{{ title }}</h1>

  <div class="kimGrid">
    <div class="kimGrid_column kimGrid_column-full defiant:kimGrid_column-twoThirds">
      <p class="kimBody-l">{{ metadata.description }}</p>
    </div>
  </div>

  <div class="kimGrid pageItemGrid">
    {%- for item in collections.stash | reverse %}
      <div class="kimGrid_column kimGrid_column-full galaxy:kimGrid_column-oneHalf defiant:kimGrid_column-oneThird">
        <article class="pageItem">
          <header>
            <h2 class="kimHeading-2xs">
              <a class="kimLink" href="{{ item.data.href }}" rel="external">
                {{- item.data.title | markdownInline | safe -}}
              </a>
            </h2>
          </header>

          <div class="kim-!-margin-block-start-1">
            {{ item.content | safe }}
          </div>

          <footer>
            <dl class="kimMeta kim-!-margin-block-end-0">
              {%- if item.date %}
                <div class="kimMeta_item">
                  <dt class="kimMeta_key kim-!-visually-hidden">Shared</dt>
                  <dd class="kimMeta_value">
                    <time datetime="{{ item.date | formatDate('iso') }}">
                      {{- item.date | formatDate('human') -}}
                    </time>
                  </dd>
                </div>
              {%- endif %}
              <div class="kimMeta_item">
                <dt class="kimMeta_key">From</dt>
                <dd class="kimMeta_value">
                  {{- item.data.href | getDomainFromURL -}}
                </dd>
              </div>
            </dl>
            <p class="kimBody-s">
              <a class="kimLink" href="{{ item.url }}">
                Permalink to stash entry
                <span class="kim-!-visually-hidden">for {{ item.data.title }}</span>
              </a>
            </p>
          </footer>
        </article>
      </div>
    {%- endfor %}
  </dl>
</div>
{% endblock %}
