{%- set googleFontsUrl = "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400..700&family=Space+Mono&display=swap" -%}

<!doctype html>
<html lang="en" class="kimPage no-js">
<head>
  {# Tech metadata #}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {# Content metadata #}
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  
  {# Stylesheets #}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="{{ googleFontsUrl }}">
  <link rel="stylesheet" href="{{ googleFontsUrl }}" media="print" onload="this.media='all'">
  <noscript>
    <link rel="stylesheet" href="{{ googleFontsUrl }}">
  </noscript>
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url }}" media="all">
  
  {# Page-specific head content #}
  {{ head | safe }}
  
</head>
<body class="kimPage_body">

  {{ content | safe }}
  
  {# Page-specific foot content #}
  {{ foot | safe }}
  
  <!-- Current page: {{ page.url | url }} -->
</body>
</html>