@use "sass:color";

// All modes
$kim-color-white: #fff;
$kim-color-light-purple: #786999;

// Light mode
$kim-color-off-black: #334139;
$kim-color-light-green: #b3ffb3;

// Dark mode
$kim-color-deep-purple: #2a2536;
$kim-color-brilliant-green: oklch(85.29% 0.323 142.82);
$kim-color-brilliant-green-fallback: #00fa17;

// Assign each of those colours to a semantic purpose and whether it's used for
// dark or light mode. These get exported as CSS custom properties based on the
// name and mode — e.g. var(--color-text) will be white on dark mode and black
// on light mode.
$kim-color-palette-semantic: (
  text: (
    dark: $kim-color-white,
    light: $kim-color-off-black,
  ),
  background: (
    dark: $kim-color-deep-purple,
    light: $kim-color-white,
  ),
  link: (
    dark: (
      color: $kim-color-brilliant-green,
      fallback: $kim-color-brilliant-green-fallback,
    ),
    light: $kim-color-light-purple,
  ),
  link-accent: (
    dark: color.scale($kim-color-brilliant-green-fallback, $alpha: -80%),
    light: color.scale($kim-color-light-purple, $alpha: -80%),
  ),
  link-hover: (
    dark: $kim-color-light-purple,
    light: $kim-color-light-green,
  ),
  link-hover-accent: (
    dark: color.scale($kim-color-light-purple, $alpha: -80%),
    light: color.scale($kim-color-light-green, $alpha: -80%),
  ),
  furniture: (
    dark: (
      color: $kim-color-brilliant-green,
      fallback: $kim-color-brilliant-green-fallback,
    ),
    light: $kim-color-light-purple,
  ),
  furniture-alt: (
    dark: color.change($kim-color-light-purple, $alpha: 0.5),
    light: color.change($kim-color-light-green, $alpha: 0.5),
  ),
  accent: (
    dark: (
      color: $kim-color-brilliant-green,
      fallback: $kim-color-brilliant-green-fallback,
    ),
    light: $kim-color-light-purple,
  ),
  accent-alt: (
    dark: $kim-color-light-purple,
    light: $kim-color-light-green,
  ),
  speech-bubble: (
    dark: (
      color: $kim-color-brilliant-green,
      fallback: $kim-color-brilliant-green-fallback,
    ),
    light: $kim-color-light-purple,
  ),
  focus-background: (
    dark: #ffcc00,
  ),
  focus-text: (
    dark: #000,
  ),
);
