// Max grid width
$kim-grid-max-width: 81.25rem;

// Grid column class names and the widths they use (all automatically become
// 100% on mobile, however).
$kim-grid-widths: (
  "oneQuarter": 25%,
  "oneHalf": 50%,
  "threeQuarters": 75%,
  "oneThird": 33.33333%,
  "twoThirds": 66.66666%,
  "full": 100%,
);

:root {
  // Fixed spacing keys
  // https://utopia.fyi/space/calculator?c=320,16,1.2,1320,26,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,l,12
  --space-1: clamp(0.25rem, 0.19rem + 0.3vi, 0.4375rem);
  --space-2: clamp(0.5rem, 0.4rem + 0.5vi, 0.8125rem);
  --space-3: clamp(0.75rem, 0.59rem + 0.8vi, 1.25rem);
  --space-4: clamp(1rem, 0.8rem + 1vi, 1.625rem);
  --space-5: clamp(1.5rem, 1.2rem + 1.5vi, 2.4375rem);
  --space-6: clamp(2rem, 1.6rem + 2vi, 3.25rem);
  --space-7: clamp(3rem, 2.4rem + 3vi, 4.875rem);
  --space-8: clamp(4rem, 3.2rem + 4vi, 6.5rem);
  --space-9: clamp(6rem, 4.8rem + 6vi, 9.75rem);

  // One-up pairs
  --space-1-2: clamp(0.25rem, 0.07rem + 0.9vi, 0.8125rem);
  --space-2-3: clamp(0.5rem, 0.26rem + 1.2vi, 1.25rem);
  --space-3-4: clamp(0.75rem, 0.47rem + 1.4vi, 1.625rem);
  --space-4-5: clamp(1rem, 0.54rem + 2.3vi, 2.4375rem);
  --space-5-6: clamp(1.5rem, 0.94rem + 2.8vi, 3.25rem);
  --space-6-7: clamp(2rem, 1.08rem + 4.6vi, 4.875rem);
  --space-7-8: clamp(3rem, 1.88rem + 5.6vi, 6.5rem);
  --space-8-9: clamp(4rem, 2.16rem + 9.2vi, 9.75rem);

  // Grid system
  --grid-max-width: #{$kim-grid-max-width};
  --grid-gutter: clamp(1rem, 0.2653rem + 3.6735vw, 3.25rem);
  --grid-gutter-half: calc(var(--grid-gutter) / 2);

  // Border widths
  --border-hairline: 1px;
  --border-regular: 0.25rem;
  --border-thick: 0.5rem;
}
