// Max grid width
$kim-grid-max-width: 69rem;

// Grid column class names and the widths they use (all automatically become
// 100% on mobile, however).
$kim-grid-widths: (
  "oneQuarter": 25%,
  "oneHalf": 50%,
  "threeQuarters": 75%,
  "oneThird": 33.33333%,
  "twoThirds": 66.66666%,
  "full": 100%,
);

:root {
  // Fixed spacing keys
  // https://utopia.fyi/space/calculator?c=320,16,1.2,1320,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,l,12
  --space-1: clamp(0.25rem, 0.21rem + 0.2vi, 0.375rem);
  --space-2: clamp(0.5rem, 0.44rem + 0.3vi, 0.6875rem);
  --space-3: clamp(0.75rem, 0.65rem + 0.5vi, 1.0625rem);
  --space-4: clamp(1rem, 0.88rem + 0.6vi, 1.375rem);
  --space-5: clamp(1.5rem, 1.32rem + 0.9vi, 2.0625rem);
  --space-6: clamp(2rem, 1.76rem + 1.2vi, 2.75rem);
  --space-7: clamp(3rem, 2.64rem + 1.8vi, 4.125rem);
  --space-8: clamp(4rem, 3.52rem + 2.4vi, 5.5rem);
  --space-9: clamp(6rem, 5.28rem + 3.6vi, 8.25rem);

  // One-up pairs
  --space-1-2: clamp(0.25rem, 0.11rem + 0.7vi, 0.6875rem);
  --space-2-3: clamp(0.5rem, 0.32rem + 0.9vi, 1.0625rem);
  --space-3-4: clamp(0.75rem, 0.55rem + 1vi, 1.375rem);
  --space-4-5: clamp(1rem, 0.66rem + 1.7vi, 2.0625rem);
  --space-5-6: clamp(1.5rem, 1.1rem + 2vi, 2.75rem);
  --space-6-7: clamp(2rem, 1.32rem + 3.4vi, 4.125rem);
  --space-7-8: clamp(3rem, 2.2rem + 4vi, 5.5rem);
  --space-8-9: clamp(4rem, 2.64rem + 6.8vi, 8.25rem);

  // Grid system
  --grid-max-width: #{$kim-grid-max-width};
  --grid-gutter: clamp(1rem, 0.2653rem + 3.6735vi, 3.25rem);
  --grid-gutter-half: calc(var(--grid-gutter) / 2);

  // Border widths
  --border-hairline: 1px;
  --border-regular: 0.25rem;
  --border-thick: 0.5rem;
}
