// Magnitudes of spacing and how they change across different breakpoints.
$kim-spacing: (
  0: (
    null: 0,
  ),
  1: (
    null: 5px,
  ),
  2: (
    null: 10px,
  ),
  3: (
    null: 15px,
  ),
  4: (
    null: 15px,
    galaxy: 20px,
  ),
  5: (
    null: 15px,
    galaxy: 25px,
  ),
  6: (
    null: 20px,
    galaxy: 30px,
  ),
  7: (
    null: 26px,
    galaxy: 40px,
    defiant: 50px,
  ),
  8: (
    null: 30px,
    galaxy: 50px,
    defiant: 75px,
  ),
  9: (
    null: 40px,
    galaxy: 60px,
    defiant: 90px,
  ),
);

// Keep our border widths consistent too.
$kim-border-widths: (
  hairline: 1px,
  regular: 0.25rem,
  thick: 0.5rem,
);
