:root {
  // Font stacks
  --font-body: "Space Grotesk", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-header: var(--font-body);
  --font-code: "Space Mono", monospace, monospace;

  // Type sizes
  // https://utopia.fyi/type/calculator?c=320,16,1.2,1320,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,l,12
  --size--2: clamp(0.6944rem, 0.6351rem + 0.2969vi, 0.88rem);
  --size--1: clamp(0.8333rem, 0.748rem + 0.4267vi, 1.1rem);
  --size-0: clamp(1rem, 0.88rem + 0.6vi, 1.375rem);
  --size-1: clamp(1.2rem, 1.034rem + 0.83vi, 1.7188rem);
  --size-2: clamp(1.44rem, 1.2133rem + 1.1335vi, 2.1484rem);
  --size-3: clamp(1.728rem, 1.4216rem + 1.5321vi, 2.6855rem);
  --size-4: clamp(2.0736rem, 1.6629rem + 2.0533vi, 3.3569rem);
  --size-5: clamp(2.4883rem, 1.9418rem + 2.7326vi, 4.1962rem);
}
