---
title: "Web accessibility, for furries"
metadata:
  description: Furry websites tend to be rubbish for accessibility. Let's fix that.
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}
<div class="kim-!-margin-block-8-9">
  <div class="kimWrapper">
    <div class="kimGrid">
      <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-twoThirds">
        <p class="kimBody-l">Hey you! Yeah, you! Do you own, operate, or are otherwise involved in the administration of a website oriented at the furry fandom?</p>
        <p class="kimBody">Despite the proliferation of queer, neurodivergent and disabled people in the furry fandom, considerations for these people have historically focused on <strong>physical spaces</strong>. Think quiet rooms at conventions, wheelchair ramps at venues, and signifier badges indicating one's comfort with personal contact.</p>
        <p class="kimBody">What most of the fandom <em>sucks</em> at is accessibility of online spaces, and not without reason. Many furry websites are passion projects operated by volunteers on threadbare budgets. Keeping the lights on is always going to be a greater priority than delivering a first-class experience for disabled users.</p>
      </div>
    </div>
    <div class="kimGrid">
      <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-twoThirds">
        <p class="kimBody-l">I want to help change that.</p>
        <p class="kimBody">Hi, I'm beeps. I'm a frontend developer who specialises in web accessibility. I've also been in the furry fandom since 2005. Projects within the fandom were instrumental in gaining my early development experience and building my first portfolio.</p>
        <p class="kimBody">So I want to give something back.</p>
        <p class="kimBody">Send me a link to your website and I'll do an accessibility audit of it, <strong>for free</strong>.</p>
        <p class="kimBody">The audit will assess a few prominent pages against the WCAG 2.2 Level AA standard, which is the standard used for compliance with </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}